{% extends 'amp/base.html.twig' %}

{% block styleContent %}
    {% include 'amp/styles/partials/content-tabs.css' %}
    {% include 'amp/styles/pages/escort.css' %}
{% endblock %}

{% block ampComponents %}
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-inline-gallery" src="https://cdn.ampproject.org/v0/amp-inline-gallery-0.1.js"></script>
    <script async custom-element="amp-base-carousel" src="https://cdn.ampproject.org/v0/amp-base-carousel-0.1.js"></script>
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
{% endblock %}

{% block content %}
    <div class="container bg-white" style="margin-bottom: 10px; padding-bottom: 15px; padding-top: 10px;">
        <amp-inline-gallery layout="container">
            <amp-base-carousel
                class="gallery"
                layout="responsive"
                width="3.6"
                height="2"
                snap-align="center"
                loop="true"
                visible-count="1"
                lightbox
            >
                {% for image in escort.images %}
                    <amp-img
                        alt="{{ escort.firstName }}"
                        src="{{ appUrl }}/images/escorts/{{ image }}"
                        layout="responsive"
                        width="160"
                        height="170"
                    >
                        <amp-img
                            fallback
                            alt="{{ escort.firstName }}"
                            width="160"
                            height="170"
                            layout="responsive"
                            src="{{ appUrl }}/images/no-photo-small.svg"
                        ></amp-img>
                    </amp-img>
                {% endfor %}
            </amp-base-carousel>
            <amp-inline-gallery-pagination layout="nodisplay" inset></amp-inline-gallery-pagination>
        </amp-inline-gallery>

        <div>
            <div style="font-weight: 700; padding-bottom: 10px">{{ escort.firstName }}</div>
            <div class="d-flex">
                <div style="margin-right: 5px; width: 25px;height: 24px;">
                    <svg viewBox="0 0 25 24" fill="none">
                        <rect width="25" height="24" rx="4" fill="#0EA400"></rect>
                        <path d="M4.81794 5.35269L4.78263 5.38992C4.69788 5.47916 4.61442 5.56776 4.53096 5.64929C3.83375 6.34778 3.8222 7.83914 4.50207 9.63866C5.23395 11.5801 6.6778 13.6877 8.56399 15.5752C10.4534 17.464 12.5617 18.9065 14.4992 19.6378C15.3762 19.9677 16.2005 20.143 16.883 20.143C17.586 20.143 18.1407 19.9588 18.4886 19.6095C18.5798 19.5196 18.6761 19.4278 18.7859 19.3232C19.4381 18.7043 20.1777 18.0039 20.1379 17.039C20.1109 16.3758 19.7091 15.7415 18.9117 15.1008C16.5581 13.2088 15.6722 14.1089 14.7336 15.059L14.566 15.2285C14.4196 15.3768 13.9747 15.2369 13.4072 14.8664C12.8114 14.4793 12.0629 13.8373 11.1821 12.9565C9.16169 10.9361 8.85995 10.0778 8.85995 9.74651C8.85995 9.63994 8.89269 9.59308 8.91131 9.57446L9.07823 9.40818C10.0316 8.47022 10.9323 7.58234 9.03842 5.22814C8.39899 4.4295 7.7647 4.02889 7.10088 4.00064C7.0829 4 7.06557 4 7.04759 4C6.11413 4 5.42398 4.71454 4.81794 5.35269Z" fill="white"></path>
                    </svg>
                </div>
                <span style="color: #3B5999; font-weight: 600;">{{ escort.phone }}</span>
            </div>
        </div>
    </div>

    <div class="container bg-white">
        <amp-selector class="content-tabs" role="tablist" keyboard-select-mode="focus">
            <div id="aboutTab" role="tab" aria-controls="about" option selected>
                About
            </div>
            <div id="about" role="tabpanel" aria-labelledby="aboutTab">
                <div style="margin-bottom: 50px">{{ escort.title }}</div>
                {{ escort.content|raw }}
            </div>

            <div id="infoTab" role="tab" aria-controls="info" option>
                Info
            </div>
            <div id="info" role="tabpanel" aria-labelledby="infoTab">
                {% if escort.locations is not empty %}
                    {% set generalLocation = escort.locations|first %}
                    {% set location = [] %}
                    {% set locationState = '' %}

                    {% set location = location|merge([generalLocation.cityName]) %}
                    {% set location = location|merge([generalLocation.countryName]) %}

                    {% set stateName = generalLocation.stateName %}

                    {% if stateName is not empty %}
                        {% set locationState = ' ('~generalLocation.stateName~')' %}
                    {% endif %}

                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Locations</div>
                        <div class="escort__info-item-value">{{ location|join(', ')~locationState }}</div>
                    </div>
                {% endif %}

                {% if escort.age %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Age</div>
                        <div class="escort__info-item-value">{{ escort.age }}</div>
                    </div>
                {% endif %}

                {% if escort.ethnicityRawValue %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Nationality</div>
                        <div class="escort__info-item-value">{{ escort.ethnicity }}</div>
                    </div>
                {% endif %}

                {% if escort.heightFeet %}
                    {% set height = [] %}
                    {% set height = height|merge([escort.heightFeet~'\'']) %}

                    {% if escort.heightInches %}
                        {% set height = height|merge([escort.heightInches]) %}
                    {% endif %}

                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Height</div>
                        <div class="escort__info-item-value">{{ height|join(' ') }}</div>
                    </div>
                {% endif %}

                {% if escort.weight %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Weight</div>
                        <div class="escort__info-item-value">{{ escort.weight~' lbs' }}</div>
                    </div>
                {% endif %}

                {% if escort.hairColor %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Hair Color</div>
                        <div class="escort__info-item-value">{{ escort.hairColor }}</div>
                    </div>
                {% endif %}

                {% if escort.eyeColor %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Eye Color</div>
                        <div class="escort__info-item-value">{{ escort.eyeColor }}</div>
                    </div>
                {% endif %}

                {% if escort.bodyTypeRawValue %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Body Type</div>
                        <div class="escort__info-item-value">{{ escort.bodyType }}</div>
                    </div>
                {% endif %}

                {% if escort.isPregnant %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Pregnant</div>
                        <div class="escort__info-item-value">Yes</div>
                    </div>
                {% endif %}

                {% if escort.kittyRawValue %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Kitty</div>
                        <div class="escort__info-item-value">{{ escort.kitty }}</div>
                    </div>
                {% endif %}

                {% if escort.available %}
                    {% set availableTo = [] %}

                    {% if escort.isAvailableForMen %}
                        {% set availableTo = availableTo|merge(['Men']) %}
                    {% endif %}

                    {% if escort.isAvailableForWomen %}
                        {% set availableTo = availableTo|merge(['Women']) %}
                    {% endif %}

                    {% if escort.isAvailableForCouple %}
                        {% set availableTo = availableTo|merge(['Couple']) %}
                    {% endif %}

                    {% if escort.isAvailableForGroup %}
                        {% set availableTo = availableTo|merge(['Group']) %}
                    {% endif %}

                    {% if escort.isAvailableForBlack %}
                        {% set availableTo = availableTo|merge(['Black']) %}
                    {% endif %}

                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Available To</div>
                        <div class="escort__info-item-value">{{ availableTo|join(', ') }}</div>
                    </div>
                {% endif %}

                {% if escort.isVisaAccepted or escort.isAmexAccepted or escort.isDiscoverAccepted %}
                    {% set cards = [] %}

                    {% if escort.isVisaAccepted %}
                        {% set cards = cards|merge(['Visa/MC']) %}
                    {% endif %}

                    {% if escort.isAmexAccepted %}
                        {% set cards = cards|merge(['AMEX']) %}
                    {% endif %}

                    {% if escort.isDiscoverAccepted %}
                        {% set cards = cards|merge(['Discover']) %}
                    {% endif %}

                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Credit Cards</div>
                        <div class="escort__info-item-value">{{ cards|join(', ') }}</div>
                    </div>
                {% endif %}

                {% if escort.bust and escort.waist and escort.hip %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Measurements</div>
                        <div class="escort__info-item-value">{{ escort.bust }} - {{ escort.waist }} - {{ escort.hip }}</div>
                    </div>
                {% endif %}

                {% if escort.cupSize %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Cup size</div>
                        <div class="escort__info-item-value">{{ escort.cupSize }}</div>
                    </div>
                {% endif %}

                {% if escort.penisSize %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Penis size</div>
                        <div class="escort__info-item-value">{{ escort.penisSize~' (inches)' }}</div>
                    </div>
                {% endif %}

                {% if escort.fetishDominant or escort.fetishSubmissive or escort.fetishSwitch %}
                    {% set fetish = [] %}

                    {% if escort.fetishDominant %}
                        {% set fetish = fetish|merge(['Dominant']) %}
                    {% endif %}

                    {% if escort.fetishSubmissive %}
                        {% set fetish = fetish|merge(['Submissive']) %}
                    {% endif %}

                    {% if escort.fetishSwitch %}
                        {% set fetish = fetish|merge(['Switch']) %}
                    {% endif %}

                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Fetish</div>
                        <div class="escort__info-item-value">{{ fetish|join(', ') }}</div>
                    </div>
                {% endif %}

                <div class="font-weight-bold p-b-10">
                    Incall
                </div>
                <div class="p-b-10">
                    {% if escort.isIncallEnabled %}
                        {% if escort.incallRateHalfHour or escort.incallRateOneHour or escort.incallRateTwoHours or escort.incallRateOvernight %}
                            <div class="d-flex justify-content-between font-weight-bold align-items-center">
                                <div style="text-align: left">Duration</div>
                                <div style="text-align: right">Price</div>
                            </div>

                            {% if escort.incallRateHalfHour %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">1/2 Hour</div>
                                    <div style="text-align: right">{{ escort.incallRateHalfHour }}</div>
                                </div>
                            {% endif %}

                            {% if escort.incallRateOneHour %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">1 Hour</div>
                                    <div style="text-align: right">{{ escort.incallRateOneHour }}</div>
                                </div>
                            {% endif %}

                            {% if escort.incallRateTwoHours %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">2 Hour</div>
                                    <div style="text-align: right">{{ escort.incallRateTwoHours }}</div>
                                </div>
                            {% endif %}

                            {% if escort.incallRateOvernight %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">Overnight</div>
                                    <div style="text-align: right">{{ escort.incallRateOvernight }}</div>
                                </div>
                            {% endif %}
                        {% else %}
                            Yes
                        {% endif %}
                    {% else %}
                        No
                    {% endif %}
                </div>

                <div class="font-weight-bold p-b-10">
                    Outcall
                </div>
                <div class="p-b-10">
                    {% if escort.isOutcallEnabled %}
                        {% if escort.outcallRateHalfHour or escort.outcallRateOneHour or escort.outcallRateTwoHours or escort.outcallRateOvernight %}
                            <div class="d-flex justify-content-between font-weight-bold align-items-center">
                                <div style="text-align: left">Duration</div>
                                <div style="text-align: right">Price</div>
                            </div>

                            {% if escort.outcallRateHalfHour %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">1/2 Hour</div>
                                    <div style="text-align: right">{{ escort.outcallRateHalfHour }}</div>
                                </div>
                            {% endif %}

                            {% if escort.outcallRateOneHour %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">1 Hour</div>
                                    <div style="text-align: right">{{ escort.outcallRateOneHour }}</div>
                                </div>
                            {% endif %}

                            {% if escort.outcallRateTwoHours %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">2 Hour</div>
                                    <div style="text-align: right">{{ escort.outcallRateTwoHours }}</div>
                                </div>
                            {% endif %}

                            {% if escort.outcallRateOvernight %}
                                <div class="d-flex justify-content-between align-items-center p-y-10">
                                    <div style="text-align: left">Overnight</div>
                                    <div style="text-align: right">{{ escort.outcallRateOvernight }}</div>
                                </div>
                            {% endif %}
                        {% else %}
                            Yes
                        {% endif %}
                    {% else %}
                        No
                    {% endif %}
                </div>
            </div>

            <div id="contactTab" role="tab" aria-controls="contact" option>
                Contact
            </div>
            <div id="contact" role="tabpanel" aria-labelledby="contactTab">
                {% if escort.phone %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Phone</div>
                        <div class="escort__info-item-value">
                            <a href="tel:{{ escort.phone }}" class="text-dark">{{ escort.phone }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if escort.email %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Email</div>
                        <div class="escort__info-item-value">
                            <a href="mailto:{{ escort.email }}" class="text-dark">{{ escort.email }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if escort.website %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">Website</div>
                        <div class="escort__info-item-value">
                            <a rel="noopener noreferrer" target="_blank" href="{{ escort.website }}" class="text-dark">{{ escort.website }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if escort.facebook %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">
                            <svg style="width: 18px; height: 18px">
                                <use xlink:href="{{ appUrl }}/images/icons.svg#facebook_small"></use>
                            </svg> Facebook
                        </div>
                        <div class="escort__info-item-value">{{ escort.facebook }}</div>
                    </div>
                {% endif %}

                {% if escort.instagram %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">
                            <svg style="width: 18px; height: 18px">
                                <use xlink:href="{{ appUrl }}/images/icons.svg#instagram_small"></use>
                            </svg> Instagram
                        </div>
                        <div class="escort__info-item-value">{{ escort.instagram }}</div>
                    </div>
                {% endif %}

                {% if escort.twitter %}
                    <div class="escort__info-item">
                        <div class="escort__info-item-name">
                            <svg style="width: 18px; height: 18px">
                                <use xlink:href="{{ appUrl }}/images/icons.svg#twitter_small"></use>
                            </svg> Twitter
                        </div>
                        <div class="escort__info-item-value">{{ escort.twitter }}</div>
                    </div>
                {% endif %}
            </div>
        </amp-selector>
    </div>
{% endblock %}
