{% extends 'amp/base.html.twig' %}

{% block styleContent %}
    {% include 'amp/styles/partials/navigation-carousel.css' %}
    {% include 'amp/styles/partials/listing.css' %}
    {% include 'amp/styles/pages/escort-type.css' %}
{% endblock %}

{% block ampComponents %}
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
{% endblock %}

{% set getEscortsUrl = path('escorts', {'locationId': city.id, 'type': typeSlug, 'limit': maxEscortsCountPerPage}) %}

{% block content %}
    {% include 'amp/partials/navigation-carousel.html.twig' with slides %}

    <div class="bg-white">
        <div class="container">
            <div class="p-y-15">
                <div class="font-weight-bold">{{ escortsTotalCount }} {{ typeName }} in</div>
                <div class="text-primary font-weight-bold">{{ city.name }}</div>
            </div>
        </div>
    </div>

    <div class="container bg-white m-y-10 p-y-10">
        <amp-state id="escorts" [src]="'{{ getEscortsUrl }}&offset=' + (page - 1) * {{ maxEscortsCountPerPage }}"></amp-state>
        <amp-state id="page"><script type="application/json">1</script></amp-state>

        <div [hidden]="page > 1">
            {% for ad in ads %}
                <a class="listing__item" href="{{ ad.directLink }}" target="_blank">
                    <div class="listing__img escort-type__img">
                        <amp-img
                                alt="{{ ad.firstName }}"
                                src="{{ appUrl }}/images/escorts/{{ ad.id }}.jpg"
                                width="125"
                                height="125"
                                layout="fixed"
                        >
                            <amp-img
                                    fallback
                                    alt="{{ ad.firstName }}"
                                    width="125"
                                    height="125"
                                    layout="fixed"
                                    src="{{ appUrl }}/images/no-photo-small.svg"
                            ></amp-img>
                        </amp-img>
                    </div>
                    <div class="listing__item-text-body">
                        <div class="p-x-10">
                            <div class="d-flex flex-direction-column">
                                <div class="escort-type__item-label">Advertising</div>
                                <div class="listing__item-title">{{ ad.firstName }}</div>
                            </div>
                            <div class="escort-type__item-subtitle">{{ ad.title }}</div>
                        </div>
                        <div class="listing__item-bottom">
                            <div class="listing__phone-icon">
                                <svg viewBox="0 0 25 24" fill="none">
                                    <rect width="25" height="24" rx="4" fill="#0EA400"></rect>
                                    <path d="M4.81794 5.35269L4.78263 5.38992C4.69788 5.47916 4.61442 5.56776 4.53096 5.64929C3.83375 6.34778 3.8222 7.83914 4.50207 9.63866C5.23395 11.5801 6.6778 13.6877 8.56399 15.5752C10.4534 17.464 12.5617 18.9065 14.4992 19.6378C15.3762 19.9677 16.2005 20.143 16.883 20.143C17.586 20.143 18.1407 19.9588 18.4886 19.6095C18.5798 19.5196 18.6761 19.4278 18.7859 19.3232C19.4381 18.7043 20.1777 18.0039 20.1379 17.039C20.1109 16.3758 19.7091 15.7415 18.9117 15.1008C16.5581 13.2088 15.6722 14.1089 14.7336 15.059L14.566 15.2285C14.4196 15.3768 13.9747 15.2369 13.4072 14.8664C12.8114 14.4793 12.0629 13.8373 11.1821 12.9565C9.16169 10.9361 8.85995 10.0778 8.85995 9.74651C8.85995 9.63994 8.89269 9.59308 8.91131 9.57446L9.07823 9.40818C10.0316 8.47022 10.9323 7.58234 9.03842 5.22814C8.39899 4.4295 7.7647 4.02889 7.10088 4.00064C7.0829 4 7.06557 4 7.04759 4C6.11413 4 5.42398 4.71454 4.81794 5.35269Z" fill="white"></path>
                                </svg>
                            </div>
                            <span class="listing__phone">{{ ad.phone }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% for sponsor in sponsors %}
                <a class="listing__item" href="{{ city.url }}{{ sponsor.typeSlug }}/{{ sponsor.id }}">
                    <div class="listing__img escort-type__img">
                        <amp-img
                                alt="{{ sponsor.firstName }}"
                                src="{{ appUrl }}/images/escorts/{{ sponsor.id }}.jpg"
                                width="125"
                                height="125"
                                layout="fixed"
                        >
                            <amp-img
                                    fallback
                                    alt="{{ sponsor.firstName }}"
                                    width="125"
                                    height="125"
                                    layout="fixed"
                                    src="{{ appUrl }}/images/no-photo-small.svg"
                            ></amp-img>
                        </amp-img>
                    </div>
                    <div class="listing__item-text-body">
                        <div class="p-x-10">
                            <div class="d-flex flex-direction-column">
                                <div class="escort-type__item-label">Sponsor</div>
                                <div class="listing__item-title">{{ sponsor.firstName }}</div>
                            </div>
                            <div class="escort-type__item-subtitle">{{ sponsor.title }}</div>
                        </div>
                        <div class="listing__item-bottom">
                            <div class="listing__phone-icon">
                                <svg viewBox="0 0 25 24" fill="none">
                                    <rect width="25" height="24" rx="4" fill="#0EA400"></rect>
                                    <path d="M4.81794 5.35269L4.78263 5.38992C4.69788 5.47916 4.61442 5.56776 4.53096 5.64929C3.83375 6.34778 3.8222 7.83914 4.50207 9.63866C5.23395 11.5801 6.6778 13.6877 8.56399 15.5752C10.4534 17.464 12.5617 18.9065 14.4992 19.6378C15.3762 19.9677 16.2005 20.143 16.883 20.143C17.586 20.143 18.1407 19.9588 18.4886 19.6095C18.5798 19.5196 18.6761 19.4278 18.7859 19.3232C19.4381 18.7043 20.1777 18.0039 20.1379 17.039C20.1109 16.3758 19.7091 15.7415 18.9117 15.1008C16.5581 13.2088 15.6722 14.1089 14.7336 15.059L14.566 15.2285C14.4196 15.3768 13.9747 15.2369 13.4072 14.8664C12.8114 14.4793 12.0629 13.8373 11.1821 12.9565C9.16169 10.9361 8.85995 10.0778 8.85995 9.74651C8.85995 9.63994 8.89269 9.59308 8.91131 9.57446L9.07823 9.40818C10.0316 8.47022 10.9323 7.58234 9.03842 5.22814C8.39899 4.4295 7.7647 4.02889 7.10088 4.00064C7.0829 4 7.06557 4 7.04759 4C6.11413 4 5.42398 4.71454 4.81794 5.35269Z" fill="white"></path>
                                </svg>
                            </div>
                            <span class="listing__phone">{{ sponsor.phone }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% for escort in escorts %}
                <a class="listing__item" href="{{ appUrl }}{{ city.url }}{{ escort.typeSlug }}/{{ escort.id }}">
                    <div class="listing__img escort-type__img">
                        <amp-img
                                alt="{{ escort.firstName }}"
                                src="{{ appUrl }}/images/escorts/{{ escort.id }}.jpg"
                                width="125"
                                height="125"
                                layout="fixed"
                        >
                            <amp-img
                                    fallback
                                    alt="{{ escort.firstName }}"
                                    width="125"
                                    height="125"
                                    layout="fixed"
                                    src="{{ appUrl }}/images/no-photo-small.svg"
                            ></amp-img>
                        </amp-img>
                    </div>
                    <div class="listing__item-text-body">
                        <div class="p-x-10">
                            <div class="d-flex flex-direction-column">
                                <div class="listing__item-title">{{ escort.firstName }}</div>
                            </div>
                            <div class="escort-type__item-subtitle">{{ escort.title }}</div>
                        </div>
                        <div class="listing__item-bottom">
                            <div class="listing__phone-icon">
                                <svg viewBox="0 0 25 24" fill="none">
                                    <rect width="25" height="24" rx="4" fill="#0EA400"></rect>
                                    <path d="M4.81794 5.35269L4.78263 5.38992C4.69788 5.47916 4.61442 5.56776 4.53096 5.64929C3.83375 6.34778 3.8222 7.83914 4.50207 9.63866C5.23395 11.5801 6.6778 13.6877 8.56399 15.5752C10.4534 17.464 12.5617 18.9065 14.4992 19.6378C15.3762 19.9677 16.2005 20.143 16.883 20.143C17.586 20.143 18.1407 19.9588 18.4886 19.6095C18.5798 19.5196 18.6761 19.4278 18.7859 19.3232C19.4381 18.7043 20.1777 18.0039 20.1379 17.039C20.1109 16.3758 19.7091 15.7415 18.9117 15.1008C16.5581 13.2088 15.6722 14.1089 14.7336 15.059L14.566 15.2285C14.4196 15.3768 13.9747 15.2369 13.4072 14.8664C12.8114 14.4793 12.0629 13.8373 11.1821 12.9565C9.16169 10.9361 8.85995 10.0778 8.85995 9.74651C8.85995 9.63994 8.89269 9.59308 8.91131 9.57446L9.07823 9.40818C10.0316 8.47022 10.9323 7.58234 9.03842 5.22814C8.39899 4.4295 7.7647 4.02889 7.10088 4.00064C7.0829 4 7.06557 4 7.04759 4C6.11413 4 5.42398 4.71454 4.81794 5.35269Z" fill="white"></path>
                                </svg>
                            </div>
                            <span class="listing__phone">{{ escort.phone }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <amp-list
                id="list"
                height="1"
                [height]="escorts.list.length * 165"
                layout="fixed-height"
                items="list"
                hidden
                [hidden]="page == 1"
                [src]="'{{ getEscortsUrl }}&offset=' + (page - 1) * {{ maxEscortsCountPerPage }}"
                binding="no"
                reset-on-refresh
        >
            <div class="loading" placeholder>
                Loading...
            </div>
            <template type="amp-mustache">
                <a class="listing__item" href="{{ appUrl }}{{ city.url }}{{ '{{typeSlug}}' }}/{{ '{{id}}' }}">
                    <div class="listing__img escort-type__img">
                        <amp-img
                                alt="{{ '{{firstName}}' }}"
                                src="{{ appUrl }}/images/escorts/{{ '{{id}}' }}.jpg"
                                width="125"
                                height="125"
                                layout="fixed"
                        >
                            <amp-img
                                    fallback
                                    alt="{{ '{{firstName}}' }}"
                                    width="125"
                                    height="125"
                                    layout="fixed"
                                    src="{{ appUrl }}/images/no-photo-small.svg"
                            ></amp-img>
                        </amp-img>
                    </div>
                    <div class="listing__item-text-body">
                        <div class="p-x-10">
                            <div class="d-flex flex-direction-column">
                                <div class="listing__item-title">{{ '{{firstName}}' }}</div>
                            </div>
                            <div class="escort-type__item-subtitle">{{ '{{title}}' }}</div>
                        </div>
                        <div class="listing__item-bottom">
                            <div class="listing__phone-icon">
                                <svg viewBox="0 0 25 24" fill="none">
                                    <rect width="25" height="24" rx="4" fill="#0EA400"></rect>
                                    <path d="M4.81794 5.35269L4.78263 5.38992C4.69788 5.47916 4.61442 5.56776 4.53096 5.64929C3.83375 6.34778 3.8222 7.83914 4.50207 9.63866C5.23395 11.5801 6.6778 13.6877 8.56399 15.5752C10.4534 17.464 12.5617 18.9065 14.4992 19.6378C15.3762 19.9677 16.2005 20.143 16.883 20.143C17.586 20.143 18.1407 19.9588 18.4886 19.6095C18.5798 19.5196 18.6761 19.4278 18.7859 19.3232C19.4381 18.7043 20.1777 18.0039 20.1379 17.039C20.1109 16.3758 19.7091 15.7415 18.9117 15.1008C16.5581 13.2088 15.6722 14.1089 14.7336 15.059L14.566 15.2285C14.4196 15.3768 13.9747 15.2369 13.4072 14.8664C12.8114 14.4793 12.0629 13.8373 11.1821 12.9565C9.16169 10.9361 8.85995 10.0778 8.85995 9.74651C8.85995 9.63994 8.89269 9.59308 8.91131 9.57446L9.07823 9.40818C10.0316 8.47022 10.9323 7.58234 9.03842 5.22814C8.39899 4.4295 7.7647 4.02889 7.10088 4.00064C7.0829 4 7.06557 4 7.04759 4C6.11413 4 5.42398 4.71454 4.81794 5.35269Z" fill="white"></path>
                                </svg>
                            </div>
                            <span class="listing__phone">{{ '{{phone}}' }}</span>
                        </div>
                    </div>
                </a>
            </template>
        </amp-list>

        {% if escortsTotalCount > 10 %}
        <div class="listing__pagination">
            <a class="listing__pagination-button m-r-10 disabled"
                [class]="page == 1 ? 'listing__pagination-button m-r-10 disabled' : 'listing__pagination-button m-r-10'"
                on="tap: AMP.setState({ page: page - 1 }), top.scrollTo(duration=200);"
            >
                <div style="width: 13px;height: 15px;">
                    <svg viewBox="0 0 13 15" fill="currentColor" style="vertical-align: top;">
                        <path d="M1 9.23205C-0.33333 8.46225 -0.333333 6.53775 1 5.76795L9.25 1.00481C10.5833 0.23501 12.25 1.19726 12.25 2.73686L12.25 12.2631C12.25 13.8027 10.5833 14.765 9.25 13.9952L1 9.23205Z"></path>
                    </svg>
                </div>
                <span class="m-l-10">Prev Page</span>
            </a>
            <a class="listing__pagination-button m-l-10"
                [class]="page * {{ maxEscortsCountPerPage }} >= {{ escortsTotalCount }} ? 'listing__pagination-button m-l-10 disabled' : 'listing__pagination-button m-l-10'"
                on="tap: AMP.setState({ page: page + 1 }), top.scrollTo(duration=200)"
            >
                <span class="m-r-10">Next Page</span>
                <div style="width: 13px;height: 15px;">
                    <svg viewBox="0 0 13 15" fill="currentColor" style="vertical-align: top;">
                        <path d="M12 5.76795C13.3333 6.53775 13.3333 8.46225 12 9.23205L3.75 13.9952C2.41667 14.765 0.749999 13.8027 0.749999 12.2631L0.75 2.73686C0.75 1.19726 2.41667 0.235008 3.75 1.00481L12 5.76795Z"></path>
                    </svg>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}
