.bg-primary {
    background-color: $fourth-background-color !important;
}

.bg-fifth-gray {
    background-color: $fifth-background-color !important;
}

.bg-sixth {
    background-color: $sixth-background-color !important;
}

.bg-seventh-gray {
    background-color: $seventh-background-color !important;
}

.bg-green {
    background-color: $success-color !important;
}

.bg-light-error {
    background-color: $light-error-background-color !important;
}

.bg-sky-blue {
    background-color: $sky-blue-color !important;
}
