.br-none {
    border-radius: 0 !important;
}

.br-primary {
    border-radius: $primary-border-radius !important;
}

.br-secondary {
    border-radius: $secondary-border-radius !important;
}

.br-tertiary {
    border-radius: $tertiary-border-radius !important;
}

.br-quaternary {
    border-radius: $quaternary-border-radius !important;
}