.border-gray-b {
  border-bottom: 1px solid $light-blue-spacer;
}

.border-item-b {
  border-bottom: 1px solid $extra-light-blue-spacer;
}

.border-b-white {
  border-bottom: 1px solid $color-white;
}
