/* show real checkbox */
/*input[type="radio"],
input[type="checkbox"]  {
  position: static !important;
  opacity: 1 !important;
  width: auto !important;
  height: auto !important;
}*/

body {
  top: 0px !important;
  margin: 0;
  background-color: $secondary-background-color;
  position: relative;
  min-height: $body-min-height !important;
  font-family: 'ProximaNova', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: $font-size-base;
  color: $tertiary-text-color;

  &.load,
  &.disable-scrolling {
    overflow: hidden;
  }

  &.mobile-safari {
    .content {
      padding-bottom: $footer-height-mobile-safari;
      min-height: $content-min-height-mobile-safari;
    }

    .footer {
      height: $footer-height-mobile-safari;

      .footer__item-link {
        justify-content: start;
        padding-top: 5px;
      }
    }
  }

  .content {
    overflow-y: scroll;
    min-height: $content-min-height;
    padding-bottom: $footer-height;
  }

  .image-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .image-empty {
    display: block;
    max-width: calc(100vw - 40px);
    min-width: 130px;
    height: 100%;
    object-fit: cover;
    background: url('/images/no-photo-small.svg') no-repeat 50%/contain #ECECEC;
  }
}

.width-50 {
  width: 50% !important;
}

.width-33 {
  width: 33.333% !important;
}
.text-right {
  text-align: right;
}

.text-line-through {
  text-decoration: line-through;
}

.flex-fill {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
}
.flex-basis-0 {
  flex-basis: 0 !important;
}

svg {
  flex-shrink: 0;
}

/* based on bootstrap alert */
.flash_msg {
  position: relative;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.flash_msg_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &.flash_msg_error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &.flash_msg_warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  &.flash_msg_info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
}

.break-all {
  word-break: break-all;
}

.break-word {
  word-break: break-word;
}

.version {
  font-size: 16px;
  color: $quaternary-text-color;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}

.skiptranslate,
.goog-te-banner-frame.skiptranslate, .goog-tooltip.skiptranslate {
  display: none !important;
}
