.icon_close {
  width: 23px;
  height: 23px;
}

.icon_close_modal,
.icon_close_modal_white {
  width: 20px;
  height: 20px;
}

.icon_place_location {
  width: 14px;
  height: 19px;
}

.icon_check {
  width: 17px;
  height: 14px;
}

.icon_search {
  width: 17px;
  height: 17px;
}

.icon_contacts {
  width: 14px;
  height: 14px;
}

.icon_alert_close {
  width: 16px;
  height: 16px;
}

.icon_caret_down {
  width: 19px;
  height: 15px;
}

.icon_password,
.icon_user,
.icon_logout {
  width: 21px;
  height: 21px;
}

.icon_signin {
  width: 24px;
  height: 23px;
}

.icon_signup {
  width: 22px;
  height: 22px;
}

.icon_change_location {
  width: 13.6px;
  height: 18.9px;
}

.icon_post_ad {
  width: 24px;
  height: 23px;
}

.icon_tos,
.icon_house,
.icon_fullsite {
  width: 25px;
  height: 24px;
}

.icon_privacy_policy {
  width: 21px;
  height: 26px;
}

.icon_contact_us {
  width: 28px;
  height: 20px;
}

.icon_view_ad {
  width: 23px;
  height: 23px;
}

.icon_copy,
.icon_gear {
  width: 24px;
  height: 24px;
}

.icon_upload {
  width: 22px;
  height: 22px;
}

.icon_trash {
  width: 22px;
  height: 24px;
}

.icon_bordered_cross,
.icon_bordered_cross_blue,
.icon_payments {
  width: 23px;
  height: 24px;
}

.icon_location {
  width: 21px;
  height: 24px;
}

.icon_duplicate {
  width: 24px;
  height: 22px;
}

.icon_edit_username_bordered {
  width: 21px;
  height: 22px;
}

.icon_list_with_clip {
  width: 19px;
  height: 23px;
}

.icon_monitor {
  width: 21px;
  height: 20px;
}

.icon_grid {
  width: 21px;
  height: 21px;
}


.icon_modal_buy_top_ups {
  width: 199px;
  height: 187px;
}

.loader-icon {
  width: 56px;
  height: 56px;
}

.icon_whatsapp_big,
.icon_wechat_big,
.icon_viber_big,
.icon_telegram_big,
.icon_ter_big,
.icon_facebook_big,
.icon_instagram_big,
.icon_twitter_big,
.icon_tumblr_big,
.icon_youtube_big {
  width: 45px;
  height: 45px;
}

.icon_line_big {
  width: 46px;
  height: 45px;
}

.icon_whatsapp_small,
.icon_wechat_small,
.icon_viber_small,
.icon_telegram_small,
.icon_ter_small,
.icon_facebook_small,
.icon_instagram_small,
.icon_twitter_small,
.icon_tumblr_small,
.icon_youtube_small,
.icon_line_small {
  width: 20px;
  height: 20px;
  margin-top: -3px;
}

.icon_photo_upload {
  width: 56px;
  height: 60px;
}
.icon_photo_delete {
  width: 16px;
  height: 16px;
}

.icon_video_upload {
  width: 53px;
  height: 53px;
}


.icon_loader {
  width: 56px;
  height: 56px;
}

.icon_filters {
  width: 24px;
  height: 22px;
}

.icon_phone {
  width: 25px;
  height: 24px;
}

.icon_send_reply {
  width: 23px;
  height: 26px;
}

.icon_menu {
  width: 4px;
  height: 18px;
}

.icon_pagination_prev,
.icon_pagination_next {
  width: 13px;
  height: 15px;
}

.icon_burger {
  width: 23px;
  height: 19px;
}

.arrow-right-grey-icon {
  width: 7px;
  height: 12px;
}

.arrow-right-icon {
  width: 14px;
  height: 19px;
}

.icon_arrow_left {
  width: 27px;
  height: 21px;
}

.icon_home {
  width: 26px;
  height: 19px;
}

.icon_paper_list {
  width: 25px;
  height: 23px;
}

.icon_big_plus {
  width: 28px;
  height: 28px;
}

.icon_messages {
  width: 22px;
  height: 18px;
}

.icon_myas {
  width: 18px;
  height: 20px;
}

.icon_footer_home {
  width: 25px;
  height: 19px;
}

.icon_footer_myads {
  width: 22px;
  height: 21px;
}

.icon_footer_postad {
  width: 20px;
  height: 20px;
}

.icon_footer_messages {
  width: 21px;
  height: 18px;
}

.icon_footer_myas {
  width: 18px;
  height: 20px;
}

.icon_header_back {
  width: 29px;
  height: 22px;
}

.icon_check_round {
  width: 19px;
  height: 19px;
}

.icon_no_inet {
  width: 132.83px;
  height: 152.87px;
  left: 120.65px;
  top: 167.07px;
}

.icon-no-content {
  width: 126.38px;
  height: 128.02px;
  left: 6.81px;
  top: 5.99px;
}

.icon_no_ads {
  width: 242px;
  height: 223px;
}
