@import '~bootstrap/scss/bootstrap';

// @import "~slick-carousel/slick/slick";
// @import "~jquery-bootstrap-scrolling-tabs/src/scss/jquery.scrolling-tabs";
// @import "~intl-tel-input/build/css/intlTelInput.min.css";

// START - import partials scss
@import 'variables/export';       // variables
@import 'fonts/export';           // fonts
@import 'mixins/export';          // mixins
@import 'icons';                 // all icons styles
@import 'global';                 // global styles
@import 'spacing';                // global styles
@import 'border_radius';          // global styles
@import 'borders';          // global styles
@import 'background_colors';      // global styles
@import 'background_with_border'; // global styles
@import 'box_shadows';            // global styles
@import 'pages/export';           // pages
@import 'partials/export';        // components
@import 'components/export';      // components
@import 'style_guide/export';     // style guide
@import "icons";
// END - import partials scss

.no-authorized {
  display: none;
}

.content-break {
  word-break: break-all;
}

.no-messages {
  display: none;
}

.hide-loader {
  display: none;
}

input:invalid {
  background-color: #800000;
}

input:valid {
  background-color: #ddffdd;
}

.fcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: #ffffff !important;
  position: absolute;
}
.fcontainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 300px;
  padding: 10px;
}

.first-text {
  font-family: ProximaNova, "Helvetica Neue", OpenSans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.second-text {
  font-family: ProximaNova, "Helvetica Neue", OpenSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #828282;
}

