.card {
  border: none;

  .image-container {
    overflow: hidden;
    position: relative;
  }
}

.list-view {
  .card {
    width: 100%;
    flex-direction: row;
  }
}

.card-view {
  .card {
    width: calc(50% - 2.5px);
    flex-direction: column;

    &:nth-child(2n) {
      margin-left: $margin-1;
    }
  }
}

.escort-label {
  display: inline-block;
  color: #3b5999;
  background: #dfe7ed;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 600;
  flex-shrink: 0;
  padding: 1px 4px;
  margin-left: auto;
}
