.card.erotic-massage {
  border: 1px solid rgba(91, 91, 91, 0.2);
  border-radius: $secondary-border-radius;
}

.list-view {
  .card.erotic-massage {
    .image-container, .info-container {
      width: 45%;
    }

    .info-container {
      min-height: 150px;
    }

    .phone-container {
      background-color: rgba(216, 216, 216, 0.251666);

      .phone {
        font-size: 15px;
        color: $primary-text-color;

        @media (max-width: 360px) {
          font-size: 15px!important;
        }
      }
    }

    .title-container {
      display: flex;
      flex-flow: column;
      word-break: break-all;

      .title {
        line-height: $primary-line-height;
        color: $primary-text-color;
      }
    }

    .description-container {
      word-break: break-all;
    }

    .address-container {
      .address {
        line-height: $secondary-line-height;
      }
    }

    .reviews-container {
      flex-direction: row;
      align-items: center;

      .rating {
        margin-right: $margin-1;
      }
    }
  }
}

.card-view {
  .card.erotic-massage {
    min-height: 320px;

    .image-container {
      height: 155px;
    }

    .reviews-container {
      flex-direction: column;

      .reviews-count {
        margin-top: $margin-1;
      }
    }

  }
}
