.card.escort-list {
  line-height: $secondary-line-height;
  border: 1px solid rgba(91, 91, 91, 0.2);
  border-radius: $secondary-border-radius;
  min-height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .image-container {
    display: flex;
    background: black;
    align-items: center;
    height: 100%;
    position: absolute;

    .counter-photos,
    .counter-videos {
      font-size: $font-size-14;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.15);
      color: $color-white;
      padding: 5px 2px;
      border-radius: $secondary-border-radius;

      .icon {
        margin-right: 5px;
      }
    }

    .counter-photos {
      left: 0;
    }

    .counter-videos {
      right: 0;
    }

    .image-cover {
      object-fit: cover;
      width: 100%;
      height: initial;
      display: flex;
    }
  }
  .info-container {
    margin-left: 125px;
  }
}

.counter-photos,
.counter-videos {
  display: none;
}

.list-view {
  .card.escort-list {
    .image-container {
      width: 125px;
      flex-shrink: 0;
    }

    .phone-container {
      background-color: rgba(216, 216, 216, 0.251666);

      .phone {
        color: $primary-text-color;
        font-size: 16px;

        @media (max-width: 399px) {
          font-size: 15px!important;
        }

        @media (max-width: 374px) {
          font-size: 11px!important;
        }
      }
    }

    .title-container {
      display: flex;
      flex-flow: column;
      word-break: break-all;

      .title {
        color: $primary-text-color;
        line-height: $primary-line-height;
      }
    }

    .description-container {
      word-break: break-all;
    }

    .sponsored {
      margin-top: 20px;
    }

    .reviews-container {
      flex-direction: row;
      align-items: center;

      .reviews-count {
        margin-left: $margin-1;
      }
    }
  }
}

.card-view {
  .card.escort-list {

    .image-container {
      height: 195px;
    }

    .description-container {
      display: none;
    }

    .reviews-container {
      flex-direction: column;

      .reviews-count {
        margin-top: $margin-1;
      }
    }

  }
}
