table.dataTable thead .sorting:before {
    right: 1em;
    content: "\2191";
    position: absolute;
    display: block;
    opacity: .3;
}

table.dataTable thead .sorting:after {
    right: .5em;
    content: "\2193";
    position: absolute;
    bottom: 0;
    display: block;
    opacity: .3;
}

table.dataTable thead .sorting {
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    min-width: 101px;
}

table.dataTable thead .sorting.asc:before, table.dataTable thead .sorting.desc:after {
    opacity: 1;
}

span.required {
    color: red;
    padding-left: 3px;
    font-size: 17px;
}

.logout {
    margin-right: 1rem;
}

.highlight{
    background: #00FF00;
    padding: 1px;
    border: #00CC00 dotted 1px;
}

.td-id {
    max-width: 100px !important;
    min-width: 70px !important;
}
.td-roles {
    max-width: 150px !important;;
}
.td-note {
    font-size: 12px;
    color: #9da5b1;
}

.close {
    color: #fff;
    text-shadow: 0 1px 0 #000015;
}
.close:hover {
    text-decoration: none;
    color: #fff;
}

.help-block {
    display: block;
    margin-top: 5px;
    color: #9da5b1;
}

.modal-sm .modal-header {
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
}
.modal-sm .modal-header .close {
    margin-top: auto;
}
.modal-header .close:focus {
    outline: none;
}
.card-body td .btn-sm {
    margin-bottom: 5px;
}
.card-header {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.card-header .btn {
    margin-left: 10px;
}

.btn-go {
    width: 63px !important;
}

.c-sidebar-brand {
    font-weight: 600;
}
.c-sidebar .brand-short,
.c-sidebar.c-sidebar-minimized .brand-full {
    display: none;
}
.c-sidebar.c-sidebar-minimized .brand-short {
    display: block;
}
