.messages-tabs .primary-tabs-nav-container {
    border-bottom: 0.5px solid $gray-color;

    .scrtabs-tab-container {
        margin: 0;
        background-color: transparent;
    }

    .nav-link {
        color: $tertiary-text-color;

        &.active {
            &::after {
                background-color: $secondary-color !important;
            }
        }
    }
}

.row-message {
    &:not(:last-child) {
        border-bottom: 1px solid $extra-light-blue-spacer;
    }

    &:last-child {
        padding-bottom: 0 !important;
    }

    &.active {
        .name,
        .message {
            font-weight: 600;
        }

        .side-element .bullet {
            display: block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $primary-color;
        }
    }
}