.selection {
    min-height: 56px;
    border: 0.2px solid rgba(91, 91, 91, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.159309);
    border-radius: $primary-border-radius;

    .primary-checkbox {
        padding-left: 30px;

        label {
            font-size: $font-size-18;
        }

        span:after {
            top: 1px;
            left: 1px;
        }
    }

    .price {
        border-radius: 20px;
        background-color: $success-background-color;
    }
}

.selection_active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.159309), inset 0 0 0 2px #3577E5;
}
