.primary-counter-container {
    position: relative;
    border-radius: 50%;
    background: $secondary-color;
    width: 18px;
    height: 18px;
    font-size: $font-size-14;

    .primary-counter {
        display: flex;
        line-height: 18px;
        height: 18px;
        width: 18px;
        justify-content: center;
        align-items: center;
    }
}