.default-btn {
    background-color: $primary-background-color;
    outline: none;
    border-radius: $secondary-border-radius;
    border: 0.2px solid rgba(91, 91, 91, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.159309);
    min-height: 50px;
    padding: 0 50px;
    transition: 0.2s;
    font-size: $font-size-base;
    color: $tertiary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover {
        outline: none;
        border-color: $dark-blue;
        background-color: $dark-blue;
        color: $color-white;
        text-shadow: none;
        box-shadow: none;
    }
}