@import 'primary';
@import 'primary_filled';
@import 'primary_submit';
@import 'primary_bordered';
@import 'default_bordered';
@import 'secondary';
@import 'success_submit';
@import 'group/export';
@import 'with_counter';
@import 'with_counter_hard';
@import 'with_cross_icon';
@import 'third_filled';
@import 'menu';
@import 'default';

.btn-back {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.btn-link,
.btn-link:active,
.btn-link:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  background: transparent !important;
}

