.btn-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border: none;
  outline: none;
  background-color: transparent;

  &:focus {
    outline: none;
    background-color: #f1f1f1;
  }

  &:hover {
    color: #f1f1f1;
  }
}
