.primary-filled-btn {
  background-color: $secondary-color;
  outline: none;
  border: 1px solid $secondary-dark-blue;
  border-radius: $primary-border-radius;
  width: 100%;
  height: 46px;
  transition: 0.2s;
  font-weight: 600;
  font-size: $font-size-base;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: $primary-text-shadow;
  @include primary-btn-box-shadow($tertiary-light-blue);

  &:focus {
	outline: none;
	border-color: $dark-blue;
	background-color: $dark-blue;
    color: $color-white;
    text-shadow: none;
    box-shadow: none;
  }
  &:hover {
    color: $color-white;
  }
}