.primary-bordered-btn {
    outline: none;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: $primary-border-radius;
    width: 100%;
    height: 50px;
    transition: 0.2s;
    font-weight: 600;
    font-size: $font-size-base;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        text-decoration: none;
        outline: none;
        background-color: $secondary-light-blue !important;
        color: $secondary-color !important;
    }

    &:active {
        background-color: $secondary-light-blue;
    }

    &:hover {
        color: $secondary-color !important;
    }

    &:disabled {
        color: $gray-color !important;
        border-color: $gray-color !important;
        text-shadow: none;
        box-shadow: none;
    }
}

.primary-bordered-btn_empty {
    background-color: transparent;
}
