.primary-submit-btn {
    background-color: $secondary-color;
    outline: none;
    border: 1px solid $secondary-dark-blue;
    border-radius: $primary-border-radius;
    width: 100%;
    min-height: 50px;
    transition: 0.2s;
    font-weight: 600;
    font-size: $font-size-base;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: $primary-text-shadow;
    @include primary-btn-box-shadow($tertiary-light-blue);

    &:hover,
    &:active,
    &:focus {
        outline: none;
        border-color: $dark-blue;
        background-color: $dark-blue;
        color: $color-white;
        text-shadow: none;
        box-shadow: none;
    }

    &:disabled {
        border: none;
        background-color: $gray-color;
        text-shadow: none;
        box-shadow: none;
    }

    &.success {
        background-color: $success-color;
        border: 1px solid $darker-success-color;
        box-shadow: 0px 1px 0px $light-success-color;

        &:active,
        &:focus {
            background-color: #0D8202;
        }
    }
}
