.secondary-btn {
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: $font-size-14;
  color: $tertiary-text-color;


  &:hover {
    color: $secondary-text-color;
  }

  &.active {
    border: 1px solid $secondary-dark-blue;
    border-radius: $primary-border-radius;
    color: $color-white !important;
    background-color: $secondary-color;
    text-shadow: $primary-text-shadow;
    @include primary-btn-box-shadow($tertiary-light-blue);
    outline: none;
  }

  &.large {
    font-size: $font-size-base !important;
  }
}