.success-submit-btn {
    color: $white-text-color;
    background-color: $success-background-color;
    border: 1px solid $darker-success-background-color;
    @include primary-btn-box-shadow($light-success-color);

    &:focus, &:active {
        border: 1px solid $darker-success-background-color;
        background-color: $darker-success-background-color;
    }
}