.third-filled {
    background-color: $secondary-light-blue;
    color: $secondary-color;
    border-radius: 4px;
    display: block;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
}