.with-cross-icon {
    padding: 2px 7px 1px 3px;
    background-color: $extra-light-blue-spacer;
    color: $secondary-text-color;
    display: inline-flex;
    align-items: center;
    border-radius: $secondary-border-radius;

    &.readonly {
        padding: 1px 4px;
    }

    svg {
        padding-right: 5px;
    }

    .text {
        color: $tertiary-text-color;
        padding-top: 3px;
    }
}
