.with-counter-btn {
    border-bottom: 1px solid $extra-light-blue-spacer;

    &:last-child {
        border-bottom: none;
    }

    .with-counter-btn_link {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .text {
        color: $quaternary-text-color;
    }

    .count {
        background-color: $dirty-light-blue;
        border-radius: $secondary-border-radius;
        min-width: 75px;
        width: 75px;
        height: 30px;
        position: relative;
        color: $quaternary-text-color;

        &.count-empty {
            min-width: 0;
            width: 0;
        }

        &::after {
            content: url($chevron-right);
            position: absolute;
            right: -26px;
            top: 5px
        }
    }
}
