.with-counter-hard-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px 10px 0;
    border-bottom: 1px solid $extra-light-blue-spacer;

    &:last-child {
        border-bottom: none;
    }

    &:after {
        content: url($chevron-right);
        position: absolute;
        top: 50%;
        right: 0;
        height: 17px;
        transform: translateY(-50%);
    }
}

.with-counter-hard-btn__title {
    font-weight: 700;
    line-height: 1.2;
    color: $tertiary-color;
}

.with-counter-hard-btn__desc {
    font-size: 14px;
    line-height: 1.2;
    color: $secondary-color;
}

.with-counter-hard-btn__count {
    background-color: $dirty-light-blue;
    border-radius: $secondary-border-radius;
    min-width: 36px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: $darker-gray-color;
}