.flickity-page-dots {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & .dot {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.24);

        &.is-selected {
            background-color: #FFF;
        }

        & + .dot {
            margin-left: 6px;
        }
    }
}
