.navigation-carousel {
    .carousel__item {
        width: 70px;
        padding: 9px 11px;
    }

    .carousel__item_active,
    .carousel__item_active:hover {
        background-color: #3B5999;

        .thumb-icon__title {
            color: #fff;
        }
    }

    .carousel__item_active .thumb-icon__inner,
    .carousel__item_active + .carousel__item .thumb-icon__inner {
        border-left-color: transparent !important;
    }

    .carousel__item + .carousel__item {
        border-left: 1px solid #D4D6D9;
    }

    .thumb-icon__title {
        height: 28px;
        overflow: hidden;
    }
}
