.carousel {
  position: relative;

  *,
  *:focus {
    outline: none;
  }
}

.carousel__inner {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  &.flickity-enabled {
    display: block;
  }
}

.flickity-slider {
  height: 100%;
}

.carousel__item {
  flex-shrink: 0;

  &.fited {
    top: 0;
    bottom: 0;
  }
}

.carousel__action {
  webkit-appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  background: no-repeat 50%;
  border: none;

  &.hidden {
    display: none;
  }

  &:disabled {
    opacity: .4;
    cursor: default;
  }
}

.carousel__action_prev {
  left: 0;
  background-image: url($chevron-right);
  transform: rotate(180deg);
}

.carousel__action_next {
  right: 0;
  background-image: url($chevron-right);
}
