.profile {
    .no-photo {
        background-color: $medium-gray-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
    }
}

.profile-carousel {
    position: relative;
    padding: 0 5px;

    &.escort {
        .carousel__item {
            height: 170px;
        }
    }

    .carousel__inner {
        padding: 10px;
    }

    .carousel__item {
        max-width: calc(100vw - 40px - 20px);
        height: 170px;
        margin-right: 5px;
        border-radius: $quaternary-border-radius;
        box-shadow: 0 2px 8px rgba(83, 106, 129, 0.236533);
        overflow: hidden;

        img,
        video {
            display: block;
            max-width: calc(100vw - 40px);
            min-width: 130px;
            height: 100%;
            object-fit: cover;
            background: url('/images/no-photo-small.svg') no-repeat 50%/contain #ECECEC;
        }
    }

    .profile-carousel__counter {
        position: absolute;
        z-index: 2;
        left: 18px;
        top: 13px;
        display: inline-block;
        border-radius: $primary-border-radius;
        height: 20px;
        padding: 0 8px;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        line-height: 20px;
        color: #fff;

        &.hidden {
            display: none;
        }
    }
}
