.filters-container {
    border-radius: $tertiary-border-radius;
    background-color: rgba($sixth-background-color, 0.15);
    color: $secondary-text-color;
    height: 40px;
}

body.mobile {
    &.modal-open {
        &.ios {
            #filters-modal {
                min-height: 400px !important;
            }
        }
    }
}
