
/* modal filter window */

#filters-modal {
    .modal-dialog {
        height: 100vh;
        overflow: hidden;
    }

    .filters {
        height: calc(100vh - 165px); // buttons + modal header heights
        overflow: auto;
    }

    .filters__buttons {
        margin: 0;
    }

    .modal-header {
        border-bottom: 10px solid $secondary-background-color;
        height: 60px;
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        background: $color-white;
        border-top: 1px solid rgba(205, 205, 205, 0.9);
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 10px 20px 15px 20px;
    }

    .filters__filter {
        border-bottom: 10px solid $secondary-background-color;
    }

    .filter__header {
        min-height: 50px;
        color: #121719;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &.active {
            border-bottom: 1px solid #A9B7C8;

            .filter__arrow {
                transform: rotate(180deg);
            }
        }

        .filter__arrow {
            transition: .5s;
            right: 0;
        }
    }

    /* hide checkboxes */
    .filter__content {
        overflow: hidden;

        .primary-checkbox {
            padding-left: 15px;

            span {
                display: none;
            }
        }
    }

    .filter__selected_list {
        display: flex;
        flex-wrap: wrap;
    }

    .filter__selected {
        display: block;
        background: #ECEFF6;
        border-radius: 100px;
        text-align: center;
        padding: 5px 12px;
        margin: 3px;
        line-height: 1;

        @media (max-width: 320px) {
            padding: 5px 8px;
        }

        &.show {
            display: block;
        }
    }

    .filter__option {
        color: #121719;
        min-height: 50px;
        border-bottom: 1px solid $extra-light-blue-spacer;
        margin: 0 15px;

        &.active {
            position: relative;
            background: #ECEFF6;
            border-bottom: 1px solid $color-white;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
