.language-dropdown {
    position: relative;
}

.language-dropdown_opened {
    .language-dropdown__list {
        display: block;
        animation: animation-language-dropdown-list 0.3s forwards;
    }
}

.language-dropdown__select {
    display: flex;
    align-items: center;
    color: $color-white;
    margin-right: 5px;

    &:hover,
    &:active {
        color: $color-white;
    }
}

.language-dropdown__select,
.language-dropdown__select:hover,
.language-dropdown__select:focus {
    text-decoration: none;
}

.language-dropdown__list {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    left: -10px;
    width: 120px;
    max-height: 300px;
    border-radius: 4px;
    background: #FFF;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.12);
/*    overflow: hidden;
    overflow-y: auto;*/
    color: #2D7BCD;

    &.__left {
        right: 0;
        left: auto;

        &:before {
            left: auto;
            right: 10%;
        }
    }

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: -12px;
        left: 10%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 12px 8px;
        border-color: transparent transparent #ffffff transparent;
    }
}

.language-dropdown__list-item {
    display: flex;
    align-items: center;
    padding: 10px 7px;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: normal;
    color: #000;

    &:hover,
    &:focus,
    &:active {
        background: #ECF3FB;
    }
}

.language-dropdown__list-flag {
    flex-shrink: 0;
    margin-right: 11px;
}

@keyframes animation-language-dropdown-list {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
