.breadcrumbs {
    display: block;
}
.breadcrumbs__list {
    flex-wrap: nowrap;
    padding: 5px 0;
    margin: 0;
    line-height: 1.6;
    display: flex;
}
.breadcrumbs__item {
    min-width: 22px;
    padding-left: 0;
    font-weight: 300;
    font-size: 10px;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}
.breadcrumbs__item+.breadcrumbs__item {
    padding-left: 0.5rem;
}
.breadcrumbs__item+.breadcrumbs__item:before {
    content: "/";
    padding-right: 5px;
    display: inline-block;
    color: #6c757d;
}
.breadcrumbs__link {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #121719;
}