.content-tabs {
    display: flex;
    flex-wrap: wrap;
}
.content-tabs [role=tab] {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
}
.content-tabs [role=tab][selected] {
    outline: none;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.content-tabs [role=tabpanel] {
    display: none;
    width: 100%;
    order: 1;
    padding: 20px 8px;
}
.content-tabs [role=tab][selected] + [role=tabpanel] {
    display: block;
}