.header {
    height: 50px;
    padding: 0 10px;
    background: linear-gradient(180deg,#357aec,#3577e5);
    border-bottom: 1px solid #b4b4b4;
    transition: top .3s ease;
}
.header__container {
    height: 50px;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__brand {
    margin-right: auto;
    flex-shrink: 0;
}
.header__brand-text {
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    padding-right: 15px;
    position: relative;
}
.header__sign-up {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    background: #ffffff;
    color: #3577E5;
    padding: 4px 10px;
    border-radius: 6px;
    flex-shrink: 0;
    margin-left: 20px;
}