.listing__item {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    flex-direction: row;
    line-height: 14px;
    border: 1px solid rgba(91, 91, 91, 0.2);
    border-radius: 2px;
    min-height: 150px;
    overflow: hidden;
    width: 100%;
}
.listing__img {
    overflow: hidden;
    position: relative;
    display: flex;
    background: black;
    align-items: center;
    flex-shrink: 0;
}
.listing__item-text-body {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 5px;
}
.listing__item-title {
    color: #3B5999;
    line-height: 25px;
    margin-bottom: 5px;
    font-weight: 600;
    word-break: break-all;
    display: block;
}
.listing__item-bottom {
    background-color: rgba(216, 216, 216, 0.251666);
    padding: 10px;
    display: flex;
    align-items: center;
}
.listing__phone-icon {
    margin-right: 5px;
    width: 25px;
    height: 24px;
}
.listing__phone {
    font-size: 15px;
    color: #3B5999;
    font-weight: 600;
}
.listing__pagination {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}
.listing__pagination-button {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: #3577E5;
    border: 1px solid #3577E5;
    border-radius: 6px;
}
.listing__pagination-button.disabled {
    pointer-events: none;
    color: #B4B4B4;
    border-color: #B4B4B4;
}