.navigation-carousel {
    background-color: white;
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.navigation-carousel::-webkit-scrollbar {
    display: none;
}
.navigation-carousel__item {
    width: 70px;
    padding: 9px 11px;
    background-color: white;
    border-left: 1px solid #D4D6D9;
    flex-shrink: 0;
}
.navigation-carousel__item.active {
    background-color: #3b5999;
}
.navigation-carousel__item:first-child {
    border-left: none;
}
.navigation-carousel__item-icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0,0,0,.08);
}
.navigation-carousel__item-title {
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    color: #3577e5;
    height: 28px;
    overflow: hidden;
}
.navigation-carousel__item.active > .navigation-carousel__item-title {
    color: white;
}
@media (min-width: 560px) {
    .navigation-carousel {
        justify-content: center;
    }
}