.images-popup {
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);

    .popup-close {
        cursor: pointer;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 0;
        right: 0;
        background: url("data:image/svg+xml; utf8, <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18 2L2 18' stroke='white' stroke-width='4' stroke-linecap='round'/><path d='M2 2L18 18' stroke='white' stroke-width='4' stroke-linecap='round'/></svg>") no-repeat 50%/16px;
        z-index: 4;
    }

    .carousel__action {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        width: 54px;
        height: 54px;
        bottom: auto;
        top: calc(50% - 27px);
        z-index: 1;

        &:disabled {
            opacity: 0;
        }
    }


    .carousel__action_prev {
        background-image: url("data:image/svg+xml; utf8, <svg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.612041 0.612038C1.42809 -0.204013 2.75117 -0.204013 3.56723 0.612039L15.388 12.4328C15.8001 12.8449 16.0041 13.3863 15.9999 13.9264C15.999 14.0548 15.9862 14.183 15.9617 14.3095C15.8852 14.7046 15.694 15.0819 15.388 15.388L3.56722 27.2087C2.75117 28.0247 1.42809 28.0247 0.612038 27.2087C-0.204012 26.3926 -0.204014 25.0696 0.612039 24.2535L10.9552 13.9104L0.612041 3.56722C-0.204012 2.75117 -0.20401 1.42809 0.612041 0.612038Z' fill='white'/> </svg>");
        left: 35px;
    }

    .carousel__action_next {
        background-image: url("data:image/svg+xml; utf8, <svg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.612041 0.612038C1.42809 -0.204013 2.75117 -0.204013 3.56723 0.612039L15.388 12.4328C15.8001 12.8449 16.0041 13.3863 15.9999 13.9264C15.999 14.0548 15.9862 14.183 15.9617 14.3095C15.8852 14.7046 15.694 15.0819 15.388 15.388L3.56722 27.2087C2.75117 28.0247 1.42809 28.0247 0.612038 27.2087C-0.204012 26.3926 -0.204014 25.0696 0.612039 24.2535L10.9552 13.9104L0.612041 3.56722C-0.204012 2.75117 -0.20401 1.42809 0.612041 0.612038Z' fill='white'/> </svg>");
        right: 35px;
    }

    .carousel {
        .carousel__item {
            width: 100%;
            height: 100vh;

            &:before {
                padding-top: 0;
            }

            img {
                width: auto;
                height: auto;
                min-height: 100px;
                max-width: 100%;
                max-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .flickity-page-dots {
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        padding: 8px 22px;
        display: flex;
        align-items: center;
        width: auto;

        .dot {
            background-color: #fff;
            opacity: .25;
            width: 10px;
            height: 10px;
            margin: 10px;

            &.is-selected {
                opacity: 1;
            }
        }
    }
}
