<button class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{ id }}">Delete</button>

{% set formPost = post|default(false) %}

<div class="modal fade" id="deleteModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            {% if formPost %}<form method="post" action="{{ url }}">{% endif %}
            <div class="modal-header">
                <h4 class="modal-title">Delete record #{{ id }}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold" style="margin-bottom: 0">Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                {% if formPost %}
                    <button class="btn btn-danger flex-grow-1" type="submit">Delete</button>
                {% else %}
                    <button class="btn btn-danger flex-grow-1" type="button" data-dismiss="modal" onclick="window.location.href='{{ url }}'; return false;">Delete</button>
                {% endif %}
            </div>
            {% if formPost %}</form>{% endif %}
        </div>
    </div>
</div>
