.row-reply {
    &:not(:last-child) {
        border-bottom: 1px solid $extra-light-blue-spacer;
    }

    .header-reply {
        .name {
            .reply-icon {
                color: $primary-color;
            }
        }
    }
}

.forum-reply {
    .answer-textarea {
        height: 46px;
    }

    .name {
        h3 {
            word-break: break-all;
        }
    }


}

@media (max-width: 320px) {
    .forum-reply {
        .header-reply {
            flex-flow: column;

            .name {
                margin-right: auto;
            }

            .date {
                margin-left: auto;
            }
        }
    }
}
