.forum-topics .topic {

  &:not(:last-child) {
    border-bottom: 1px solid $extra-light-blue-spacer;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .avatar {
    height: 67px;
    width: 67px;
  }
}