.content.location {
  .add-link {
    position: relative;

    .plus-symbol {
      position: relative;

      &::before {
        content: url($plus-blue);
        position: absolute;
        transform: translateY(-50%);
        top: 1px;
      }
    }

    .link {
      padding-left: 30px;
      max-width: 90%;
    }
  }
}
