<nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="breadcrumbs__list">
        {% for link in breadcrumbs %}
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ appUrl }}{{ link.url }}">{{ link.name }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>
