<div class="navigation-carousel">
    {% for slide in slides %}
    <a
        class="
            navigation-carousel__item
            {% if selectedSlideName is defined and selectedSlideName is same as(slide.name) %} active {% endif %}
        "
        href="{{ slide.url }}"
        target="{{ slide.linkOpenType }}"
    >
        <div
            class="navigation-carousel__item-icon"
            style="background-image: url({{ slide.image }});"
        ></div>
        <div class="navigation-carousel__item-title">{{ slide.name }}</div>
    </a>
    {% endfor %}
</div>
