<h2 class="quantity-list__title">{{ title }}</h2>

{% for item in items %}
    <a class="quantity-list__item" href="{{ item.url }}" target="{{ item.linkOpenType }}">
        <div>{{ item.name }}</div>
        <div class="d-flex align-items-center">
            <div class="quantity-list__count" data-count="{{ item.count }}">{{ item.count }}</div>
            <div class="quantity-list__arrow"></div>
        </div>
    </a>
{% endfor %}
