// Main colors
$primary-color: #3B5999;
$secondary-color: #3577E5;
$tertiary-color: #121719;

// Other Colors
$color-white: #ffffff;
$color-black: #000;
$color-error: #FF0000;
$success-color: #0EA400;
$medium-success-color: #54CA3B;
$darker-success-color: #0B7E00;
$light-success-color: #99A9B8;
$dark-blue: #245DBB;
$secondary-dark-blue: #316CCF;
$medium-blue: #1B6CAA;
$dirty-light-blue: #C2D1DD;
$light-blue: #2989C9;
$lighter-light-blue: #1DA1F3;
$light-blue-sea: #1C7EB6;
$primary-light-blue: rgba(74, 90, 106, 0.0857);
$secondary-light-blue: rgba(53, 119, 229, 0.1);
$tertiary-light-blue: #B1D0E4;
$extra-light-blue: #FCFCFC;
$extra-light-blue-spacer: #EAEFF5;
$light-blue-spacer: #c4ccd5;
$sky-blue-color: #F3F5F9;
$orange: #FF8300;
$light-orange: rgb(255, 239, 223);
$red: #CB0000;
$stroke-dark-red: #AC0202;
$dark-red: #A50000;
$error-red: #FF0000;
$light-error-color: rgba(255, 0, 0, 0.1);
$gray-color: #B4B4B4;
$medium-gray-color: #D8D8D8;
$light-gray-color: #ECEFF6;
$dark-gray-color: #4B5A6A;
$darker-gray-color: #46525B;
$dirty-gray-color: #EEEEEE;
$input-disabled-bg: #EEEEEE;
$input-readonly-bg: #FAFAFA;
$dirty-gray-light-color: rgb(199, 199, 199);
$ultra-gray: #999;
$nitro-gray-color: #707070;
$green-color: #6EB955;
$primary-yellow-color: #FFBD24;
$secondary-yellow-color: #F9C42A;
$tertiary-yellow-color: #FDBC26;
$purple-dark-color: #59469C;
$purple-color: #BA86BB;
$pink-color: #EC7799;
$brown-color: #C27147;
$pink-pale-color: #C26583;
$pink-strong-color: #D14A81;

// Background colors
$primary-background-color: #ffffff;
$secondary-background-color: #D3D8E3;
$third-background-color: #F7F7F9;
$fourth-background-color: $primary-color;
$success-background-color: $success-color;
$darker-success-background-color: $darker-success-color;
$fifth-background-color: #FAFAFA;
$sixth-background-color: $secondary-color;
$seventh-background-color: $light-gray-color;
$light-error-background-color: $light-error-color;
$loading-background-color: rgba(255,255,255,.8);
$loading-background-color-pay: rgba(255,255,255,.9);
$header-background: linear-gradient(180deg, #357AEC 0%, #3577E5 100%);

// Text colors
$primary-text-color: $primary-color;
$secondary-text-color: $secondary-color;
$tertiary-text-color: $tertiary-color;
$quaternary-text-color: #4A5A6A;
$fifth-text-color: $medium-blue;
$success-text-color: $success-color;
$error-text-color: $error-red;
$white-text-color: #ffffff;
$placeholder-color: #717171;
$placeholder-search-color: rgba(74, 90, 106, 0.5);

// Form fields stroke colors
$light-stroke-form-field-color: rgba(97, 118, 141, 0.7494);
$stroke-form-field-color: $primary-color;
$datepicker-in-range-background-color: rgba(59, 89, 153, 0.7);
$datepicker-current-color: #DA552F;
$datepicker-box-shadow-color: rgba(0, 0, 0, 0.0479789);

// Form fields stroke colors
$border-color-form-fields: #ACB9C5;
$datepicker-current-color: #DA552F;
