
$body-min-height: 100vh;

$header-height: 50px;

$footer-height: 55px;
$footer-height-mobile-safari: 65px;

$delta: ($footer-height + $header-height + 1px);
$content-min-height: calc(#{$body-min-height} - #{$delta});

$delta-mobile-safari: ($footer-height-mobile-safari + $header-height + 1px);
$content-min-height-mobile-safari: calc(#{$body-min-height} - #{$delta-mobile-safari});

//fonts size
$font-size-base: 18px;
$font-size-30: 30px;
$font-size-26: 26px;
$font-size-25: 25px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;

$h1-font-size: 24px;
$h2-font-size: 20px;

//line-height
$primary-line-height: 25px;
$secondary-line-height: 14px;

//border-radius
$primary-border-radius: 6px;
$secondary-border-radius: 2px;
$tertiary-border-radius: 4px;
$quaternary-border-radius: 8px;
