$primary-input-error: "data:image/svg+xml; utf8, <svg width='18' height='18' viewBox='0 0 18 18' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M8.527 13.607C7.662 13.607 7.036 12.922 7.036 12.058C7.036 11.194 7.662 10.509 8.527 10.509C9.391 10.509 10.017 11.194 10.017 12.058C10.017 12.922 9.391 13.607 8.527 13.607ZM9.808 3.447L9.718 5.652L9.36 9.794H7.692L7.335 5.652L7.245 3.447H9.808ZM8.526 0C3.817 0 0 3.818 0 8.527C0 13.236 3.817 17.054 8.526 17.054C13.236 17.054 17.053 13.236 17.053 8.527C17.053 3.818 13.236 0 8.526 0Z' fill='rgb(251, 0, 7)'/></svg>";

$primary-checkbox: "data:image/svg+xml; utf8, <svg viewBox='-1 -3 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.78613 11.4561L6.66797 17.0166L20.4033 1.80273' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/></svg>";

$primary-select: "data:image/svg+xml; utf8, <svg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.5 8.6665L0 -0.000163078L13 -0.000163078L6.5 8.6665Z' fill='rgb(216, 216, 216)'/></svg>";

$primary-rating-active: "data:image/svg+xml; utf8, <svg width='21' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M11.6 17.4644L4.78169 20.8037L5.87815 13.3431L0.567744 7.9463L8.0637 6.67466L11.6 0L15.1363 6.67466L22.6323 7.9463L17.3219 13.3431L18.4183 20.8037L11.6 17.4644Z' fill='rgb(249, 196, 42)'/></svg>";
$primary-rating-disabled: "data:image/svg+xml; utf8, <svg width='21' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M11.4 17.4644L4.58174 20.8037L5.67819 13.3431L0.367793 7.9463L7.86375 6.67466L11.4 0L14.9363 6.67466L22.4323 7.9463L17.1219 13.3431L18.2184 20.8037L11.4 17.4644Z' fill='rgb(194, 209, 221)'/></svg>";

$primary-rating-large-active: "data:image/svg+xml; utf8, <svg width='41' height='41' viewBox='0 0 41 39' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M20.5 32.6509L7.86262 38.8939L9.89484 24.9458L0.052285 14.8561L13.9457 12.4787L20.5 0L27.0543 12.4787L40.9477 14.8561L31.1052 24.9458L33.1374 38.8939L20.5 32.6509Z' fill='rgb(249, 196, 42)'/></svg>";
$primary-rating-large-disabled: "data:image/svg+xml; utf8, <svg width='41' height='41' viewBox='0 0 41 39' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M20.5 32.6509L7.86262 38.8939L9.89484 24.9458L0.052285 14.8561L13.9457 12.4787L20.5 0L27.0543 12.4787L40.9477 14.8561L31.1052 24.9458L33.1374 38.8939L20.5 32.6509Z' fill='rgb(194, 209, 221)'/></svg>";

$chevron-right: "data:image/svg+xml; utf8, <svg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.85791 16.705L8.70298 9.90743C9.09901 9.51415 9.09901 8.87652 8.70298 8.48324C8.64928 8.42992 8.59106 8.38383 8.52955 8.34496L1.76274 1.27853C1.37667 0.875374 0.739147 0.863703 0.338784 1.25246C-0.0615788 1.64122 -0.0731696 2.2832 0.312895 2.68636L6.54876 9.19834L0.42378 15.2809C0.0277555 15.6741 0.0277555 16.3118 0.42378 16.705C0.819805 17.0983 1.46189 17.0983 1.85791 16.705Z' fill='rgb(115, 128, 140)'/></svg>";

$primary-file-add: "data:image/svg+xml; utf8, <svg width='53' height='53' viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'><mask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='53' height='53'><path fill-rule='evenodd' clip-rule='evenodd' d='M0 0H53V53H0V0Z' fill='white'/></mask><path fill-rule='evenodd' clip-rule='evenodd' d='M49.1566 22.6568H30.3423V3.84321C30.3423 1.72965 28.6126 0 26.499 0C24.3853 0 22.6556 1.72965 22.6556 3.84321V22.6568H3.84336C1.72972 22.6568 0 24.3864 0 26.5C0 28.6136 1.72972 30.3432 3.84336 30.3432H22.6556V49.1568C22.6556 51.2703 24.3853 53 26.499 53C28.6126 53 30.3423 51.2703 30.3423 49.1568V30.3432H49.1566C51.2703 30.3432 53 28.6136 53 26.5C53 24.3864 51.2703 22.6568 49.1566 22.6568Z' fill='rgb(53, 119, 229)'/></svg>";
$primary-file-add-stroke: "data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgb(53, 119, 229); stroke-width: 2; stroke-dasharray: 12 10'/></svg>";

$primary-delete-tag: "data:image/svg+xml;utf8, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM13.0034 11.7567L16.6223 15.3761C16.7877 15.5416 16.8797 15.7617 16.8797 15.9956C16.8797 16.2289 16.7877 16.4505 16.6197 16.6175C16.2776 16.9607 15.72 16.9612 15.3784 16.6185L11.759 13.0001L8.14009 16.6185C7.79796 16.9612 7.24034 16.9607 6.89821 16.6185C6.73277 16.4531 6.64187 16.2315 6.64187 15.9956C6.64187 15.7607 6.73277 15.5401 6.8977 15.3761L10.5161 11.7567L6.89668 8.13734C6.73123 7.97138 6.63932 7.7513 6.6383 7.51794C6.6383 7.28406 6.73021 7.06347 6.8977 6.89598C7.06315 6.73002 7.28477 6.63913 7.52017 6.63913H7.52068C7.75609 6.63913 7.97617 6.73002 8.14009 6.89445L11.759 10.5133L15.3774 6.89496C15.72 6.55283 16.2761 6.55232 16.6208 6.89598C16.9634 7.23811 16.9634 7.79572 16.6213 8.13785L13.0034 11.7567Z' fill='rgb(53, 119, 229)'/></svg>";

$primary-select-phone-number: "data:image/svg+xml; utf8, <svg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.5 8.6665L0 -0.000163078L13 -0.000163078L6.5 8.6665Z' fill='rgb(74, 90, 106)'/></svg>";

$plus: "data:image/svg+xml; utf8, <svg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.875 8.125V14.3717C6.875 14.7192 7.155 15 7.5 15C7.845 15 8.125 14.7192 8.125 14.3717V8.125H14.3717C14.7192 8.125 15 7.845 15 7.5C15 7.155 14.7192 6.875 14.3717 6.875H8.125V0.628272C8.125 0.280838 7.845 0 7.5 0C7.155 0 6.875 0.280838 6.875 0.628272V6.875H0.628272C0.280838 6.875 0 7.155 0 7.5C0 7.845 0.280838 8.125 0.628272 8.125H6.875Z' fill='rgb(18,23,25)'/></svg>";
$plus-blue: "data:image/svg+xml; utf8, <svg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.875 8.125V14.3717C6.875 14.7192 7.155 15 7.5 15C7.845 15 8.125 14.7192 8.125 14.3717V8.125H14.3717C14.7192 8.125 15 7.845 15 7.5C15 7.155 14.7192 6.875 14.3717 6.875H8.125V0.628272C8.125 0.280838 7.845 0 7.5 0C7.155 0 6.875 0.280838 6.875 0.628272V6.875H0.628272C0.280838 6.875 0 7.155 0 7.5C0 7.845 0.280838 8.125 0.628272 8.125H6.875Z' fill='rgb(53,119,229)'/></svg>";

$stroke: "data:image/svg+xml; utf8, <svg width='15' height='2' viewBox='0 0 15 2' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M14.3717 2H0.628272C0.280838 2 0 1.552 0 1C0 0.448 0.280838 0 0.628272 0H14.3717C14.7192 0 15 0.448 15 1C15 1.552 14.7192 2 14.3717 2Z' fill='black'/></svg>";

$location-marker: "data:image/svg+xml; utf8, <svg width='19' height='22' viewBox='0 0 19 22' fill='rgb(59,89,153)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M15.0482 15.1398C16.6077 13.6169 17.5192 11.5105 17.5493 9.36189C17.5794 7.2993 16.8155 5.35778 15.4008 3.89179C13.8529 2.28869 11.7574 1.40472 9.50138 1.40472C7.24394 1.40472 5.14703 2.28869 3.60051 3.89471C2.18442 5.35924 1.4219 7.30221 1.45057 9.36481C1.4821 11.512 2.39224 13.6169 3.9488 15.1398L9.11726 20.1927C9.31649 20.3881 9.64758 20.3998 9.8855 20.1898L15.0482 15.1398ZM9.50138 0C12.1988 0 14.6942 1.06339 16.5303 2.99324C18.1671 4.71595 19.0428 6.99151 18.9984 9.39836C18.9525 11.9161 17.8776 14.3856 16.0472 16.174L10.4975 21.5989C10.2223 21.8658 9.8597 22 9.49852 22C9.13733 22 8.77614 21.8658 8.50238 21.5989L2.95266 16.1769C1.12234 14.3871 0.0459412 11.9146 0.00150904 9.39252C-0.0414898 6.98714 0.835686 4.71449 2.47107 2.99324C4.30712 1.06339 6.80392 0 9.50138 0ZM9.49966 12.7199C11.6066 12.7199 13.3208 11.0337 13.3208 8.96235C13.3208 6.88955 11.6066 5.20184 9.49966 5.20184C7.39415 5.20184 5.6785 6.88955 5.6785 8.96235C5.6785 11.0337 7.39415 12.7199 9.49966 12.7199ZM4.21367 8.96235C4.21367 6.10623 6.58434 3.78399 9.49966 3.78399C12.4164 3.78399 14.7871 6.10623 14.7871 8.96235C14.7871 11.8185 12.4164 14.1407 9.49966 14.1407C6.58434 14.1407 4.21367 11.8185 4.21367 8.96235Z'/></svg>";

$location-marker-fill: "data:image/svg+xml; utf8, <svg width='14' height='19' viewBox='0 0 14 19' fill='none' xmlns='http://www.w3.org/2000/svg'>    <path d='M13.5509 6.74404C13.5509 3.03482 10.5302 0 6.77547 0C3.04896 0 0 3.00672 0 6.74404C0 7.89615 0.282308 8.96396 0.790469 9.91936C0.988087 10.2847 1.21393 10.6219 1.46801 10.931L6.74724 18.9114L11.9982 10.9872C12.2805 10.65 12.5346 10.2566 12.7322 9.86316C13.2969 8.93586 13.5509 7.86805 13.5509 6.74404ZM6.80371 8.87966C5.618 8.87966 4.65814 7.92425 4.65814 6.74404C4.65814 5.56384 5.618 4.60843 6.80371 4.60843C7.98942 4.60843 8.94927 5.56384 8.94927 6.74404C8.94927 7.92425 7.98942 8.87966 6.80371 8.87966Z' fill='white'/></svg>";

$dropdown: "data:image/svg+xml; utf8, <svg width='4' height='3' viewBox='0 0 4 3' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M2 3L0 0L4 0L2 3Z' fill='white'/></svg>";

$list-success-check: "data:image/svg+xml; utf8, <svg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.7398 0.699219L6.05977 9.33922L1.25977 5.49922' stroke='white' stroke-width='0.96' stroke-linecap='round' stroke-linejoin='round'/></svg>";
