.list-with-icons {
    background-color: $primary-background-color;

    .button-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-with-title {
            display: flex;
            align-items: center;
        }

        .icon_tos {
            color: #4A7712;
        }

        .arrow-right {
            color: $darker-gray-color;
        }

        .icon {
            width: 24px;

            &.width-22 {
                width: 22px;
            }

            &.m-l-2 {
                margin-left: 2px;
            }

            &.pink-strong {
                color: $pink-strong-color;
            }

            &.orange {
                color: $orange;
            }

            &.pink-pale {
                color: $pink-pale-color;
            }

            &.light-blue {
                color: $light-blue;
            }

            &.lighter-light-blue {
                color: $lighter-light-blue;
            }

            &.pink {
                color: $pink-color;
            }

            &.green {
                color: $green-color;
            }

            &.yellow {
                color: $tertiary-yellow-color;
            }

            &.purple {
                color: $purple-color;
            }

            &.purple-dark {
                color: $purple-dark-color;
            }

            &.gray {
                color: $dark-gray-color;
            }

            &.blue-sea {
                color: $light-blue-sea;
            }

            &.dark-blue {
                color: $dark-blue;
            }

            &.brown {
                color: $brown-color;
            }
        }
    }

    li:not(:last-child) {
        border-bottom: 1px solid $extra-light-blue-spacer;
    }
}
