// List style type
.list-type-roman {
  list-style-type: upper-roman;
}

.list-type-latin {
  list-style-type: upper-latin;
}

.list-type-decimal {
  list-style-type: decimal;
}


// List style position
.list-position-inside {
  list-style-position: inside;
}

// List custom style 'bullets'
.custom-style-bullet {
  list-style: none;
  li:before {
    content: '\2022';
  }
}

.list-border-bottom {
  li {
    padding: 5px 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $extra-light-blue-spacer;
    margin-bottom: 5px;
  }
}