.account-signin {
    background-color: rgba(236, 239, 246, 0.487025);

    .primary-checkbox {
        span {
            top: 2px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
        }
    }
}
.login .login-container {
    .column-links {
        .item {
            flex: 0 0 50%;
        }
    }
}
