#account-page {
    .account-footer {
        .secondary-info-link-group {
            .link-container {
                width: 33%;
                text-align: center;
                padding: 5px 7px;
            }
        }
    }
}
