.settings {
    .edit-image-form {
        img {
            object-fit: cover;
            width: 120px;
            height: 120px;
        }

        .empty-avatar {
            width: 120px;
            height: 120px;
            background-position: center;
            background-size: contain;
        }

        svg {
            position: absolute;
            right: -10px;
            bottom: -10px;
            color: $color-white;
            background-color: $secondary-color;
            padding: 4px;
            border: 4px solid $color-white;
            border-radius: 4px;
        }
    }
}

.edit-username-icon {
    width: 21px;
    height: 22px;
}

.lock-question {
    width: 24px;
    height: 24px;
}

.envelope {
    width: 23px;
    height: 16px;
}

.payments {
    width: 23px;
    height: 24px;
}

.gear {
    width: 24px;
    height: 24px;
}

.logout {
    width: 22px;
    height: 23px;
}
