.currency-button {
  height: 0;
  & > a {
    &::after {
      content: 'Currency Converter';
      position: absolute;
      top: 21px;
      right: 0;
      color: $secondary-color;
      background-color: rgb(221,231,250);
      font-size: 14px;
      padding: 7px 4px;
      border-radius: 4px;

      @media (max-width: 400px) {
        padding: 4px;
      }

    }
    & > img {
      display: none;
    }
  }
}

.content {
  &.profile {
    .location {
      .icon {
        width: 27px;
        display: flex;
        justify-content: center;
      }
    }

    .email-icon {
      border-radius: 4px;
    }
  }
}
