.feedback-container {
    .review-message {
        width: 100%;
        resize: none;
        border: none;
        background-color: $dirty-gray-color;
        border-radius: $primary-border-radius;

        &::placeholder {
            color: $dirty-gray-light-color;
        }

        &:focus {
            outline: none;
        }
    }
}