.tab-content-container-inner {
    .single-review {
        &:not(:last-child) {
            border-bottom: 1px solid $extra-light-blue-spacer;
        }

        .with-buttons {
            flex-flow: column;

            .single-review-buttons {
                flex-direction: row !important;
                margin-top: 15px;

                .btn {
                    margin-bottom: 10px !important;
                    margin-right: 10px !important;
                }
            }
        }
    }
}

.place-preview-add {
    #review-message {
        height: 95px;
    }
}
