.add-business {
    .day_label {
        display: none;

        &.show {
            display: block;
        }
    }

    .place-phone {
        & > .container {
            padding: 0 !important;
        }

        .phone-label {
            padding-bottom: 0 !important;
            color: $placeholder-color;
        }
    }
}
