<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {% block ampComponents %}{% endblock %}

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Adult Search">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Adult Search">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="canonical" href="{{ canonical }}">

    <link rel="icon" href="{{ appUrl }}/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ appUrl }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ appUrl }}/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ appUrl }}/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{ appUrl }}/apple-touch-icon.png">
    <link rel="mask-icon" href="{{ appUrl }}/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="{{ appUrl }}/manifest.json">

    <meta name="msapplication-starturl" content="{{ appUrl }}/">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <style amp-boilerplate>
        {% include 'amp/styles/ampBoilerplate.css' %}
    </style>

    <noscript>
        <style amp-boilerplate>
            {% include 'amp/styles/ampBoilerplateNoScript.css' %}
        </style>
    </noscript>

    <style amp-custom>
        {% include 'amp/styles/common.css' %}
        {% include 'amp/styles/properties.css' %}
        {% include 'amp/styles/partials/header.css' %}
        {% include 'amp/styles/partials/breadcrumbs.css' %}
        {% block styleContent %}{% endblock %}
    </style>
</head>
<body>
    <a id="top"></a>

    <div class="header">
        <div class="header__container">
            <div class="header__brand">
                <a href="{{ appUrl }}/amp" class="header__brand-text">
                    Adult Search
                </a>
            </div>
            <a class="header__sign-up" href="{{ appUrl }}">Go to full version</a>
        </div>
    </div>

    {% if breadcrumbs is defined and breadcrumbs|length %}
        <div class="container">
            {% include 'amp/partials/breadcrumbs.html.twig' with breadcrumbs %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
