.city-advertisement {
    border: 1px solid $extra-light-blue-spacer;
    border-radius: $primary-border-radius;

    &:first-of-type {
        margin-top: 10px!important;
    }

    .content-item {
        border-radius: 6px;

        .left {
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                display: block;
                background: url('/images/no-photo-small.svg') no-repeat 50%/contain #ECECEC;
            }
        }
    }
}
