.location-search-block {
    height: 120px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    // custom placeholder color in location search (main page)
    .input-container {
        input {
            &::placeholder {
                color: $placeholder-search-color;
            }
        }
    }
}
