{% import 'crm/partials/forms.html.twig' as forms %}
{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manual email send form</h4>
                {#<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>#}
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('manual_email') }}">
                    {{ forms.input('From', 'emailSender', '', 'email', true) }}
                    {{ forms.input('Send to', 'emailTo', '', 'email', true) }}
                    {{ forms.input('Subject', 'subject', '', '', true) }}
                    {{ forms.textarea('Text', 'body', '', true) }}
                    {{ forms.input('Reply to', 'replyTo') }}
                    <div class="modal-footer border-top-0">
                        <button class="btn btn-primary" type="submit">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
