{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('spammer_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                    &nbsp;
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> List of spammers
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#addSpammer" href="#">Add Spammer</a>
                </div>
                <div class="card-body">

                    {% if spammers|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="td-id">ID</th>
                                <th>E-mail</th>
                                <th>Ip Address</th>
                                <th>Created At</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for spammer in spammers %}
                                <tr>
                                    <td class="td-id">{{ spammer.id }}</td>
                                    <td>{{ spammer.email }}</td>
                                    <td>{{ spammer.ipAddress }}</td>
                                    <td>
                                        {% if spammer.createdAt is not null %}
                                            {{ spammer.createdAt|date('d-m-Y h:m:s') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% include 'crm/popups/delete.html.twig' with {
                                            'id': spammer.id,
                                            'url': path('spammer_remove', {id : spammer.id}),
                                        } %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'spammer_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>

    {% include 'crm/administrate/popups/add.html.twig' with {
    } %}
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    $('#spammer_add_form').on('submit', function(e) {
        //e.preventDefault();

        if (!$('#email').val() && !$('#ipAddress').val()) {
          alert('Please fill in email, domain or ip address');
          $('#email').focus();
          return false;
        } else {
          return true;
        }
    });
});
</script>
{% endblock %}
