.popup-menu {
  min-width: 160px;
  padding: 10px 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.122924);
}

.popup-menu__item {
  display: block;
  padding: 10px 16px;
  line-height: 1.2;
  color: #000;
}

.popup-menu__item:active,
.popup-menu__item:focus {
  background-color: #ECF3FB;
}
