.footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: $footer-height;
    border-top: 1px solid rgba(205, 205, 205, 0.9);
    background-color: #fcfcfc;
    transition: bottom .3s ease;
}

.footer__item {
    position: relative;
    width: 20%;
}

.footer__item + .footer__item {
    border-left: 1px solid rgba(205, 205, 205, 0.3);
}

.footer__item-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #6B6B6B;

    &:hover,
    &:active {
        color: #6B6B6B;
    }
}

.footer__item_active {
    .footer__item-link {
        color: #3577E5;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 0 0 2px 2px;
            border: 1px solid;
        }
    }
}

.footer__item-icon {
    height: 21px;

    svg {
        fill: currentColor;
    }
}

.footer__item-title {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
}

.footer__messages {
    position: relative;
}

.footer__messages-count {
    position: absolute;
    top: -4px;
    left: 70%;
    min-width: 14px;
    height: 14px;
    padding: 0 2px;
    border-radius: 14px;
    background-color: #cb0000;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
    color: #fff;
}

.footer__item_home svg {
    width: 25px;
    height: 19px;
}

.footer__item_my-ads svg {
    width: 22px;
    height: 21px;
}

.footer__item_post-ad svg {
    width: 21px;
    height: 21px;
}

.footer__item_messages svg {
    width: 21px;
    height: 18px;
}

.footer__item_my-as svg {
    width: 18px;
    height: 20px;
}
