.hamburger-menu {
    margin: 0;
    padding: 0 !important;

    .list-with-icons {
        .arrow-right {
            display: none;
        }
    }

    .modal-dialog {
        max-width: 250px;
        margin: 0 0 0 auto;
        box-shadow: -4px 0px 9px rgba(0, 0, 0, 0.103666);
        transform: translateX(100%) !important;

        .modal-content {
            min-height: 100vh;
            border: none;
            border-radius: 0;

            .logo {
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }

    &.show {
        .modal-dialog {
            transform: translateX(0) !important;
        }
    }

    .version-footer {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 0.7em;
    }
}