header {
    background: $header-background;
    border-bottom: 1px solid $gray-color;

    $left-indent: 10px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1040;
    transition: top .3s ease;

    &.bg-transparent {
        background: transparent;
        border: none;
    }

    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    &,
    .header-back-btn,
    .burger-menu-toggle {
        color: $color-white;
    }

    .header-back-btn-container {
        font-weight: 600;
        flex-shrink: 0;
        font-size: 16px;
        margin-top: -4px;
    }

    .burger-menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        flex-shrink: 0;

        &.right-15 {
            right: 20px;
        }

        &:focus {
            outline: none;
        }
    }

    .header-container {
        height: $header-height;
        padding: 0 $left-indent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-back-btn {
            display: block;
            height: 100%;
        }

        &.home {
            background: $color-white;
        }
    }

    .header-title {
        font-size: 14px;
        font-weight: 600;
        margin-right: auto;
        word-break: break-all;
    }

    .header-language__dropdown {
        font-size: 16px;
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .header-signin {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        position: relative;
        align-items: center;
        background: $color-white;
        color: #3577E5;
        padding: 4px 10px;
        border-radius: 6px;
        flex-shrink: 0;

        @media (max-width: 320px) {
            padding: 4px;
        }
    }

    .header-location {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        position: relative;
        align-items: center;
        max-width: 50%;
        white-space: nowrap;
        color: $color-white;

        @media (max-width: 320px) {
            max-width: 45%;
        }

        .header-location_label {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:before {
            display: block;
            content: '';
            flex-shrink: 0;
            width: 14px;
            height: 19px;
            margin-right: 5px;
            background: no-repeat center / auto url($location-marker-fill);
        }
    }

    .brand {
        flex-shrink: 0;
    }

    .brand__text {
        color: $color-white;
        font-weight: 800;
        font-size: 30px;
        padding-right: 15px;
        position: relative;
    }

    .brand__image {
        width: 140px;
    }
}
