{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('post_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Posts</div>
                <div class="card-body">

                    {% if posts|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th class="sorting" id="t.topicId" onclick="ordering('t.topicId', 'desc');">Topic ID</th>
                                <th class="sorting" id="t.accountId" onclick="ordering('t.accountId', 'desc');">Account ID</th>
                                <th>Post</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td class="td-id">{{ post.id }}</td>
                                    <td>{{ post.topicId }}</td>
                                    <td>
                                        <a title="Watch account info" onclick="getAccountInfo({{ post.accountId }}); return false;" href="#">{{ post.accountId }}</a>
                                    </td>
                                    <td>{{ post.text }}</td>
                                    <td>
                                        {% include 'crm/popups/delete.html.twig' with {
                                            'id': post.id,
                                            'url': path('post_delete', {id: post.id}),
                                            'post': false,
                                        } %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'post_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
