{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('topic_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Topics</div>
                <div class="card-body">

                    {% if topics|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th class="sorting" id="t.accountId" onclick="ordering('t.accountId', 'desc');">Account ID</th>
                                <th class="sorting" id="t.createdAt" onclick="ordering('t.createdAt', 'desc');">Created At</th>
                                <th>Location</th>
                                <th>Title</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for topic in topics %}
                                <tr>
                                    <td class="td-id">{{ topic.topic.id }}</td>
                                    <td>
                                        <a title="Watch account info" onclick="getAccountInfo({{ topic.topic.accountId }}); return false;" href="#">{{ topic.topic.accountId }}</a>
                                    </td>
                                    <td>{{ topic.topic.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td>{{ topic.city.name }}</td>
                                    <td>{{ topic.topic.title }}</td>
                                    <td>
                                        {% include 'crm/popups/delete.html.twig' with {
                                            'id': topic.topic.id,
                                            'url': path('topic_delete', {id: topic.topic.id}),
                                        } %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'topic_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
