<div class="form-group">
    <form action="" method="get">
        <div class="input-group">

                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <svg class="c-icon">
                            <use xlink:href="/mng/icons/sprites/free.svg#cil-search"></use>
                        </svg>
                    </span>
                </div>

                {% for filter in filters %}
                    {% if filter.type is defined and filter.type == 'select' %}
                        {% set selected = app.request.get(filter.name) %}
                        <select class="form-control" name="{{ filter.name }}">
                            <option value="">{{ filter.placeholder }}:</option>
                            {% for key, name in filter.options %}
                                <option value="{{ key }}" {% if key == selected %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input
                            class="form-control"
                            id="appendedInputButton"
                            type="{% if filter.type is defined %}{{ filter.type }}{% else %}text{% endif %}"
                            name="{{ filter.name }}"
                            value="{{ app.request.get(filter.name)|default('') }}"
                            placeholder="{{ filter.placeholder }}"
                            autocomplete="{{ filter.name }}"
                        >
                    {% endif %}
                {% endfor %}

                <span class="input-group-append">
                    <button class="btn btn-secondary btn-go" type="submit">Go!</button>
                    <button class="btn btn-secondary" type="button" onclick="return location.href = '{{ reset_url }}'">Reset</button>
                </span>
            </div>
    </form>
</div>
