{% macro input(label, name, value, type = "text", required = false, placeholder = '', class = '', id = '') %}
<div class="form-group">
    {% if label|length %}
    <label>{{ label|e }}</label>
    {% if required %}<span style="color: red"> *</span>{% endif %}
    {% endif %}
    <input
            type="{{ type }}"
            id="{{ id|e }}"
            class="form-control {{ class|e }}"
            name="{{ name }}"
            value="{{ value|e }}"
            placeholder="{{ placeholder|e }}"
            {% if required %}required{% endif %}
    />
</div>
{% endmacro %}

{% macro input_disabled(label, value, name='', type = "text") %}
    <div class="form-group">
        <label>{{ label|e }}</label>
        <input
                type="{{ type }}"
                class="form-control"
                value="{{ value|e }}"
                disabled
        />
    </div>
{% endmacro %}

{% macro textarea(label, name, value, required = false, placeholder = '', class = '', id = '', rows = 10, cols = 40) %}
<div class="form-group">
    {% if label|length %}
    <label>{{ label|e }}</label>
    {% if required %}<span style="color: red"> *</span>{% endif %}
    {% endif %}
    <textarea
            name="{{ name }}"
            id="{{ id|e }}"
            class="form-control {{ class|e }}"
            rows="{{ rows }}"
            cols="{{ cols }}"
            placeholder="{{ placeholder }}"
            value="{{ value|e }}"
            {% if required %}required{% endif %}
    >{{ value|e }}</textarea>
</div>
{% endmacro %}

{% macro select(label, name, value, options, default_text = 'Please select', id= '') %}
<div class="form-group">
    <label>{{ label|e }}</label>
    <select class="form-control form-control-lg" id="{{ id|e }}" name="{{ name|e }}">
        <option>{{ default_text }}</option>
        {% for key, name in options %}
            <option value="{{ key }}" {% if key == value %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro select_list_of_enum(label, name, value, options, default_text = 'Please select', id= '') %}
    <div class="form-group">
        <label>{{ label|e }}</label>
        <select class="form-control form-control-lg" id="{{ id|e }}" name="{{ name|e }}">
            <option>{{ default_text }}</option>
            {% for types in options %}
                {% for key, type in  types%}
                    <option value="{{ key }}" {% if key is same as (value) %}selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro select_list_of_enum2(label, name, value, options, default_text = 'Please select', id= '') %}
    <div class="form-group">
        {% if label|length %}
        <label>{{ label|e }}</label>
        {% endif %}
        <select class="form-control form-control-lg" id="{{ id|e }}" name="{{ name|e }}">
            <option>{{ default_text }}</option>
            {% for key, type in options %}
                <option value="{{ key }}" {% if key is same as (value) %}selected{% endif %}>{{ type.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro checkbox(label, values) %}
<div class="form-group">
    {% if label|length %}
        <label>{{ label|e }}</label>
    {% endif %}
    {% for value in values %}
        <div class="form-check checkbox">
            <input class="form-check-input"
                   id="{{ value.name }}-checkbox"
                   type="checkbox"
                   name="{{ value.name }}"
                   {% if value.value is same as (true) %}
                    checked
                   {% endif %}
            >
            <label class="form-check-label" for="{{ value.name }}-checkbox">{{ value.checkbox_label }}</label>
        </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro checkbox_inline(label, name, value, required = false) %}
        <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-{{ name }}" type="checkbox" name="{{ name }}" {% if value is same as (true) %}
            checked{% endif %} {% if required %}required{% endif %} value="{{ value }}">
            <label class="form-check-label" for="inline-{{ name }}">{{ label }}</label>
        </div>
{% endmacro %}

{% macro radio(label, values) %}
    <label>{{ label|e }}</label>
    <div class="form-group">
        {% for key, value in values %}
        <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-radio{{ key }}" type="radio" name="{{ value.name }}" value="{{ value.value }}">
            <label class="form-check-label" for="inline-radio1">{{ value.radio_label }}</label>
        </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro submit(name, color = 'btn-primary', onsubmit = '') %}
<button class="btn btn-primary {{ color }}" type="submit" onsubmit="{{ onsubmit }}"> {{ name }}</button>
{% endmacro %}
