<div class="form-group">
    <form action="" method="get">
        <div class="controls">
            <div class="input-group">
                <input class="form-control" id="appendedInputButton" size="16" type="text" name="search" required placeholder="Text search">
                <span class="input-group-append">
                    <button class="btn btn-secondary btn-go" type="submit">Go!</button>
                    <button class="btn btn-secondary" type="button" onclick="return location.href = '{{ reset_url }}'">Reset</button>
                </span>
            </div>
        </div>
    </form>
</div>
