<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
        <svg class="c-icon c-icon-lg">
            <use xlink:href="/mng/icons/sprites/free.svg#cil-menu"></use>
        </svg>
    </button>

    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
        <svg class="c-icon c-icon-lg">
            <use xlink:href="/mng/icons/sprites/free.svg#cil-menu"></use>
        </svg>
    </button>

    {% include 'crm/partials/header-nav.html.twig' %}

    <ul class="c-header-nav">
        <li class="c-header-nav-item dropdown d-md-down-none mx-2">
            <a class="c-header-nav-link" href="{{ path('contacts') }}" role="button" aria-haspopup="true" aria-expanded="false">
                <svg class="c-icon mfe-2">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-envelope-open"></use>
                </svg>
                <span class="badge badge-pill badge-info">{{ messageCount.count }}</span>
            </a>
        </li>
    </ul>

    <ul class="c-header-nav mfs-auto logout">
        <li class="c-header-nav-item px-3 c-d-legacy-none">
            <a class="c-header-nav-link" href="{{ path('logout') }}">
                <svg class="c-icon mfe-2">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-account-logout"></use>
                </svg>
                Log Out
            </a>
        </li>
    </ul>

    {#{% include 'crm/partials/breadcrumbs.html.twig' %}#}
</header>
