{#
    Parameters:
      * total
      * limit
      * url (string): route name & query (string): route parameter
        ex: list/page-5?query=myFilter (5 = page and query = myFilter)
#}

    {# Number of page around current page+1 #}
    {% set currentPage = app.request.get('page')|default(1) %}
    {% set nearbyPagesLimit = 10 %}
    {% set itemPerPage = limit %}
    {% set nbPages = (total / limit)|round(0, 'ceil') %}

    {% if nbPages > 1 %}
        <nav>
            <ul class="pagination">
                {% for i in 1..nbPages %}

                    {% set offset = itemPerPage * (loop.index - 1) %}
                    {% set url = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({ 'page': loop.index, 'query': query, 'offset': offset, 'limit': limit }))) %}

                    {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                        <li class="disabled"><a class="page-link" href="{{ url }}" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                        <li class="disabled"><a class="page-link" href="{{ url }}" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                    {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                    {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                    {% else %}
                        <li {% if currentPage == loop.index  %} class="page-item active"{% endif %}>
                            <a class="page-link" href="{{ url }}">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
