<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <div class="brand-full">AdultSearch</div>
        <div class="brand-short">AS</div>
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-title">Dashboard</li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-aperture"></use>
                </svg>
                Administrate
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="{{ url('manual_email') }}"><span class="c-sidebar-nav-icon"></span>Manual email</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="{{ url('manual_sms') }}"><span class="c-sidebar-nav-icon"></span>Manual sms</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="{{ url('spammer_list') }}"><span class="c-sidebar-nav-icon"></span>Spammer list</a>
                </li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('account_list') }}">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-people"></use>
                </svg>
                Accounts
            </a>
        </li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('activity_log_list') }}">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-history"></use>
                </svg>
                Activity Logs
            </a>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-building"></use>
                </svg>
                Places
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('place_list') }}"><span class="c-sidebar-nav-icon"></span>Places</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('review_list') }}"><span class="c-sidebar-nav-icon"></span>Reviews</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('place_missing_image') }}"><span class="c-sidebar-nav-icon"></span>Place without image</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('place_duplicates') }}"><span class="c-sidebar-nav-icon"></span>Place duplicates</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-gem"></use>
                </svg>
                Escorts
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" id="escort_list" href="{{ url('escort_list') }}"><span class="c-sidebar-nav-icon"></span>Escorts</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" id="escort_list_status" href="{{ url('escort_list', {'status' : 3}) }}"><span class="c-sidebar-nav-icon"></span>Escorts waiting list</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('escort_side_list') }}"><span class="c-sidebar-nav-icon"></span>Escorts Sides</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('escort_sticky_list') }}"><span class="c-sidebar-nav-icon"></span>Escorts Stickies</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('escort_sponsor_list') }}"><span class="c-sidebar-nav-icon"></span>Escorts Sponsors</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('escort_clicks') }}"><span class="c-sidebar-nav-icon"></span>Escorts click stats</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('phone_white_list') }}"><span class="c-sidebar-nav-icon"></span>Phone whitelist</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('phone_black_list') }}"><span class="c-sidebar-nav-icon"></span>Phone blacklist</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-speech"></use>
                </svg>
                Forums
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('topic_list') }}"><span class="c-sidebar-nav-icon"></span>Topics</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('post_list') }}"><span class="c-sidebar-nav-icon"></span>Posts</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-dollar"></use>
                </svg>
                Payments
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('payment_list') }}"><span class="c-sidebar-nav-icon"></span>Payments</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('transaction_list') }}"><span class="c-sidebar-nav-icon"></span>Transactions</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('creditCards_list') }}"><span class="c-sidebar-nav-icon"></span>Credit cards</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('bannedCards_list') }}"><span class="c-sidebar-nav-icon"></span>Banned credit cards</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('payment_statistic') }}"><span class="c-sidebar-nav-icon"></span>Statistics</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('promocode_list') }}"><span class="c-sidebar-nav-icon"></span>Promocodes</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="">
                <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/mng/icons/sprites/free.svg#cil-globe-alt"></use>
                </svg>
                Locations
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('country_list') }}"><span class="c-sidebar-nav-icon"></span>Countries</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('state_list') }}"><span class="c-sidebar-nav-icon"></span>States</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url('city_list') }}"><span class="c-sidebar-nav-icon"></span>Cities</a></li>
            </ul>
        </li>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>

{% block javascripts %}

{% endblock %}
