.per-page-btn-group {
    .text {
        color: $gray-color;
    }
    .link {
        border-radius: $tertiary-border-radius !important;
        border: none;

        &.active {
            color: $color-white !important;
            background-color: $secondary-color !important;
        }

        &:focus, &.focus {
            box-shadow: none !important;
        }
    }
}