.primary-info-link-group {
    .link-container {
        flex: 1 1 100%;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid $extra-light-blue-spacer;
        }
    }
}