.secondary-info-link-group {
    border-top: 1px solid $extra-light-blue-spacer;

    .title {
        font-size: $font-size-16;
        line-height: normal;
    }

    .icon {
        margin-bottom: 5px;
    }

    .link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        flex: 1 1 auto;
        color: currentColor;

        .icon_tos {
            color: $tertiary-color;
        }
    }

    .link-container + .link-container {
        border-left: 1px solid $extra-light-blue-spacer;
    }
}

