.appear-always-on-top {
  min-height: calc(100vh - 46px) !important;

  .banner {
    height: 270px;
    margin: 15px 0;
    background: url('/images/appear-always-on-top.png') no-repeat 50%/contain;
  }
}
