.appear-on-every-page {
    min-height: calc(100vh - 46px) !important;

    .banner {
        height: 150px;
        margin: 35px 0;
        background: url('/images/appear-on-every-page.png') no-repeat 50%/contain;
    }
}
