.my-ads-container {
    .my-ads-photo {
        .photo {
            height: 91px;
            width: 91px;
            object-fit: cover;
            display: block;
            background: url('/images/no-photo-small.svg') no-repeat 50%/contain #ECECEC;
        }
    }

    .escort-status {
        padding: 2px 4px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: normal;
        color: #3577E5;
        background: rgba(53, 119, 229, 0.15);
        white-space: nowrap;

        &.expired {
            color: $color-error;
        }

        &.active {
            color: $success-color;
        }

    }

    .secondary-info-link-group {
        .link-container__pay_url {
            color: $success-color !important;
        }
    }
}

.my-ads {
    .primary-tabs-nav-container {
        .nav-tabs {
            .nav-link.active {
                color: $secondary-color !important;

                &:after {
                    background-color: $secondary-color !important;
                }
            }
        }
    }
}
