.wrapper-social-fields {
  .social-row .field {
    flex: 1 1 auto;
  }
}

.accordion-business-hours-row {

  &:not(:last-child) {
    border-bottom: 1px solid #EAEFF5;
  }

  .accordion-body {
    .left-side,
    .right-side {
      flex: 1 1 50%;
    }
  }
}