.choose-advertising-package {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.advertising-package-image {
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    background: url(/images/no-photo-small.svg) no-repeat 50%/contain #ECECEC;
    text-align: left;
}


.wrapper-owner-package {
    $transition-delay: 0.2s;

    .column {
        flex: 1 0 33.333%;
        background: $dirty-light-blue;
        border: 6px solid rgba($success-color, 0);
        border-radius: 0;
        box-shadow: none;

        & > * {
            transition: $transition-delay;
        }

        .best-deal {
            opacity: 0;
            pointer-events: none;
            font-family: 'Lato', sans-serif;
            line-height: 22px;
            width: 90%;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $success-background-color;
            color: $color-white;
        }

        &.checked-package {
            background-color: $primary-background-color;
            border-color: $success-color;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.245386);

            .best-deal {
                opacity: 1;
                pointer-events: auto;
            }

            .number {
                color: $success-text-color;
            }

            .time,
            .price {
                color: $primary-text-color;
            }
        }

        .number {
            font-family: 'Lato', sans-serif;
            font-size: 58px;
            line-height: 70px;
        }

        .time,
        .price {
            font-family: 'OpenSans', sans-serif;
            font-size: $font-size-12;
            line-height: 18px;
        }
    }
}