{% import 'crm/partials/forms.html.twig' as forms %}
{% extends 'crm/base.html.twig' %}

{% set escortStatus = [] %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Manage classified ad {{ escort.id }}</div>
                <div class="card-body">
                    <form method="post" action="">
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> General information
                                </div>
                                <div class="card-body">
                                    {{ forms.input_disabled('Title', escort.title, 'title') }}
                                    {{ forms.select_list_of_enum('Type', 'type', escort.rawType, typeList) }}
                                    {{ forms.select_list_of_enum('Status', 'status', escort.status, statuses) }}
                                    {{ forms.input('Expires', 'expireStamp', escort.expireStamp|date("Y-m-d"), 'date')}}
                                    {{ forms.input('Account ID', 'accountId', escort.accountId) }}
                                    {{ forms.input_disabled('Email', escort.email, 'email') }}
                                    {% if escort.verified is same as (true) %}
                                    <span class="badge badge-success">Whitelisted</span>
                                    {% else %}
                                    <span class="badge badge-danger">Not whitelisted</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Content
                                </div>
                                <div class="card-body">
                                    {{ escort.content|e('html') }}
                                </div>
                            </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Images
                            </div>
                            <div class="card-body">
                                {% if escort.images|length %}
                                    {% for image in escort.images %}
                                        <img src="{{ image }}">
                                    {% endfor %}
                                {% else %}
                                    No images was uploaded
                                {% endif %}
                            </div>
                        </div>
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Videos
                                </div>
                                <div class="card-body">
                                    {% if escort.videos|length %}
                                        {% for video in escort.videos %}
                                            {{ video }}
                                        {% endfor %}
                                    {% else %}
                                        No videos was uploaded
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i>Upgrades
                                </div>
                                <div class="card-body">
                                    <p>
                                        <strong>City thumbnail:</strong>
                                        <span>
                                            {% if cityThumbnail|length %}
                                                {% for sponsor in cityThumbnail %}
                                                    {{ sponsor.city.name }} - {{ sponsor.sponsor.statusInString }} - expires at {{ sponsor.sponsor.expireAt|date('d-m-Y h:m:s') }}
                                                {% endfor %}
                                            {% else %}
                                                No city thumbnail
                                            {% endif %}
                                        </span>
                                        <button class="btn btn-warning btn-sm" type="button">Add city thumbnail</button>
                                    </p>
                                    <p>
                                        <strong>Side sponsor:</strong>
                                        <span>
                                            {% if sideSponsor|length %}
                                                {% for sponsor in sideSponsor %}
                                                    {{ sponsor.city.name }} - {{ sponsor.sponsor.statusInString }} - expires at {{ sponsor.sponsor.expireAt|date('d-m-Y h:m:s') }}
                                                {% endfor %}
                                            {% else %}
                                                No side sponsors
                                            {% endif %}
                                        </span>
                                        <button class="btn btn-warning btn-sm" type="button">Add to side sponsors</button>
                                    </p>
                                    <p>
                                        <strong>Sticky Upgrade:</strong>
                                        <span>
                                            {% if stickies|length %}
                                                {% for sticky in stickies %}
                                                   {{ sticky.city.name }} - {{ sticky.sponsor.statusInString }} - expires at {{ sticky.sponsor.expireAt|date('d-m-Y h:m:s') }}
                                                {% endfor %}
                                            {% else%}
                                                No sticky upgrade
                                            {% endif %}
                                        </span>
                                        <button class="btn btn-warning btn-sm" type="button">Add sticky upgrade </button>
                                    </p>
                                    <div class="form-group">
                                    {{ forms.checkbox_inline('Sponsor desktop', 'sponsor', escort.sponsor) }}
                                    {{ forms.checkbox_inline('Sponsor mobile', 'sponsorMobile', escort.sponsorMobile) }}
                                        <p>
                                        {{ forms.input('Sponsor position', 'sponsorPosition', escort.sponsorPosition ? escort.sponsorPosition : 99) }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Locations
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        {% for location in escort.locations %}
                                            {{ location.cityName }}, {{ location.stateName }}
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-warning" type="button" data-toggle="modal" data-target="#escort-change-location">Change location</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Payments
                                </div>
                                <div class="card-body">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>

                            {{ forms.submit('Save changes', 'btn-success btn-lg') }}

                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
    {% include 'crm/escorts/popups/change-location.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $('#country-select').change(function(){
                let result = '';
                $.get(
                    '/api/v1/popularCities?stateId=' + this.value,
                    function (data) {
                        $.each(data.list, function(key, item) {
                            result +=
                                '<div class="form-check checkbox">' +
                                '<input class="form-check-input" name="toLocation" type="checkbox" value="' + item.id  +'">' +
                                '<label class="form-check-label">'+ item.name +'</label>' +
                                '</div>';
                        });
                        $('#cities-checkboxes').empty().append(result);
                    }
                );
            });
        });
    </script>
{% endblock %}
