{% extends 'crm/base.html.twig' %}

{% set status = app.request.get('status') %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('escort_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                    {% include 'crm/partials/filter-form.html.twig' with {
                        'filters': [{
                            'name': 'escortId',
                            'placeholder': 'Escort ID',
                        },
                        {
                            'name': 'status',
                            'placeholder': 'Status',
                            'type': 'select',
                            'options': status_options,
                        },
                        {
                            'name': 'type',
                            'placeholder': 'Escort Type',
                            'type': 'select',
                            'options': type_options,
                        }],
                        'reset_url': path('escort_list'),
                    } %}
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i>Escorts {% if status %}(in verification){% endif %}</div>
                <div class="card-body">

                    {% if escorts|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Status</th>
                                <th>Locations</th>
                                <th class="sorting" id="t.created" onclick="ordering('t.created', 'desc');">Created At</th>
                                <th class="sorting" id="t.accountId" onclick="ordering('t.accountId', 'desc');">Account ID</th>
                                <th>Type</th>
                                <th>Phone</th>
                                <th>Firstname</th>
                                <th>Title</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for escort in escorts %}
                                <tr>
                                    <td class="td-id">{{ escort.id }}</td>
                                    {% include 'crm/escorts/status.html.twig' with {
                                        'status': escort.status,
                                        'statusInString': escort.statusInString,
                                    } %}
                                    <td>
                                        {% for location in escort.locations %}
                                            {{ location.cityName }}
                                        {% endfor %}
                                    </td>
                                    <td>{{ escort.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td>
                                        {% if escort.accountId %}
                                            <a title="Watch account info" onclick="getAccountInfo({{ escort.accountId }}); return false;" href="#">{{ escort.accountId }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ escort.type }}</td>
                                    <td>{{ escort.phone }}</td>
                                    <td>{{ escort.firstName }}</td>
                                    <td>{{ escort.title }}</td>
                                    <td style="min-width: 180px">
                                        <a class="btn btn-sm btn-info" type="button" href="{{ path('escort_edit', {id: escort.id}) }}">Edit</a>
                                        <a class="btn btn-sm btn-warning" href="{{ path('escort_edit_details', {id : escort.id}) }}" type="button">Edit Ad</a>
                                        {% include 'crm/popups/delete.html.twig' with {
                                            'id': escort.id,
                                            'url': path('escort_delete', {id : escort.id}),
                                        } %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'escort_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
