{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/filter-form.html.twig' with {
                            'filters':[
                                {
                                    'name': 'escortId',
                                    'placeholder': 'Escort ID',
                                },
                                {
                                    'name': 'dataFrom',
                                    'type': 'date',
                                    'placeholder': '',
                                },
                                {
                                    'name': 'dataTo',
                                    'type': 'date',
                                    'placeholder': '',
                                },
                            ],
                            'reset_url': path('escort_clicks'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Escort click statistics</div>
                <div class="card-body">

                    {% if statistics|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Day</th>
                                <th>Clicks</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for stat in statistics %}
                                    <tr>
                                        <td>{{ stat.date|date('Y') }}</td>
                                        <td>{{ stat.date|date('m') }}</td>
                                        <td>{{ stat.date|date('d') }}</td>
                                        <td>{{ stat.clickCount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
