{% import 'crm/partials/forms.html.twig' as forms %}
{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Manage details classified ad {{ escort.id }}</div>
                <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Your Availability
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>Available to<span class="required">*</span></strong>
                                                <div class="form-group required">
                                                    {{ forms.checkbox_inline('Man', 'isAvailableForMen', escort.isAvailableForMen) }}
                                                    {{ forms.checkbox_inline('Women', 'isAvailableForWomen', escort.isAvailableForWomen) }}
                                                    {{ forms.checkbox_inline('Couples', 'isAvailableForCouple', escort.isAvailableForCouple) }}
                                                </div>
                                            </p>
                                            <p>
                                                <strong>Incall/Outcall<span class="required">*</span></strong>
                                                <div class="form-group required">
                                                    {{ forms.checkbox_inline('InCall', 'isIncallEnabled', escort.isIncallEnabled) }}
                                                    {{ forms.checkbox_inline('OutCall', 'isOutcallEnabled', escort.isOutcallEnabled) }}
                                                </div>
                                            </p>
                                            <p>
                                                <strong>Location Detail</strong>
                                                {{ forms.input('', 'placeDescription', escort.placeDescription, 'text') }}
                                            </p>
                                            <p>
                                                <strong>Do you offer GFE?</strong>
                                            <div class="form-group">
                                                {{ forms.checkbox_inline('Yes, I offer Girlfriend Experience', 'gfe', escort.gfe) }}
                                                {{ forms.checkbox_inline('Yes, I offer Limited Girlfriend Experience', 'gfeLimited', escort.gfeLimited) }}
                                            </div>
                                            </p>
                                            <p>
                                                <strong>Fetish Session Activities</strong>
                                            <div class="form-group">
                                                {{ forms.checkbox_inline('Dominant', 'fetishDominant', escort.fetishDominant) }}
                                                {{ forms.checkbox_inline('Submissive', 'fetishSubmissive', escort.fetishSubmissive) }}
                                                {{ forms.checkbox_inline('Switch', 'fetishSwitch', escort.fetishSwitch) }}
                                            </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> About You
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>Name on Ad<span class="required">*</span></strong>
                                                {{ forms.input('', 'firstName', escort.firstName, 'text', true) }}
                                            </p>
                                            <p>
                                                <strong>Introduction<span class="required">*</span></strong>
                                                {{ forms.input('', 'title', escort.title, 'text', true) }}
                                            </p>
                                            <p>
                                                <strong>Ad text<span class="required">*</span></strong>
                                                {{ forms.textarea('', 'content', escort.content) }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Contact Info on your Ad
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>Email Address on your Ad<span class="required">*</span></strong>
                                                {{ forms.input('', 'email', escort.email, true) }}
                                            </p>
                                            <p>
                                                <strong>Phone Number<span class="required">*</span></strong>
                                                {{ forms.input('', 'phone', escort.phone, true) }}
                                            </p>
                                            <p>
                                                <strong>Your Website</strong>
                                                {{ forms.input('', 'website', escort.website) }}
                                            </p>
                                            <p>
                                                <strong>Credit Cards You Accept</strong>
                                                <div class="form-group">
                                                    {{ forms.checkbox_inline('Visa / Mastercard', 'isVisaAccepted', escort.isVisaAccepted) }}
                                                    {{ forms.checkbox_inline('American Express', 'isAmexAccepted', escort.isAmexAccepted) }}
                                                    {{ forms.checkbox_inline('Discovery Card', 'isDiscoverAccepted', escort.isDiscoverAccepted) }}
                                                </div>
                                            </p>
                                            <p>
                                                <strong>TER ID</strong>
                                                {{ forms.input('', 'terId', escort.terId) }}
                                            </p>
                                            <p>
                                                <strong>Facebook Profile Link</strong>
                                                {{ forms.input('', 'facebook', escort.facebook) }}
                                            </p>
                                            <p>
                                                <strong>Twitter Profile Link</strong>
                                                {{ forms.input('', 'twitter', escort.twitter) }}
                                            </p>
                                            <p>
                                                <strong>Instagram Profile Link</strong>
                                                {{ forms.input('', 'instagram', escort.instagram) }}
                                            </p>
                                            <p>
                                                <strong>Wechat</strong>
                                                {{ forms.input('', 'wechat', escort.wechat) }}
                                            </p>
                                            <p>
                                                <strong>Whatsapp</strong>
                                                {{ forms.input('', 'whatsapp', escort.whatsapp) }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Images<span class="required">*</span>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                {% if escort.images|length %}
                                                    {% for image in escort.images %}
                                                        <img src="{{ image }}">
                                                    {% endfor %}
                                                {% else %}
                                                    No images was uploaded
                                                {% endif %}
                                            </div>
                                            <div>
                                                <input type="file" name="images[]" multiple required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i> Videos
                                        </div>
                                        <div class="card-body">
                                            {% if escort.videos|length %}
                                                {% for video in escort.videos %}
                                                    {{ video }}
                                                {% endfor %}
                                            {% else %}
                                                No videos was uploaded
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <i class="fa fa-align-justify"></i>What You Look Like?
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                <strong>Your age</strong>
                                                {{ forms.input('', 'age', escort.age) }}
                                            </p>
                                            <p>
                                                <strong>Ethnicity</strong>
                                                {{ forms.select_list_of_enum2('', 'ethnicity', escort.ethnicityRawValue, ethnicity) }}
                                            </p>
                                            <p>
                                                <strong>Height</strong>
                                                {{ forms.input('Feet', 'heightFeet' , escort.heightFeet) }}
                                                {{ forms.input('Inch', 'heightInches' , escort.heightInches) }}
                                            </p>
                                            <p>
                                                <strong>Weight in lbs</strong>
                                                {{ forms.input('', 'weight', escort.weight) }}
                                            </p>
                                            <p>
                                                <strong>Eye Color</strong>
                                                {{ forms.select_list_of_enum2('', 'eyeColor', escort.rawEyeColor, eyeColor) }}
                                            </p>
                                            <p>
                                                <strong>Hair Color</strong>
                                                {{ forms.select_list_of_enum2('', 'hairColor', escort.rawHairColor, hairColor) }}
                                            </p>
                                            <p>
                                                <strong>Build</strong>
                                                {{ forms.select_list_of_enum2('', 'bodyType', escort.bodyTypeRawValue, bodyType) }}
                                            </p>
                                            <p>
                                                <strong>Cup size</strong>
                                                {{ forms.select_list_of_enum2('', 'cupSize', escort.cupSize, cupSize) }}
                                            </p>
                                            <p>
                                                <strong>Kitty</strong>
                                                {{ forms.select_list_of_enum2('', 'kitty', escort.kittyRawValue, kitty) }}
                                            </p>
                                            <p>
                                                <strong>Are you a pornstar?</strong>
                                                {{ forms.checkbox_inline('Yes, I am', 'isPornstar', escort.isPornstar) }}
                                            </p>
                                            <p>
                                                <strong>Currently Pregnant??</strong>
                                                {{ forms.checkbox_inline('Yes, I am', 'isPregnant', escort.isPregnant) }}
                                            </p>
                                        </div>
                                    </div>

                                    {{ forms.submit('Save changes', 'btn-success btn-lg') }}

                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
