{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/filter-form.html.twig' with {
                            'filters': [{
                                'name': 'escortId',
                                'placeholder': 'Escort ID',
                            },
                            {
                                'name': 'status',
                                'placeholder': 'Status',
                                'type': 'select',
                                'options': status_options,
                            },
                            {
                                'name': 'type',
                                'placeholder': 'Escort Type',
                                'type': 'select',
                                'options': type_options,
                            }],
                            'reset_url': path('escort_sticky_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Escort Stickies</div>
                <div class="card-body">

                    {% if escort_stickies|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Status</th>
                                <th class="sorting" id="t.escortId" onclick="ordering('t.escortId', 'desc');">Escort ID</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Expire In Days</th>
                                <th class="sorting" id="t.period.createdAt" onclick="ordering('t.period.createdAt', 'desc');">Created At</th>
                                <th class="sorting" id="t.period.expireAt" onclick="ordering('t.period.expireAt', 'desc');">Expired At</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for escort_sticky in escort_stickies %}
                                <tr>
                                    <td class="td-id">{{ escort_sticky.escort.id }}</td>
                                    {% include 'crm/escorts/status.html.twig' with {
                                        'status': escort_sticky.escort.status,
                                        'statusInString': escort_sticky.escort.statusInString,
                                    } %}
                                    <td>{{ escort_sticky.escort.escortId }}</td>
                                    <td>{{ escort_sticky.city.name }}</td>
                                    <td>{{ escort_sticky.escort.typeInString }}</td>
                                    <td>{{ escort_sticky.escort.inDays }}</td>
                                    <td>{{ escort_sticky.escort.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td>{{ escort_sticky.escort.expireAt|date("d-m-Y H:i:s") }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'escort_sticky_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
