{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('phone_white_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                    {% include 'crm/partials/filter-form.html.twig' with {
                        'filters':[
                            {
                                'name': 'id',
                                'placeholder': 'ID',
                            }
                        ],
                        'reset_url': path('phone_white_list'),
                    } %}
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Phone whitelist</div>
                <div class="card-body">

                    {% if phones|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Phone</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for phone in phones %}
                                <tr>
                                    <td class="td-id">{{ phone.id }}</td>
                                    <td>{{ phone.phone }}</td>
                                    <td>{{ phone.dataSource }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'phone_white_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
