{% if status == -2 %}
    <td><span class="badge badge-pill badge-danger">{{ statusInString }}</span></td>
{% elseif status == -1 %}
    <td><span class="badge badge-pill badge-warning">{{ statusInString }}</span></td>
{% elseif status == 0 %}
    <td><span class="badge badge-pill badge-secondary">{{ statusInString }}</span></td>
{% elseif status == 1 %}
    <td><span class="badge badge-pill badge-success">{{ statusInString }}</span></td>
{% elseif status == 2 %}
    <td><span class="badge badge-pill badge-success">{{ statusInString }}</span></td>
{% elseif status == 3 %}
    <td><span class="badge badge-pill badge-warning">{{ statusInString }}</span></td>
{% endif %}
