.color-primary {
  color: $primary-text-color !important;
}

.color-primary-border {
  border: 1px solid $primary-text-color !important;
}

.color-secondary {
  color: $secondary-text-color !important;
}

.color-secondary-border {
  border: 1px solid $secondary-text-color !important;
}

.color-tertiary {
  color: $tertiary-text-color !important;
}

.color-tertiary-border {
  border: 1px solid $tertiary-text-color !important;
}

.color-quaternary {
  color: $quaternary-text-color !important;
}

.color-fifth {
  color: $fifth-text-color !important;
}

.color-success {
  color: $success-text-color !important;
}

.color-error {
  color: $error-text-color !important;
}

.color-white {
    color: $white-text-color !important;
}

.color-darker-gray {
    color: $darker-gray-color !important;
}

.color-nitro-gray {
    color: $nitro-gray-color !important;
}

.color-black {
    color: $color-black !important;
}

.color-label {
    color: $placeholder-color !important;
}
