.f-s-base {
    font-size: $font-size-base !important;
}

.f-s-30 {
    font-size: $font-size-30 !important;
}

f-s-26 {
    font-size: $font-size-26 !important;
}

.f-s-25 {
    font-size: $font-size-25 !important;
}

.f-s-24 {
    font-size: $font-size-24 !important;
}

.f-s-20 {
    font-size: $font-size-20 !important;
}

.f-s-18 {
    font-size: $font-size-18 !important;
}

.f-s-16 {
    font-size: $font-size-16 !important;
}

.f-s-14 {
    font-size: $font-size-14 !important;
}

.f-s-12 {
    font-size: $font-size-12 !important;
}

.f-s-10 {
    font-size: $font-size-10 !important;
}

@media (max-width: 374px) {
    .f-s-sm-30 {
        font-size: $font-size-30 !important;
    }

    .f-s-sm-25 {
        font-size: $font-size-25 !important;
    }

    .f-s-sm-24 {
        font-size: $font-size-24 !important;
    }

    .f-s-sm-20 {
        font-size: $font-size-20 !important;
    }

    .f-s-sm-16 {
        font-size: $font-size-16 !important;
    }

    .f-s-sm-14 {
        font-size: $font-size-14 !important;
    }

    .f-s-sm-12 {
        font-size: $font-size-12 !important;
    }

    .f-s-sm-10 {
        font-size: $font-size-10 !important;
    }
}
