h1, h2, h3, h4, h5, h6 {
  margin: 0;

  &.required {
	&:after {
	  content: '*';
	  color: $error-red;
	  margin-left: 3px;
	}
  }
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $font-size-base;
  font-weight: 400;
}