{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('place_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                    {% include 'crm/partials/filter-form.html.twig' with {
                        'filters': [{
                            'name': 'placeId',
                            'placeholder': 'Place ID',
                        },
                        {
                            'name': 'status',
                            'placeholder': 'Status',
                            'type': 'select',
                            'options': status_options,
                        },
                        {
                            'name': 'type',
                            'placeholder': 'Place Type',
                            'type': 'select',
                            'options': type_options,
                        }],
                        'reset_url': path('place_list'),
                    } %}
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Places</div>
                <div class="card-body">

                    {% if places|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Status</th>
                                <th>Place Type</th>
                                <th class="sorting" id="t.name" onclick="ordering('t.name', 'desc');">Name</th>
                                <th>Location</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th class="sorting" id="t.datesOfChanges.createdAt" onclick="ordering('t.datesOfChanges.createdAt', 'desc');">Date Registered</th>
                                <th>Admin Comment</th>
                                <th>Managment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for place in places %}
                                <tr>
                                    <td class="td-id">{{ place.place.id }}</td>
                                    <td>
                                        {% if place.place.deletedAt is not null %}
                                            <span class="badge badge-pill badge-danger">Deleted</span> <p class="td-note">{{ place.place.deletedAt|date("d-m-Y H:i:s") }}</p>
                                        {% else %}
                                            <span class="badge badge-pill badge-success">Active</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for type in types %}
                                            {% if place.place.typeId is same as (type.id) %}
                                                {{ type.name }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ place.place.name }}</td>
                                    <td>{{ place.city.name }}</td>
                                    <td>{{ place.place.address1 }}</td>
                                    <td>{{ place.place.phone1 }}</td>
                                    <td>{{ place.place.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td>{{ place.place.workerComment }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info d-inline-block" type="button" href="{{ path('place_edit', {id: place.place.id}) }}">Edit</a>
                                        {% include 'crm/popups/delete.html.twig' with {
                                            'id': place.place.id,
                                            'url': path('place_delete', {'id': place.place.id }),
                                            'post': true,
                                        } %}
{#                                        <form name="force_delete" class="d-inline-block" action="{{ path('place_force_delete', {'id': place.place.id }) }}" method="post">
                                            <input class="btn btn-sm btn-danger" type="submit" value="Force Delete">
                                        </form>#}
                                        <form name="place-open" class="d-inline-block" action="{{ path('place_checked_success', {'id': place.place.id }) }}" method="post">
                                            <input class="btn btn-sm btn-success" type="submit" value="Open">
                                        </form>
                                        <form name="place-open" class="d-inline-block" action="{{ path('place_checked_skipped', {'id': place.place.id }) }}" method="post">
                                            <input class="btn btn-sm btn-secondary" type="submit" value="Skip">
                                        </form>
                                        <form name="place-open" class="d-inline-block" action="{{ path('place_checked_phone_not_answered', {'id': place.place.id }) }}" method="post">
                                            <input class="btn btn-sm btn-dark" type="submit" value="Phone not answered">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'place_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
