{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/filter-form.html.twig' with {
                            'filters':[
                                {
                                    'name': 'reviewId',
                                    'placeholder': 'Review ID',
                                },
                                {
                                    'name': 'accountId',
                                    'placeholder': 'Account ID',
                                }
                            ],
                            'reset_url': path('review_list'),
                        } %}

                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Place reviews</div>
                <div class="card-body">

                    {% if reviews|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th class="sorting" id="t.reviewDate" onclick="ordering('t.reviewDate', 'desc');">Created At</th>
                                <th class="sorting" id="t.placeId" onclick="ordering('t.placeId', 'desc');">Place ID</th>
                                <th class="sorting" id="t.accountId" onclick="ordering('t.accountId', 'desc');">Account ID</th>
                                <th>Comment</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in reviews %}
                                <tr>
                                    <td class="td-id">{{ review.id }}</td>
                                    <td>{{ review.reviewDate|date("d-m-Y H:i:s") }}</td>
                                    <td>{{ review.placeId }}</td>
                                    <td>
                                        <a title="Watch account info" onclick="getAccountInfo({{ review.accountId }}); return false;" href="#">{{ review.accountId }}</a>
                                    </td>
                                    <td>{{ review.comment }}</td>
                                    <td>
                                        {% include 'crm/popups/delete.html.twig' with {
                                            'id': review.id,
                                            'url': path('review_delete', {'id': review.id}),
                                        } %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'review_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
