{% import 'crm/partials/forms.html.twig' as forms %}
{% extends 'crm/base.html.twig' %}

{%
    set workingTimeOptions = {
    0: '12:00 AM',
    30: '12:30 AM',
    60: '01:00 AM',
    90: '01:30 AM',
    120: '02:00 AM',
    150: '02:30 AM',
    180: '03:00 AM',
    210: '03:30 AM',
    240: '04:00 AM',
    270: '04:30 AM',
    300: '05:00 AM',
    330: '05:30 AM',
    360: '06:00 AM',
    390: '06:30 AM',
    420: '07:00 AM',
    450: '07:30 AM',
    480: '08:00 AM',
    510: '08:30 AM',
    540: '09:00 AM',
    570: '09:30 AM',
    600: '10:00 AM',
    630: '10:30 AM',
    660: '11:00 AM',
    690: '11:30 AM',
    720: '12:00 PM',
    750: '12:30 PM',
    780: '01:00 PM',
    810: '01:30 PM',
    840: '02:00 PM',
    870: '02:30 PM',
    870: '02:30 PM',
    900: '03:00 PM',
    930: '03:30 PM',
    960: '04:00 PM',
    990: '04:30 PM',
    1020: '05:00 PM',
    1050: '05:30 PM',
    1080: '06:00 PM',
    1110: '06:30 PM',
    1140: '07:00 PM',
    1170: '07:30 PM',
    1200: '08:00 PM',
    1230: '08:30 PM',
    1260: '09:00 PM',
    1290: '09:30 PM',
    1320: '10:00 PM',
    1350: '10:30 PM',
    1380: '11:00 PM',
    1410: '11:30 PM',
    }
%}

{% set paymentsAttributes = [
    {
        'name': 18,
        'value': true,
        'checkbox_label': 'Electronic Cash'
    },
    {
        'name': 29,
        'value': true,
        'checkbox_label': 'Visa & Mastercard'
    },
    {
        'name': 30,
        'value': true,
        'checkbox_label': 'American Express'
    },
    {
        'name': 31,
        'value': true,
        'checkbox_label': 'Discover Card'
    },
    {
        'name': 63,
        'value': true,
        'checkbox_label': 'JCB'
    },
    {
        'name': 78,
        'value': true,
        'checkbox_label': 'Visa'
    },
    {
        'name': 79,
        'value': true,
        'checkbox_label': 'Mastercard'
    }
] %}
{% set paymentIdsNewArray = [] %}
{% set datas = [] %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Manage place #{{ place.id }}</div>
                <div class="card-body">
                    <form method="post" action="{{ path('place_edit', {'id' : place.id}) }}" id="placeEdit">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-align-justify"></i> General information
                                    </div>
                                    <div class="card-body">
                                        {{ forms.input_disabled('ID', place.id) }}
                                        {{ forms.input('Name', 'name', place.name) }}
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select class="form-control form-control-lg" id="place_type" name="typeId">
                                                <option>Please select</option>
                                                {% for type in types %}
                                                    <option value="{{ type.id }}" {% if type.id is same as (place.typeId) %}selected{% endif %}>{{ type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {{ forms.input('Zipcode', 'address[zipCode]', place.zipCode) }}
                                        {{ forms.input('Address 1', 'address[address1]', place.address1) }}
                                        {{ forms.input('Address 2', 'address[address2]', place.address2) }}
                                        {{ forms.input('Phone1', 'contactDetails[phone1]', place.phone1) }}
                                        {{ forms.input('Phone2', 'contactDetails[phone2]', place.phone2) }}
                                        {{ forms.input('Email', 'contactDetails[email]', place.email) }}
                                        {{ forms.input('Website', 'webSite', place.webSite) }}
                                        {{ forms.input('Facebook', 'socialNetworks[facebook]', place.facebook) }}
                                        {{ forms.input('Twitter', 'socialNetworks[twitter]', place.twitter) }}
                                        {{ forms.input('Instagram', 'socialNetworks[instagram]', place.instagram) }}
                                        {{ forms.input('Whatsapp', 'socialNetworks[whatsapp]', place.whatsapp) }}
                                        {{ forms.input('Line', 'socialNetworks[line]', place.line) }}
                                        {{ forms.input('Wechat', 'socialNetworks[wechat]', place.wechat) }}
                                        {{ forms.input('Telegram', 'socialNetworks[telegram]', place.telegram) }}
                                        {{ forms.input('Latitude', 'latitude', place.latitude) }}
                                        {{ forms.input('Longitude', 'longitude', place.longitude) }}
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">Working hours</div>
                                    <div class="card-body">
                                        {% for attribute in attributes %}
                                            {% if attribute.type is same as ('hours') %}
                                                {% set dayName = attribute.name|split('_') %}
                                                {{ forms.select(dayName[0]|capitalize ~ ' ' ~ dayName[1], 'placeAttributes['~ attribute.attributeId ~']', attribute.value, workingTimeOptions) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-align-justify"></i> Thumbnail
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {% if place.thumbnail is null %}
                                                No thumbnail image for this place
                                            {% else %}
                                                <img src="{{ place.thumbnail }}">
                                            {% endif %}
                                            <div>
                                                <input type="file" name="thumbnail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-align-justify"></i> Main image
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {% if place.image is null %}
                                                No main image for this place
                                            {% else %}
                                                <img src="{{ place.image }}">
                                            {% endif %}
                                            <div>
                                                <input type="file" name="image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-align-justify"></i> Videos
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-align-justify"></i> Other options
                                    </div>
                                    <div class="card-body">
                                        {% for attribute in attributes %}
                                            {% if attribute.type == 'boolean3' %}
                                                <div class="form-group">
                                                    <label>{{ attribute.title }}</label>
                                                    <select class="form-control form-control-lg" id="{{ attribute.name }}" name="{{ 'placeAttributes['~ attribute.attributeId ~']' }}">
                                                        <option>Please select</option>
                                                        <option value="1" {% if attribute.value == 1 %} selected {% endif %}>No</option>
                                                        <option value="2" {% if attribute.value == 2 %} selected {% endif %}>Yes</option>
                                                    </select>
                                                </div>
                                            {% endif %}
                                            {% if attribute.type == 'boolean' %}
                                                <div class="form-group">
                                                    <label>{{ attribute.title }}</label>
                                                    <input type="checkbox" name="{{ 'placeAttributes['~ attribute.attributeId ~']' }}" value="{{ attribute.value }}" {% if attribute.value == true %}checked{% endif %}>
                                                </div>
                                            {% endif %}
                                            {% if attribute.type == 'text' %}
                                                {{ forms.input(attribute.title, 'placeAttributes['~ attribute.attributeId ~']', attribute.value) }}
                                            {% endif %}
                                            {% if attribute.type == 'fee' %}
                                                {{ forms.select(attribute.title, 'placeAttributes['~ attribute.attributeId ~']', attribute.value) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                {{ forms.submit('Save changes', 'btn-success btn-lg') }}

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
