{% extends 'crm/base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Places duplicates</div>
            <div class="card-body">
                {% if placeDuplicates|length %}
                    <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                        <thead>
                        <tr>
                            <th>Location</th>
                            <th class="sorting" id="t.name" onclick="ordering('t.name', 'desc');">Place Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Places IDs</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for placeDuplicate in placeDuplicates %}
                            <tr>
                                <td>{{ placeDuplicate.cityName }}</td>
                                <td>{{ placeDuplicate.name }}</td>
                                <td>{{ placeDuplicate.address }}</td>
                                <td>{{ placeDuplicate.phone }}</td>
                                <td>
                                    {% for place in placeDuplicate.places %}
                                        <a href="/mng/unidir_explorer/{{ place.id }}/edit" target="_blank">#{{ place.id }}</a>&nbsp;
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'crm/partials/pagination.html.twig' with {
                        'total': placeDuplicatesCount,
                        'limit': limit,
                        'url': 'place_duplicates',
                        'query': false,
                    } %}
                {% else %}
                    {% include 'crm/partials/no-results.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
