{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Places without image</div>
                <div class="card-body">

                    {% if places|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Status</th>
                                <th>Place Type</th>
                                <th class="sorting" id="t.name" onclick="ordering('t.name', 'desc');">Name</th>
                                <th>Location</th>
                                <th>Address</th>
                                <th class="sorting" id="t.datesOfChanges.createdAt" onclick="ordering('t.datesOfChanges.createdAt', 'desc');">Date registered</th>
                                <th>Managment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for place in places %}
                                <tr>
                                    <td class="td-id">{{ place.place.id }}</td>
                                    <td>
                                        {% if place.place.deletedAt is not null %}
                                            <span class="badge badge-pill badge-danger">Deleted</span> <p class="td-note">{{ place.place.deletedAt|date("d-m-Y H:i:s") }}</p>
                                        {% else %}
                                            <span class="badge badge-pill badge-success">Active</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for type in types %}
                                            {% if place.place.typeId is same as (type.id) %}
                                                {{ type.name }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ place.place.name }}</td>
                                    <td>{{ place.city.name }}</td>
                                    <td>{{ place.place.address1 }}</td>
                                    <td>{{ place.place.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td style="min-width: 220px">
                                        <a class="btn btn-sm btn-info" href="#">View place</a>
                                        {# TODO: place link example: https://adultsearch.com/massachusetts/boston/erotic-massage-parlor/thai-spa-of-south-boston/39514 #}
                                        <a class="btn btn-sm btn-warning" target="_blank" href="https://www.google.com/search?q={{ place.place.address1|striptags }}">Search on google</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'place_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
