:root {
    --color-primary: #3b5999;
    --color-dark: #121719;
    --color-light: #d3d8e3;
}
body {
    margin: 0;
    background-color: var(--color-light);
    position: relative;
    min-height: 100vh;
    font-family: ProximaNova, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-dark);
    line-height: 1.5;
}
*, :after, :before {
    box-sizing: border-box;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.loading {
    color: gray;
    text-align: center;
    padding: 10px;
}