/* TEXT */
.text-dark {
    color: var(--color-dark);
}
.text-primary {
    color: var(--color-primary);
}
.font-weight-bold {
    font-weight: 600;
}
/* DISPLAY */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.flex-direction-column {
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
/* SPACING */
.m-y-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-x-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-l-10 {
    margin-left: 10px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-x-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* BACKGROUND */
.bg-white {
    background-color: white;
}