{% import 'crm/partials/forms.html.twig' as forms %}


<div class="modal fade" id="addPhoneBL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add phone to black list</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('phone_black_list_add') }}">
                    {{ forms.input('Phone number', 'phone', '', 'phone', true, '+12345678901') }}
                    {{ forms.input('Reason', 'reason', '', 'text', true, 'Reason') }}

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-success flex-grow-1" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
