<div class="modal fade" id="escort-change-location" tabindex="-1" role="dialog" aria-labelledby="escort-change-location" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change location</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('escort_change_location', {'id': escort.id}) }}">
                    <div class="form-group">Current Ad's locations (need to choose):
                        {% for location in escort.locations %}
                            <div class="form-check checkbox">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="fromLocation"
                                       value="{{ location.locationId }}"
                                >
                                <label class="form-check-label">{{ location.cityName }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                            <select class="form-control form-control-lg" id="country-select">
                                <option>Choose new location</option>
                                {% for location in locationsTree %}
                                    <option disabled value="{{ location.id }}">{{ location.name|upper }}</option>
                                    {% if location.states|length %}
                                        {% for state in location.states %}
                                            <option value="{{ state.id }}" name="state">{{ state.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                    {% if location.subCountries|length %}
                                        {% for country in location.subCountries %}
                                            <option value="{{ country.id }}" name="country">{{ country.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group" id="cities-checkboxes"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
