{% extends 'amp/base.html.twig' %}

{% block styleContent %}
    {% include 'amp/styles/partials/content-tabs.css' %}
    {% include 'amp/styles/partials/star-rating.css' %}
    {% include 'amp/styles/pages/place.css' %}
{% endblock %}

{% block ampComponents %}
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
{% endblock %}

{% block content %}
    <div class="container bg-white" style="margin-bottom: 10px; padding-bottom: 15px; padding-top: 10px;">
        <div class="p-b-10">
            <amp-image-lightbox id="lightboxImg" layout="nodisplay"></amp-image-lightbox>

            <amp-img
                    on="tap:lightboxImg"
                    role="button"
                    tabindex="0"
                    alt="{{ place.name }}"
                    src="{{ appUrl }}/images/places/{{ place.thumbnail }}"
                    layout="responsive"
                    width="160"
                    height="130"
            >
                <amp-img
                        fallback
                        alt="{{ place.name }}"
                        width="160"
                        height="130"
                        layout="responsive"
                        src="{{ appUrl }}/images/no-photo-small.svg"
                ></amp-img>
            </amp-img>
        </div>

        <div>
            <div class="place__title">{{ place.name }}</div>
            <div>
                <div class="star-rating-container">
                    <div class="star-rating" style="width: {{ place.overall * 20 }}%;"></div>
                </div>
                <span style="vertical-align:top">{{ place.review }}</span>
            </div>
            <div class="d-flex">
                <div class="place__phone-icon">
                    <svg viewBox="0 0 25 24" fill="none">
                        <rect width="25" height="24" rx="4" fill="#0EA400"></rect>
                        <path d="M4.81794 5.35269L4.78263 5.38992C4.69788 5.47916 4.61442 5.56776 4.53096 5.64929C3.83375 6.34778 3.8222 7.83914 4.50207 9.63866C5.23395 11.5801 6.6778 13.6877 8.56399 15.5752C10.4534 17.464 12.5617 18.9065 14.4992 19.6378C15.3762 19.9677 16.2005 20.143 16.883 20.143C17.586 20.143 18.1407 19.9588 18.4886 19.6095C18.5798 19.5196 18.6761 19.4278 18.7859 19.3232C19.4381 18.7043 20.1777 18.0039 20.1379 17.039C20.1109 16.3758 19.7091 15.7415 18.9117 15.1008C16.5581 13.2088 15.6722 14.1089 14.7336 15.059L14.566 15.2285C14.4196 15.3768 13.9747 15.2369 13.4072 14.8664C12.8114 14.4793 12.0629 13.8373 11.1821 12.9565C9.16169 10.9361 8.85995 10.0778 8.85995 9.74651C8.85995 9.63994 8.89269 9.59308 8.91131 9.57446L9.07823 9.40818C10.0316 8.47022 10.9323 7.58234 9.03842 5.22814C8.39899 4.4295 7.7647 4.02889 7.10088 4.00064C7.0829 4 7.06557 4 7.04759 4C6.11413 4 5.42398 4.71454 4.81794 5.35269Z" fill="white"></path>
                    </svg>
                </div>
                <a class="text-primary font-weight-bold" href="tel:{{ place.phone1 }}">{{ place.phone1 }}</a>
                {% if place.phone2 %}
                    , &nbsp; <a class="text-primary font-weight-bold" href="tel:{{ place.phone2 }}">{{ place.phone2 }}</a>
                {% endif %}
            </div>

            <div class="place__destination">
                <div class="place__destination-icon">
                    <svg viewBox="0 0 14 19" fill="none" style="vertical-align:middle;">
                        <path d="M13.5509 6.74404C13.5509 3.03482 10.5302 0 6.77547 0C3.04896 0 0 3.00672 0 6.74404C0 7.89615 0.282308 8.96396 0.790469 9.91936C0.988087 10.2847 1.21393 10.6219 1.46801 10.931L6.74724 18.9114L11.9982 10.9872C12.2805 10.65 12.5346 10.2566 12.7322 9.86316C13.2969 8.93586 13.5509 7.86805 13.5509 6.74404ZM6.80371 8.87966C5.618 8.87966 4.65814 7.92425 4.65814 6.74404C4.65814 5.56384 5.618 4.60843 6.80371 4.60843C7.98942 4.60843 8.94927 5.56384 8.94927 6.74404C8.94927 7.92425 7.98942 8.87966 6.80371 8.87966Z" fill="#3B5999"></path>
                    </svg>
                </div>
                <span>
                    {{ place.address1 }}
                    {% if place.address2 %}
                        , &nbsp; {{ place.address2 }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="container bg-white">
        <amp-selector class="content-tabs" role="tablist" keyboard-select-mode="focus">
            <div id="infoTab" role="tab" aria-controls="info" option selected>
                Info
            </div>
            <div id="info" role="tabpanel" aria-labelledby="infoTab">
                {% for attribute in attributes %}
                    {% set attributeValue = [] %}
                    {% set attributeOptions = attribute.options|split('|') %}
                    {% for attributeOption in attributeOptions %}
                        {% if attribute.value in attributeOption %}
                            {% set attributeValue = attributeValue|merge([attributeOption|split('@')[1]]) %}
                        {% endif %}
                    {% endfor %}

                    {% if attributeValue is not empty %}
                    <div class="place__info-item">
                        <div class="place__info-item-name">{{ attribute.title }}</div>
                        <div class="place__info-item-value">
                            {% if attributeValue|length > 4 %}
                                {{ attributeValue|first }} - {{ attributeValue|last }}
                            {% else %}
                                {{ attributeValue|join(', ') }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for infoItem in information %}
                    {% if infoItem.value is same as(1) %}
                    <div class="place__info-item">
                        <div class="place__info-item-name">{{ infoItem.title }}</div>
                        <div class="place__info-item-value">Yes</div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% if place.webSite %}
                    <div class="place__info-item">
                        <div class="place__info-item-name">Website</div>
                        <div class="place__info-item-value">{{ place.webSite }}</div>
                    </div>
                {% endif %}
            </div>

            {% if rates|length > 1 %}
            <div id="ratesTab" role="tab" aria-controls="rates" option>
                Rates
            </div>
            <div id="rates" role="tabpanel" aria-labelledby="ratesTab">
                <div class="place__info-item font-weight-bold" style="border-bottom: 1px solid #eaeff5;">
                    <div class="place__info-item-name">Duration</div>
                    <div class="place__info-item-value">Price</div>
                </div>

                {% for rate in rates %}
                    <div class="place__info-item" style="border-bottom: 1px solid #eaeff5;">
                        <div class="place__info-item-name">{{ rate.title }}</div>
                        <div class="place__info-item-value">{{ rate.value }}</div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <div id="hoursTab" role="tab" aria-controls="hours" option>
                Hours
            </div>
            <div id="hours" role="tabpanel" aria-labelledby="hoursTab">
                {% for workingHoursItem in workingHours %}
                    <div class="place__info-item" style="border-bottom: 1px solid #eaeff5;">
                        <div class="place__info-item-name">{{ workingHoursItem.dayOfWeek }}</div>
                        <div class="place__info-item-value">{{ workingHoursItem.from }} - {{ workingHoursItem.to }}</div>
                    </div>
                {% endfor %}
            </div>

            {% if reviews|length > 1 %}
                <div id="reviewsTab" role="tab" aria-controls="reviews" option>
                    Reviews
                </div>
                <div id="reviews" role="tabpanel" aria-labelledby="reviewsTab">
                    {% for review in reviews %}
                        <div class="p-b-10 m-b-10">
                            <div class="d-flex align-items-center">
                                {% if review.author.avatar %}
                                    <amp-img
                                            alt="{{ review.author.name }}"
                                            src="{{ appUrl }}{{ review.author.avatar }}"
                                            layout="fixed"
                                            width="70"
                                            height="70"
                                    >
                                        <amp-img
                                                fallback
                                                alt="avatar"
                                                width="70"
                                                height="70"
                                                layout="fixed"
                                                src="{{ appUrl }}/images/icons/User_1.jpg"
                                        ></amp-img>
                                    </amp-img>
                                {% else %}
                                    <amp-img
                                            alt="avatar"
                                            width="70"
                                            height="70"
                                            layout="fixed"
                                            src="{{ appUrl }}/images/icons/User_1.jpg"
                                    ></amp-img>
                                {% endif %}
                                <div class="p-l-10" style="padding-left: 10px">
                                    <div class="font-weight-bold d-block text-dark">{{ review.author.name }}</div>
                                    <div class="star-rating-container" style="margin-bottom: 0;">
                                        <div class="star-rating" style="width: {{ review.review.star * 20 }}%;"></div>
                                    </div>
                                    <span class="d-block" style="font-size: 14px;margin-top: -4px;">
                                        {{ review.review.reviewDate.format('Y/m/d H:i') }}
                                    </span>
                                </div>
                            </div>
                            <div class="p-t-10">
                                {{ review.review.comment }}
                            </div>

                            {% if review.comments|length > 0 %}
                                <div>
                                    <span class="place__review-comments-title text-primary d-block">Member Comments</span>
                                    {% set comment = review.comments[0] %}
                                    <div class="d-flex align-items-center">
                                        {% if comment.author.avatar %}
                                            <amp-img
                                                    alt="{{ comment.author.name }}"
                                                    src="{{ appUrl }}{{ comment.author.avatar }}"
                                                    layout="fixed"
                                                    width="70"
                                                    height="70"
                                            >
                                                <amp-img
                                                        fallback
                                                        alt="avatar"
                                                        width="70"
                                                        height="70"
                                                        layout="fixed"
                                                        src="{{ appUrl }}/images/icons/User_1.jpg"
                                                ></amp-img>
                                            </amp-img>
                                        {% else %}
                                            <amp-img
                                                    alt="avatar"
                                                    width="70"
                                                    height="70"
                                                    layout="fixed"
                                                    src="{{ appUrl }}/images/icons/User_1.jpg"
                                            ></amp-img>
                                        {% endif %}
                                        <div class="p-y-10">
                                            <span class="font-weight-bold d-block text-dark">{{ comment.author.name }}</span>
                                            <span class="d-block" style="font-size:14px;">
                                                {{ comment.comment.createdAt.format('Y/m/d H:i') }}
                                            </span>
                                        </div>
                                        <div class="p-t-10">
                                            {{ comment.comment.comment }}
                                        </div>
                                    </div>
                                </div>

                                {% if review.comments|length > 1 %}
                                    <div>
                                        <a href="{{ canonicalUrl }}">See all {{ review.comments.length }} comments</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if place.latitude %}
                <div id="directionsTab" role="tab" aria-controls="directions" option>
                    Directions
                </div>
                <div id="directions" role="tabpanel" aria-labelledby="directionsTab">
                    <amp-iframe width="345"
                                height="400"
                                title="{{ place.name }}"
                                layout="responsive"
                                sandbox="allow-scripts allow-same-origin allow-popups"
                                frameborder="0"
                                src="https://www.google.com/maps/embed/v1/place?q={{ place.name }},{{ city.name }}+{{ city.countryName }}&center={{ place.latitude }},{{ place.longitude }}&key={{ googleMapsApiKey }}&zoom=14">
                    </amp-iframe>
                </div>
            {% endif %}
        </amp-selector>
    </div>
{% endblock %}
