.primary-rating {
  width: 105px;
  height: 21px;
  background: url($primary-rating-disabled) !important;

  .star-value {
    background: url($primary-rating-active) !important;
  }

  &.large {
    width: 205px;
    height: 41px;
    background: url($primary-rating-large-disabled) !important;

    .star-value {
      background: url($primary-rating-large-active) !important;
    }
  }
}
