
.payment-container-inner {
    .table-row {
        &:not(:last-child) {
            border-bottom: 1px solid $extra-light-blue-spacer;
        }
    }

    .table-item {
        width: 33.33%;
        line-height: $font-size-base;

        &:last-child {
            a {
                position: relative;

                &::after {
                    content: url($chevron-right);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}

.payment-info__text {
    background-color: #ffffa7;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 375px) {
    .payment {
        .nav-tabs {
            height: auto !important;

            .nav-link {
                justify-content: flex-start !important;
                padding: 5px !important;
                flex-flow: column;
                text-align: center;
            }
        }
    }
}


@media (max-width: 320px) {
    .payment-form__payment {
        .width-33 {
            label {
                font-size: 14px;
            }
        }
    }
}
