.payment-item {
    display: flex;
    align-items: center;
    background: $fifth-background-color;
    padding: 8px;

    .payment-item__icon {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-right: 10px;
    }

    .payment-item__text {

    }

    .payment-item__action {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.8;
        color: #3679E9;
        margin-left: auto;
    }
}
