{% extends 'amp/base.html.twig' %}

{% block styleContent %}
    {% include 'amp/styles/pages/index.css' %}
{% endblock %}

{% block ampComponents %}
    <script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async></script>
{% endblock %}

{% block content %}

{#DOCS: https://amp.dev/ru/documentation/components/amp-accordion/#}
<div class="index container bg-white m-y-10 p-b-10">

    {% for location in locationsTree %}

        <h1>{{ location.name }}</h1>


        {% if location.states|length %}
            {% for state in location.states %}

                <amp-accordion class="index-accordion" animate expand-single-section>

                    <section>
                        <h2>{{ state.name }}</h2>

                        <ul>
                            {% if state.cities|length %}
                                {% for city in state.cities %}
                                    <li>
                                        <h3>
                                            <amp-img
                                                    fallback
                                                    alt="{{ city.id }}"
                                                    width="21"
                                                    height="24"
                                                    layout="fixed"
                                                    src="{{ appUrl }}/images/icons/location.svg"
                                            ></amp-img>
                                            <a href="{{ appUrl }}/amp{{ city.url }}">
                                                {{ city.name }}
                                            </a>
                                        </h3>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>

                    </section>

                </amp-accordion>

            {% endfor %}
        {% endif %}


        {% if location.subCountries|length %}
            {% for state in location.subCountries %}

                <amp-accordion class="index-accordion" animate expand-single-section>

                    <section>
                        <h2>{{ state.name }}</h2>

                        <ul>
                            {% if state.cities|length %}
                                {% for city in state.cities %}
                                    <li>
                                        <h3>
                                            <amp-img
                                                    fallback
                                                    alt="{{ city.id }}"
                                                    width="21"
                                                    height="24"
                                                    layout="fixed"
                                                    src="{{ appUrl }}/images/icons/location.svg"
                                            ></amp-img>
                                            <a href="{{ appUrl }}/amp{{ city.url }}">
                                                {{ city.name }}
                                            </a>
                                        </h3>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>

                    </section>

                </amp-accordion>

            {% endfor %}
        {% endif %}


    {% endfor %}

</div>

{% endblock %}
