.primary-pagination {
    a {
        border: 1px solid $secondary-color;
        border-radius: $primary-border-radius;

        &.disabled {
            pointer-events: none;
            color: $gray-color !important;
            border-color: $gray-color !important;
        }
    }
}