.open-filter-list{
  text-align: center;
  margin: 10px;
}
.accordion-filter-main-box{
  position: absolute;
  width: 100%;
  background-color: #D3D8E3;
  top:0;
  z-index: 4444;
}
.accordion-filter-header{
  width: 100%;
  position: relative;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.accordion-filter-name{
  text-align: center;
}
.accordion-filter-name span{
  font-size: 20px;
  line-height: 23px;
  color: #3B5999;
}
.accordion-close-icon{
  position: absolute;
  width: 17px;
  height: 17px;
  right: 15px;
  top: 17px;
}
.accordion-close-icon img{
  width: 100%;
}
.accordion-filter{

}
.accordion-filter-main-ul{
  list-style: none;
  padding-left: 0;
  margin-top: 9px;
  margin-bottom: 1px;
  background-color: #fff;
  transition: 0.6s;
}

.filter-inner-header-block,.filter-inner-header-block-change{
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.filter-parametr-name{
  padding-top: 18px;
  padding-left: 10px;
}
.filter-parametr-name a{
  text-decoration: none;
  color: #121719;
  font-size: 20px;
}
.filter-up-icon{
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 19px;
  margin-top: 24px;
  margin-right: 10px;
}
.filter-down-icon{
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 19px;
  margin-top: 24px;
  margin-right: 10px;
}
.accordion-child-ul{
  padding-left: 15px;
  display: none;
}
.accordion-child-ul li:first-child{
  border-top: 1px solid #EAEFF5;
}
.accordion-child-ul li{
  width: 94%;
  height: 54px;
  list-style: none;
  background-color: #fff;
  margin-bottom: 1px;
  margin-top: 1px;
  padding-bottom: 13px;
  padding-top: 7px;
  border-bottom: 1px solid #EAEFF5;
  position: relative;
}
.filter-show-list{
  display: block;
}
/* The container */
.container-label-in-filter {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-label-in-filter div{
  font-size: 20px;
  margin-left: 5%;
  padding-top: 2px;
}
.container-label-in-filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  left: 4.83%;
  right: 90.58%;
  top: 20.23%;
  bottom: 36.23%;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 1px solid #121719;
  box-sizing: border-box;
  border-radius: 6px;
}
.container-label-in-filter input:checked ~ .checkmark {
  background-color: #3B5999;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-label-in-filter input:checked ~ .checkmark:after {
  display: block;
}
.container-label-in-filter .checkmark:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.accordion-filter-footer{
  background-color: #fff;
  display: flex;
  margin-top: 9px;
}
.filter-reset-box{
  width: 30%;
  text-align: center;
  padding: 10px;
}
.filter-apply-box{
  flex: 1;
  text-align: center;
  padding: 10px;
}
#reset-filter{
  border: 1px solid #3B5999;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3B5999;
  background-color: #fff;
  padding: 9px;
  width: 100px;
}
#filter-apply-button{
  background: #3577E5;
  border: 1px solid #316CCF;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px #B1D0E4;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}