{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="exampleAccordion" data-children=".item">
                        <div class="item"><a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="false" aria-controls="exampleAccordion1">Search by criteria</a>
                            <div class="collapse show" id="exampleAccordion1" role="tabpanel">
                                <div class="card-body">
                                    <form action="" method="get">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Initiator</span></div>
                                                <input class="form-control" id="initiator" type="text" name="initiator" autocomplete="initiator">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Type</span></div>
                                                <input class="form-control" id="type" name="type" autocomplete="type">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Item</span></div>
                                                <input class="form-control" id="item" name="item" autocomplete="item">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Action</span></div>
                                                <input class="form-control" id="action" name="action" autocomplete="action">
                                            </div>
                                        </div>
                                        <div class="form-group form-actions">
                                            <button class="btn btn-md btn-primary" type="submit">Search</button>
                                            <button class="btn btn-md btn-secondary" type="text" onclick="window.location.href='{{ path('activity_log_list') }}'; return false;">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Activity Log</div>
                <div class="card-body">

                    {% if activity_logs|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th class="sorting" id="t.createdAt" onclick="ordering('t.createdAt', 'desc');">Created At</th>
                                <th>Initiator</th>
                                <th>Type</th>
                                <th>Item</th>
                                <th>Action</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for activity_log in activity_logs %}
                                <tr>
                                    <td class="td-id">{{ activity_log.id }}</td>
                                    <td>{{ activity_log.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td>{{ activity_log.initiator }} $</td>
                                    <td>{{ activity_log.type }}</td>
                                    <td>{{ activity_log.item }}</td>
                                    <td>{{ activity_log.action }}</td>
                                    <td>{{ activity_log.message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'activity_log_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            fuzzyFilter('initiator');
            fuzzyFilter('type');
            fuzzyFilter('item');
            fuzzyFilter('action');
        });
    </script>
{% endblock %}
