.primary-select-language-spoken {
    .wrapper-tags {
        color: $secondary-text-color;
        display: flex;
        flex-wrap: wrap;
        margin-left: -2.5px;
        margin-right: -2.5px;

        .tag {
            display: flex;
            align-items: center;
            flex: 1 1 calc(33.333% - 5px);
            margin-top: 10px;
            margin-left: 2.5px;
            margin-right: 2.5px;
            padding: 10px 5px;
            background-color: $extra-light-blue-spacer;
            border-radius: $primary-border-radius;
            line-height: normal;
        }

        .delete-tag {
            content: url($primary-delete-tag);
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}