.primary-select {
    position: relative;
    margin-bottom: 25px;

    label {
        color: $placeholder-color;
        margin-bottom: 2px;
    }

    &.error {
        padding-bottom: 0;

        .select-container {
            display: block;

            &::after {
                content: url($primary-input-error);
                display: block;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }

            select {
                border-color: $error-red;
            }
        }

        .error-message {
            padding-left: 10px;
            display: block;
        }
    }

    .select-container {
        position: relative;

        &:after {
            content: url($primary-select);
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            pointer-events: none;
        }

        select {
            display: block;
            width: 100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            line-height: $font-size-base;
            letter-spacing: 0.2px;
            padding: 0 38px 0 10px;
            color: $tertiary-text-color;
            margin: 0;
            height: 50px;
            outline: none;
            background-color: $extra-light-blue;
            border: 0.5px solid $light-stroke-form-field-color;
            border-radius: $primary-border-radius;
            transition: 0.2s;
            box-shadow: $form-fields-box-shadow;

            .disabled-option {
                display: none;
            }

            &:focus {
                border-color: $stroke-form-field-color;
                //border-radius: $secondary-border-radius;
                outline: none !important;
            }
        }
    }

    .error-message {
        display: none;
        margin-top: 4px;
        color: $error-red;
    }
}
