{% import 'crm/partials/forms.html.twig' as forms %}

<div class="modal fade" id="banModal{{ card.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ban credit cards # {{ card.cardNumber }}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('creditcard_ban', {id : card.id}) }}">
                    <h3>Are you sure you want to ban this credit card?</h3>
                    {{ forms.input('Ban reason', 'banReason', '', 'text', true, 'Type ban reason') }}
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger flex-grow-1" type="submit">Ban</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
