{% import 'crm/partials/forms.html.twig' as forms %}
{% extends 'crm/base.html.twig' %}

{% block content %}
                <form method="post" action="{{ path('promocode_add') }}">
                    <h3>Add new promocode</h3>
                    {{ forms.input('Code', 'code', '', 'text', true, 'Type code here') }}
                    {{ forms.input('Section', 'section', 'classifieds', 'text', true, 'Type section here') }}
                    {{ forms.input('Code count', 'codeCount', 1, 'text', true, 'Type code count here') }}
                    {{ forms.input('Fixed Price', 'fixedPrice', '', 'text') }}
                    {{ forms.input('Discount Percentage', 'discountPercentage', '', 'text') }}
                    {{ forms.checkbox_inline('Is free?', 'freeEscort', true) }}
                    <div class="modal-footer">
                        <button class="btn btn-danger flex-grow-1" type="submit">Add</button>
                    </div>
                </form>
{% endblock %}
