.city-accordion-container {
    & > .city-accordion {
        & > .city-accordion-card {
            &:not(:first-child) {
                & > .city-accordion-card-header {
                    &:not(.collapsed) {
                        box-shadow: 0 -1px 0 $extra-light-blue-spacer;
                    }
                }
            }
        }
    }
}

.collapse {
    &.show {
        .city-accordion-card-header {

        }
    }
}

.city-accordion-card-header {
    cursor: pointer;
    background-color: $extra-light-blue-spacer;

    &.collapsed {
        background-color: $color-white;

        .name {
            color: $primary-text-color !important;
            border-bottom: 1px solid $extra-light-blue-spacer;

            &::after {
                position: absolute;
                content: url($plus);
                right: 0;
                top: 14px;
            }
        }
    }

    .name {
        color: $tertiary-text-color !important;
        border-bottom: 1px solid $color-white;

        &::after {
            content: url($stroke);
            position: absolute;
            right: 0;
            top: 12px;
        }
    }
}

.city-accordion-card-body {
    background-color: $extra-light-blue-spacer;


    .city-accordion-card-header {
        background-color: $extra-light-blue-spacer;

        &.collapsed {
            .name {
                &::after {
                    position: absolute;
                    content: url($chevron-right);
                    right: 7px;
                    top: 14px;
                    transform: rotate(90deg);
                }
            }
        }

        .name {
            color: $tertiary-text-color !important;
            border: none;

            &::after {
                position: absolute;
                content: url($chevron-right);
                right: 0;
                top: 14px;
                transform: rotate(-90deg);
            }
        }
    }

    .city-accordion-card {
        &:not(:last-child) {
            .city-accordion-card-header {
                .name {
                    border-bottom: 1px solid $color-white;
                }
            }

            .city-accordion-card-body {
                .city-link {
                    border-bottom: 1px solid $color-white;
                }
            }
        }

        .city-accordion-card-header {
            &:not(.collapsed) {
                .name {
                    border-bottom: 1px solid $color-white;
                }
            }
        }
    }

    .city-link {
        color: $tertiary-text-color;

        &:not(:last-child) {
            border-bottom: 1px solid $color-white;
        }

        .city-name {
            position: relative;
            &::before {
                position: absolute;
                content: url($location-marker);
                left: 0;
                top: 18px;
            }
        }
    }
}
