.location-accordion-container {
    background-color: $third-background-color;
}

.location-accordion-card {
    &:not(:last-child) {
        border-bottom: 1px solid $extra-light-blue-spacer !important;
    }
}

.location-accordion-card-header {
    .count {
        background-color: $dirty-light-blue;
        border-radius: $primary-border-radius;
        min-width: 75px;
        width: 75px;
        height: 30px;

        &::after {
            content: url($chevron-right);
            position: absolute;
            right: -26px;
            top: 5px;
        }
    }
}

.location-accordion-card-body {
    background-color: $third-background-color;
    border-top: 1px solid $extra-light-blue-spacer;

    .accordion-content-item {
        &:first-child {
            margin-top: 0!important;
        }

        .left {
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
            }
        }
    }
}