{% import 'crm/partials/forms.html.twig' as forms %}

<div class="modal fade" id="banModal{{ account.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% if account.banned %}Unban{% else %}Ban{% endif %} account #{{ account.id }}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('account_ban', {id : account.id}) }}">
                    {% if account.banned %}
                        <h3>Are you sure you want to unban this account?</h3>
                    {% else %}
                        <h3>Are you sure you want to ban this account?</h3>
                        {{ forms.input('Ban reason', 'banReason') }}
                    {% endif %}
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger flex-grow-1" type="submit">
                            {% if account.banned %}
                                Unban
                            {% else %}
                                Ban
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
