{% import 'crm/partials/forms.html.twig' as forms %}

<div class="modal fade" id="deleteModal{{ account.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete account #{{ account.id }}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ path('account_delete', {id : account.id}) }}">
                    {{ forms.input_disabled('Account ID', account.id) }}
                    {{ forms.input_disabled('Email', account.email) }}
                    {{ forms.input('Reason', 'deleteReason') }}
                    {{ forms.checkbox_inline('Email notification', 'notifyUser', true) }}
                    {{ forms.textarea('Email text', 'notificationText', 'Hello, your account on adultsearch.com has been deleted. Have a nice day. Jay') }}
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger flex-grow-1" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
