
{% set isAgency = 'No' %}
{% if account.agency %}
    {% set isAgency = 'Yes' %}
{% endif %}

{% set isWorker = 'No' %}
{% if account.worker %}
    {% set isWorker = 'Yes' %}
{% endif %}

{% set isAdvertiser = 'No' %}
{% if account.advertiser %}
    {% set isAdvertiser = 'Yes' %}
{% endif %}

{% set isWhitelisted = 'No' %}
{% if account.whitelisted %}
    {% set isWhitelisted = 'Yes' %}
{% endif %}


{#<div class="card">
    <div class="card-header">Account Info ID #{{ account.id }}</div>#}
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">Name <div class="font-weight-bold">{{ account.name }}</div></li>
            <li class="list-group-item d-flex justify-content-between">User Name <div class="font-weight-bold">{{ account.username }}</div></li>
            <li class="list-group-item d-flex justify-content-between">Email <div class="font-weight-bold">{{ account.email }}</div></li>
            <li class="list-group-item d-flex justify-content-between">Created At <div class="font-weight-bold">{{ account.createdAt|date("d-m-Y H:i:s") }}</div></li>
            <li class="list-group-item d-flex justify-content-between">Agency <div class="font-weight-bold">{{ isAgency }}</div></li>
            <li class="list-group-item d-flex justify-content-between">Worker <div class="font-weight-bold">{{ isWorker }}</div></li>
            <li class="list-group-item d-flex justify-content-between">Advertiser <div class="font-weight-bold">{{ isAdvertiser }}</div></li>
            <li class="list-group-item d-flex justify-content-between">White Listed <div class="font-weight-bold">{{ isWhitelisted }}</div></li>
            {#<li class="list-group-item d-flex justify-content-between">Posts Count <div class="font-weight-bold">{{ account.forumPostsCount }}</div></li>#}
            {#<li class="list-group-item d-flex justify-content-between">Roles <div class="font-weight-bold">{{ account.roles|join(', ') }}</div></li>#}

            <li class="list-group-item d-flex justify-content-between">
                Status
                <div>
                    {% if account.deletedOn is not null %}
                        <span class="badge badge-pill badge-danger">Deleted</span>
                        {% if account.notes|length %}<p class="td-note">({{ account.notes }})</p>{% endif %}
                    {% elseif account.banned %}
                        <span class="badge badge-pill badge-warning">Banned</span>
                        {% if account.banReason|length %}<p class="td-note">({{ account.banReason }})</p>{% endif %}
                    {% else %}
                        <span class="badge badge-pill badge-success">Active</span>
                    {% endif%}
                </div>
            </li>
        </ul>
    </div>
{#</div>#}
