{% import 'crm/partials/forms.html.twig' as forms %}
{% extends 'crm/base.html.twig' %}

{% set options = ['first', 'second', 'third', 'fours'] %}
{% set checkboxes = [
    {
        'name': 'isWorker',
        'value': account.worker,
        'checkbox_label': 'Worker'
    },
    {
        'name': 'isAgency',
        'value': account.agency,
        'checkbox_label': 'Agency'
    },
    {
        'name': 'isAdvertiser',
        'value': account.advertiser,
        'checkbox_label': 'Advertiser (CPC/CPM Advertising)'
    }
] %}

{% set radios = [
    {
        'name': 'gfe',
        'value': true,
        'radio_label': 'GFE'
    },
    {
        'name': 'gfeLimited',
        'value': true,
        'radio_label': 'GFE Limited'
    }
] %}

{% block content %}
    <form method="post">
        {{ forms.input_disabled('ID', account.id) }}
        {{ forms.input_disabled('Email', account.email) }}
        {{ forms.input('Password', 'password') }}
        {{ forms.textarea('Notes', 'notes', account.notes) }}
        {{ forms.checkbox('Account role', checkboxes) }}
        {{ forms.input('Max. number of classified ads', 'maxEscortsNumber', account.maxEscortsNumber) }}
        {{ forms.input('Global repost credits', 'topUps', account.topUps) }}
        {{ forms.submit('Save changes', 'btn-success btn-lg') }}
    </form>
{% endblock %}
