{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('account_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                    {% include 'crm/partials/filter-form.html.twig' with {
                        'filters': [{
                            'name': 'accountId',
                            'placeholder': 'Account ID',
                        },
                        {
                            'name': 'status',
                            'placeholder': 'Status',
                            'type': 'select',
                            'options': status_options,
                        },
                        {
                            'name': 'role',
                            'placeholder': 'Role',
                            'type': 'select',
                            'options': role_options,
                        }],
                        'reset_url': path('account_list'),
                    } %}
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Accounts</div>
                <div class="card-body">

                    {% if accounts|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Status</th>
                                <th>E-mail</th>
                                <th>Username</th>
                                <th class="sorting" id="t.createdAt" onclick="ordering('t.createdAt', 'desc');">Date registered</th>
                                <th>Roles</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td class="td-id">{{ account.id }}</td>
                                    <td>
                                        {% if account.deletedOn is not null %}
                                            <span class="badge badge-pill badge-danger">Deleted</span>
                                            {% if account.notes|length %}<p class="td-note">({{ account.notes }})</p>{% endif %}
                                        {% elseif account.banned %}
                                            <span class="badge badge-pill badge-warning">Banned</span>
                                            {% if account.banReason|length %}<p class="td-note">({{ account.banReason }})</p>{% endif %}
                                        {% else %}
                                            <span class="badge badge-pill badge-success">Active</span>
                                        {% endif%}
                                    </td>
                                    <td>{{ account.email }}</td>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.createdAt|date("d-m-Y H:i:s") }}</td>
                                    <td class="td-roles">{{ account.roles|join(', ') }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="{{ path('account_edit', {'id': account.id}) }}">Edit</a>

                                        <a  class="btn btn-sm btn-secondary" href="{{ path('account_impersonate', {id : account.id}) }}" target="_blank">Impersonate</a>
                                        <a  class="btn btn-sm btn-success" href="{{ path('payment_list', {'accountId': account.id}) }}">Sales</a>

                                        <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#banModal{{ account.id }}" href="#">{% if account.banned %}Unban{% else %}Ban{% endif %}</a>
                                        {% include 'crm/accounts/popups/ban.html.twig' with {
                                            'account': account,
                                        } %}

                                        <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ account.id }}" href="#">Delete</a>
                                        {% include 'crm/accounts/popups/delete.html.twig' with {
                                            'account': account,
                                        } %}

                                        <a class="btn btn-sm btn-light" href="{{ path('account_whitelist', {id : account.id}) }}">
                                            {% if account.whitelisted %}
                                                Unwhitelist
                                            {% else %}
                                                Whitelist
                                            {% endif%}
                                        </a>

                                        <a class="btn btn-sm btn-dark" href="">History</a>

                                        <form action="{{ path('account_force_logout', {id : account.id}) }}" method="post">
                                            <input type="submit" value="Force Logout" class="btn btn-sm btn-dark">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'account_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
