{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="content login p-y-20">
        <div class="container">
            <div class="login-container">
                <div class="login-form">
                    <form action="#" method="POST">
                        <div class="double-input m-b-25">
                            <input name="email" value="">
                            <input name="password" value="" type="password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
