.ad-creation {
    .ad-creation-summary {
        .row-summary__price {
            min-width: 50px;
            text-align: right;
        }
        .row-summary {
            border-bottom: 1px solid $extra-light-blue-spacer;

            &:first-of-type {
                border-top: 1px solid $extra-light-blue-spacer;
            }
        }
    }
}
