.my-ads-container {
    &.with-border-bottom {
        .info-container {
            border-bottom: 1px solid $extra-light-blue-spacer;
        }
    }
}

.preview-buttons {
    .first, .second {
        height: 50px !important;
    }

    .first {
        margin-right: 3px;
    }

    .second {
        margin-left: 3px;
    }
}

.preview-bottom-bar {
    left: 0;

    &.bottom-70 {
        bottom: 70px;
    }

    &.bottom-0 {
        bottom: 0;
    }
}

.preview-images-container {
    margin-bottom: 70px;

    .preview-image-block {
        width: 33.3%;

        .preview-image {
            width: 85px;
            height: 85px;
            object-fit: cover;
        }
    }
}

.preview-ad {
    .photos {
        margin-left: -10px;
        margin-right: -10px;

        .item {
            padding: 0 10px;
            max-width: 33.33333%;
            flex: 0 0 33.33333%;
            margin-bottom: 10px;

            .image {
                max-height: 109px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}