.ad-creation {
    .checkbox-price {
        .row-checkbox-price .primary-checkbox {
            padding-left: 45px;
        }
    }

    .cities {
        border-radius: 6px;
        padding: 0 5px;

        &:hover,
        &:active {
            background-color: $extra-light-blue-spacer;
        }

        & > label {
            display: block;
            width: 100%;
            min-height: 43px;
            padding-top: 10px;
            margin-bottom: 5px;
        }
    }

    .remove-row {

        .remove-button {
            border: none;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }
    }
}
