.wrapper-ad-creation-container {
    .ad-text textarea {
        height: 135px;
    }

    .video-block-height {
        height: 175px;
    }

    .video-block-height.done {
        min-height: 175px;
        height: inherit;
    }
}

#phone {
    &.error {
        input.form-control {
            border-color: $color-error !important;
        }
    }
}

.incall_rate,
.outcall_rate {
    .primary-text-input {
        label {
            font-size: 16px;
        }
    }
    @media (max-width: 320px) {
        .col-4 {
            flex: 100%;
            max-width: 100%;
        }
    }
}
