.ad-creation-upgrade {
    padding: 10px 0;

    .ad-creation-upgrade_controls.active {
        border: 1px solid #3577E5;
    }

    &.ad-creation-upgrade_opened {
        background: $light-gray-color;


        .ad-creation-upgrade_controls {
            border: 2px solid #3577E5;
        }

        .ad-creation-upgrade_title {
            border-bottom: 1px solid #BFBFBF;
        }

        .ad-creation-upgrade_options {
            display: block;
        }

        .ad-creation-upgrade_description {
            display: block;
        }
    }

    .ad-creation-upgrade_controls {
        border: 1px solid rgba(192, 192, 192, .5);
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
    }

    .ad-creation-upgrade_title {
        min-height: 56px;
        font-size: $font-size-18;
        padding: 10px;

        .price {
            border-radius: 20px;
            background-color: $success-background-color;
        }
    }

    .ad-creation-upgrade_options {
        display: none;

        .ad-creation-upgrade_options-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .wrapper-secondary-checkbox-radio-btn {
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
                border-radius: 6px;

                .primary-checkbox-radio-btn {
                    font-weight: 600;
                    padding: 7px;

                    &.active {
                        background: #0EA400;
                        color: $color-white;
                    }
                }
            }

            &.icon-clear {
                padding-right: 15px !important;
                padding-top: 5px;

                .icon-clear-btn {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 10;
                    background: #fff;
                    width: 23px;
                    height: 23px;
                    border-radius: 10px;
                    display: flex;
                }
            }

            &.disabled {
                &:after {
                    content: '';
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.1);
                    z-index: 11;
                    border-radius: 6px;
                }

                .primary-checkbox-radio-btn.active {
                    color: #212529;
                    background: #fff;
                }

            }

            @media (max-width: 320px) {
                flex-flow: column;

                .btn-group {
                    margin: 10px 0;
                }
            }
        }

        .ad-creation-upgrade_options-item:not(:last-child) {
            border-bottom: 1px solid #EAEFF5;
        }

        .primary-checkbox {
            padding-left: 30px;

            label {
                font-size: $font-size-18;
            }

            span:after {
                top: 1px;
                left: 1px;
            }
        }
    }

    .ad-creation-upgrade_description {
        display: none;
        padding-top: 15px;
        text-align: center;
    }

    .ad-creation-upgrade_image {
        position: relative;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .ad-creation-upgrade_your-ad-here {
        position: absolute;
        border-radius: 10px;
        font-size: 23px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        background: #FF6200;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.163953);
        padding: 15px;
        font-weight: 700;

        &.__top50 {
            top: calc(50% - 50px);
            right: calc(50% + 60px);
        }

        &.__top30 {
            top: calc(50% - 30px);
            right: calc(50% + 60px);
        }

        &.__top65 {
            top: calc(50% - 50px);
            right: calc(50% + 65px);
        }

        &:after {
            content: ' ';
            position: absolute;
            background: #FF6200;
            transform: rotate(135deg);
            width: 21px;
            height: 21px;
            top: calc(50% - 10px);
            right: -6px;
        }
    }

    /* sticky waiting list options*/
    &.waiting {
        .ad-creation-upgrade_options-item {
            padding: 5px;
            flex-flow: column;
        }
    }
}

.ad-creation-upgrade_disclaimer {
    font-size: 16px;
    line-height: 18px;
    color: #0EA400;
    background: #E0EDDB;
    border: 1px solid #88C573;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: left;
}
