{% import 'crm/partials/forms.html.twig' as forms %}

<div class="modal fade" id="addSpammer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add spammer</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <form action="{{ path('spammer_add') }}" id="spammer_add_form" method="post">
                    {{ forms.input('Email or domain', 'email', '', 'text', false, 'Email or domain', '', 'email') }}
                    {{ forms.input('IP address', 'ipAddress', '', 'text', false, 'IP address', '', 'ipAddress') }}

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-success flex-grow-1" type="submit">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
