.thumb-icon {
    .icon {
        width: 35px;
        height: 35px;
        margin: 0 auto;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
    }

    .thumb-icon__title {
        margin-top: 4px;
        text-align: center;
        font-size: 12px;
        line-height: 1.2;
        color: #3577E5;
    }
}
