{% extends 'amp/base.html.twig' %}

{% block styleContent %}
    {% include 'amp/styles/pages/city.css' %}
    {% include 'amp/styles/partials/navigation-carousel.css' %}
    {% include 'amp/styles/partials/quantity-list.css' %}
{% endblock %}

{% block content %}
    {% include 'amp/partials/navigation-carousel.html.twig' with slides %}

    <div class="container bg-white m-y-10 p-b-10">
        {% include 'amp/partials/quantity-list.html.twig' with {
            'title': 'Erotic Services in ' ~ city.name,
            'items': quantityList.escortTypes
        } %}

        {% for sponsor in sponsors %}
            <a class="city__sponsor" href="{{ appUrl }}{{ city.url }}{{ sponsor.typeSlug }}/{{ sponsor.id }}">
                <div class="d-flex">
                    <div class="m-r-10">
                        <amp-img
                            alt="{{ sponsor.firstName }}"
                            src="{{ appUrl }}/images/escorts/{{ sponsor.id }}.jpg"
                            width="70"
                            height="70"
                            layout="fixed"
                        >
                            <amp-img
                                 alt="{{ sponsor.firstName }}"
                                 fallback
                                 width="70"
                                 height="70"
                                 src="{{ appUrl }}/images/no-photo-small.svg"
                            ></amp-img>
                        </amp-img>
                    </div>
                    <div class="m-t-5">
                        <div class="font-weight-bold text-dark">{{ sponsor.type }}</div>
                        <div class="city__sponsor-ethnicity text-primary" data-ethnicity="{{ sponsor.ethnicity }}">{{ sponsor.ethnicity }}</div>
                    </div>
                </div>
                <div class="m-t-5 m-r-10 text-primary">
                    <span class="city__sponsor-call-type" data-enabled="{{ sponsor.isIncallEnabled|number_format }}">Incall</span>
                    <span class="city__sponsor-call-type" data-enabled="{{ sponsor.isOutcallEnabled|number_format }}">Outcall</span>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="container bg-white m-y-10" data-container-total="{{ quantityList.placeTypes|length }}">
        {% include 'amp/partials/quantity-list.html.twig' with {
            'title': 'Adult Places in ' ~ city.name,
            'items': quantityList.placeTypes
        } %}
    </div>

    <div class="container bg-white m-y-10" data-container-total="{{ quantityList.forums|length }}">
        {% include 'amp/partials/quantity-list.html.twig' with {
            'title': 'Sex Forums',
            'items': quantityList.forums
        } %}
    </div>
{% endblock %}
