.separation-block {
  max-width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  .line {
    height: 1px;
    width: 100%;
    background-color: #C2CAD2;
  }
}
