.credit_card {
  width: 56px;
  height: 35px;
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  &.small {
    width: 32px;
    height: 24px;

    &.unknown {
      &:after {
        top: 5px;
      }
    }
  }

  &.unknown {
    border: 2px solid #ccc;
    border-radius: 5px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 6px;
      background: #ccc;
    }
  }

  &.visa {
    background-image: url('/images/cc/visa.png');
  }

  &.jcb {
    background-image: url('/images/cc/jcb.png');
  }

  &.amex {
    background-image: url('/images/cc/amex.png');
  }

  &.diners {
    background-image: url('/images/cc/diners.png');
  }

  &.mastercard {
    background-image: url('/images/cc/mastercard.png');
  }

  &.discover {
    background-image: url('/images/cc/discover.png');
  }

  &.maestro {
    background-image: url('/images/cc/maestro.png');
  }
}
