<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v3.2.0
* @link https://coreui.io
* Copyright (c) 2020 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <title>AdultSearch admin panel</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('mng/assets/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('mng/assets/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('mng/assets/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('mng/assets/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('mng/assets/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('mng/assets/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('mng/assets/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('mng/assets/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('mng/assets/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('mng/assets/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('mng/assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('mng/assets/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('mng/assets/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('mng/assets/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('mng/assets/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link href="{{ asset('mng/css/style.css') }}" rel="stylesheet">
</head>
<body class="c-app">
<div class="c-wrapper c-fixed-components">
    <div class="c-body">
        <main class="c-main c-login">
            <div class="container-fluid">
                <div class="fade-in">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title w-100 text-center"><strong>AdultSearch</strong> Admin Panel</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url('auth') }}" method="post">
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nf-email">Email</label>
                                            <input class="form-control" id="nf-email" type="email" name="email" placeholder="Enter Email..." required autocomplete="email">
                                            <span style="margin-top: 5px; color: #9da5b1" class="help-block d-block">Please enter your email</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="nf-password">Password</label>
                                            <input class="form-control" id="nf-password" type="password" name="password" placeholder="Enter Password..." required autocomplete="current-password">
                                            <span style="margin-top: 5px; color: #9da5b1" class="help-block d-block">Please enter your password</span>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center border-top-0">
                                        <button class="btn btn-lg btn-primary w-100" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <footer class="c-footer">
        </footer>
    </div>
</div>
<!-- CoreUI and necessary plugins-->
<script src="{{ asset('mng/vendors/@coreui/coreui/js/coreui.bundle.min.js') }}"></script>
<!--[if IE]><!-->
<script src="{{ asset('mng/vendors/@coreui/icons/js/svgxuse.min.js') }}"></script>
<!--<![endif]-->

</body>
</html>
