.container[data-container-total="0"] {
    display: none;
}
.city__sponsor {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border: 1px solid #eaeff5;
    border-radius: 6px;
}
.city__sponsor-ethnicity[data-ethnicity="Not-set"] {
    display: none;
}
.city__sponsor-call-type[data-enabled="1"]+.city__sponsor-call-type[data-enabled="1"]:before {
    content: "/";
    margin: 0 2px;
}
.city__sponsor-call-type[data-enabled="0"] {
    display: none;
}