.escort__info-item {
    border-bottom: 1px solid #eaeff5;
    margin-bottom: 10px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.escort__info-item:last-child {
    border-bottom: none;
}
.escort__info-item-name {
    margin-right: 30px;
}
.escort__info-item-value {
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: right;
}