.escort-type__img {
    width: 125px;
}
.escort-type__item-label {
    display: inline-block;
    color: #3b5999;
    background: #dfe7ed;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    flex-shrink: 0;
    padding: 1px 4px;
    margin-left: auto;
    margin-bottom: 5px;
}
.escort-type__item-subtitle {
    font-size: 16px;
    color: #121719;
    word-break: break-all;
}