.hide {
  display: none;
}
.show {
  display: block;
}

.index ul {
  margin-left: 0;
  padding-left: 0;
}
.index li {
  list-style: none;
}
.index a {
  display: block;
  width: 100%;
  height: 100%;
}

.index h1 {
  border-bottom: 1px solid #eaeff5;
}

.index-accordion > section h2 {
  padding: 0 15px;
}

.index h1:focus,
.index h3:focus,
.index h2:focus {
  outline: none;
}
.index-accordion > section h3 {
  margin: 0;
  padding: 10px 25px;
  display: flex;
  align-items: center;
}

.index-accordion > section h3 amp-img {
  margin-left: 0;
  margin-right: 10px;
}

.index-accordion > section[expanded] {
  background: #eaeff5;
}

.index-accordion > section[expanded] h3 {
  border-bottom: 1px solid #fff;
}

.index-accordion .i-amphtml-accordion-header {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}


