.place__title {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 24px
}
.place__phone-icon {
    margin-right: 5px;
    width: 25px;
    height: 24px;
}
.place__destination {
    display: flex;
    padding-top:15px;
    font-size:16px
}
.place__destination-icon {
    margin-right: 5px;
    width: 14px;
    height: 19px;
}
.place__info-item {
    border-bottom: 1px solid #eaeff5;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px 0;
}
.place__info-item:last-child {
    border-bottom: none;
}
.place__info-item-name {
    margin-right: 10px;
}
.place__info-item-value {
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: right;
}
.place__review-comments-title {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    padding-bottom: 20px;
}