.place-type__item-title-container {
    display: flex;
    flex-flow: column;
    word-break: break-all;
}
.place-type__item-review {
    margin-bottom: 10px;
    font-size: 14px;
    flex-wrap: wrap;
}
.place-type__item-reviews-count {
    margin: 0;
    color: #121719;
}
.place-type__item-address-container {
    margin-bottom: 5px;
    font-size: 14px;
}
.place-type__item-address {
    line-height: 14px;
    margin: 0;
    color: #121719;
}