{% extends 'crm/base.html.twig' %}
{% import 'crm/partials/forms.html.twig' as forms %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i>Contact messages submitted through webform</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                    <tbody>
                    <tr><td><strong>Data from:</strong></td><td>{{ contact.url }}</td></tr>
                    <tr>
                        <td><strong>Submitted On:</strong></td>
                        <td>{{ contact.createdAt|date('d-m-Y h:m:s') }}</td>
                    </tr>
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td>{{ contact.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone:</strong></td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                    <tr>
                        <td><strong>IP:</strong></td>
                        <td>{{ contact.ipAddress }}</td>
                    </tr>
                    <tr>
                        <td><strong>Text:</strong></td>
                        <td>{{ contact.text }}</td>
                    </tr>
                        <tr><td><strong>Replay:</strong></td>
                        <td>
                            <form action="" name="contact-replay-form" id="contact-replay-form">
                                {{ forms.textarea('', 'replay') }}
                                {{ forms.submit('Send replay') }}
                            </form>
                        </td>
                    </tr>
                        <tr><td><strong>Actions:</strong></td>
                            <td>
                                {% if contact.accountId %}
                                    <a href="">Delete user account</a>
                                {% endif %}
                                <a href="">Make this read</a>
                                <a href="">Send to Agency</a>
                                <a href="">Send to Admin</a>`
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
