{% extends 'crm/base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i>Contact messages submitted through webform</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                    <thead>
                    <tr>
                        <td>E-mail</td>
                        <td>Text</td>
                        <td>Time</td>
                        <td>IP</td>
                        <td>Management</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.email }}</td>
                            <td>
                                {% if contact.text|length %}
                                    {{ contact.text|slice(0, 300) }}...
                                {% endif %}
                            </td>
                            <td>{{ contact.createdAt|date('d-m-Y h:m:s') }}</td>
                            <td>{{ contact.ipAddress }}</td>
                            <td><a href="{{ path('contact-card', {id : contact.id}) }}">View</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
