.primary-tabs-nav-container .scrtabs-tab-container,
.primary-tabs-nav-container .nav-tabs {
    height: 50px;
}

.primary-tabs-nav-container {  // Default plugin classes
    .scrtabs-tab-container {
        background-color: $primary-background-color;

        .scrtabs-tabs-fixed-container {
            height: 100%;

            .scrtabs-tabs-movable-container {
                height: 100%;
            }
        }
    }
}

.primary-tabs-nav-container {
    height: 100%;
    z-index: 2;

    .nav-tabs {
        border: none;

        .nav-link {
            border: none;
            height: 100%;

            &.active {
                color: $primary-text-color !important;

                &::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $primary-color;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    /*border-radius: $primary-border-radius $primary-border-radius 0 0;*/
                }
            }
        }
    }

    .border-tabs {
        .nav-link {
            border-top: 1px solid rgba(0,0,0,.125);
            border-radius: 0;
        }

        .nav-item + .nav-item {
            .nav-link {
                border-left: 1px solid rgba(0,0,0,.125);
            }
        }
    }
}

.primary-tab-content {
    .data-list-item {
        &:not(:last-child) {
            border-bottom: 1px solid $extra-light-blue-spacer;
        }

        &:last-child {
            padding-bottom: 0 !important;
        }
    }
}

.primary-tab-content {
    .single-review {
        .user {
            .user-image {
                width: 70px;
                height: 70px;
                object-fit: cover;
                overflow: hidden;
                background: url(/images/icons/User_1.jpg) no-repeat 50%/cover;
            }
        }

        .answer {
            .login-message {
                color: $medium-blue;
            }
        }
    }
}

@media (max-width: 320px) {
    .primary-tabs-nav-container .scrtabs-tab-container,
    .primary-tabs-nav-container .nav-tabs {
        height: auto;

        .nav-link {
            min-height: 50px;
        }
    }
}
