.rates-tabs-nav-container {
    .nav-tabs {
        border: none;
    }

    .nav-link {
        border: none;
        border-radius: $primary-border-radius;

        &.active {
            color: white !important;
            background-color: $secondary-color;
            font-weight: normal !important;
        }

        @media (max-width: 400px) {
            padding: 3px 15px!important;
        }
    }
}