.primary-textarea {
    padding-bottom: 25px;

    &.min-100 {
        textarea {
            min-height: 100px;
        }
    }

    label {
        color: $placeholder-color;
    }

    &.error {
        padding-bottom: 0;

        .textarea-container {
            &::after {
                content: url($primary-input-error);
                display: block;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }

            textarea {
                border-color: $error-red;
            }
        }

        .error-message {
            margin-top: 4px;
            color: $error-red;
            display: block;
            padding-left: 10px;
        }
    }

    .textarea-container {
        textarea {
            line-height: $font-size-base;
            letter-spacing: 0.2px;
            margin: 0;
            outline: none;
            width: 100%;
            background-color: $extra-light-blue;
            color: $tertiary-text-color;
            border: 0.5px solid $light-stroke-form-field-color;
            border-radius: $primary-border-radius;
            transition: 0.2s;
            box-shadow: $form-fields-box-shadow;
            padding: 10px;
            display: block;
            resize: none;
            min-height: 100px;

            &::placeholder {
                color: $placeholder-color;
            }

            &:focus {
                border-color: $stroke-form-field-color;
            }
        }
    }

    .error-message {
        display: none;
    }
}
