.answer {
    .answer-textarea {
        background-color: $dirty-gray-color;
        resize: none;
        border: none;
        width: 100%;
        color: $tertiary-text-color;

        &::placeholder {
            color: $dirty-gray-light-color;
        }

        &:focus {
            outline: none;
        }
    }

    .answer-error {
        color: $error-red;
    }

    .answer-success {
        color: $success-color;
    }

    .submit-btn {
        appearance: none;
        border: none;
        height: 60px;
        margin-left: 10px;
        width: 50px;
        padding: 0;

        &:focus {
            outline: none;
        }
    }
}
