@mixin space($sizeName: '', $sizeMinMedia: 0) {
  @if ($sizeMinMedia != 0) {
    $sizeName: "#{$sizeName}-";
  }

  $from: 0;
  $to: 10;
  $step: 1;
  @include mediaMinWidth($sizeMinMedia) {
    @include spacePart('auto', $sizeName);
    @for $i from $from through $to {
      @include spacePart($i*$step, $sizeName);
    }
  }

  $from: 3;
  $to: 20;
  $step: 5;
  @include mediaMinWidth($sizeMinMedia) {
    @include spacePart('auto', $sizeName);
    @for $i from $from through $to {
      @include spacePart($i*$step, $sizeName);
    }
  }
}

@mixin spacePart($size, $sizeName) {
  $dim: '';
  @if (type-of($size) == 'number') {
    $dim: 'px';
  }

  .m-#{$sizeName}#{$size} {
    margin: #{$size}#{$dim} !important;
  }

  .m-t-#{$sizeName}#{$size} {
    margin-top: #{$size}#{$dim} !important;
  }

  .m-b-#{$sizeName}#{$size} {
    margin-bottom: #{$size}#{$dim} !important;
  }

  .m-l-#{$sizeName}#{$size} {
    margin-left: #{$size}#{$dim} !important;
  }

  .m-r-#{$sizeName}#{$size} {
    margin-right: #{$size}#{$dim} !important;
  }

  .m-x-#{$sizeName}#{$size} {
    margin-left: #{$size}#{$dim} !important;
    margin-right: #{$size}#{$dim} !important;
  }

  .m-y-#{$sizeName}#{$size} {
    margin-top: #{$size}#{$dim} !important;
    margin-bottom: #{$size}#{$dim} !important;
  }

  .p-#{$sizeName}#{$size} {
    padding: #{$size}#{$dim} !important;
  }

  .p-t-#{$sizeName}#{$size} {
    padding-top: #{$size}#{$dim} !important;
  }

  .p-b-#{$sizeName}#{$size} {
    padding-bottom: #{$size}#{$dim} !important;
  }

  .p-l-#{$sizeName}#{$size} {
    padding-left: #{$size}#{$dim} !important;
  }

  .p-r-#{$sizeName}#{$size} {
    padding-right: #{$size}#{$dim} !important;
  }

  .p-y-#{$sizeName}#{$size} {
    padding-top: #{$size}#{$dim} !important;
    padding-bottom: #{$size}#{$dim} !important;
  }

  .p-x-#{$sizeName}#{$size} {
    padding-left: #{$size}#{$dim} !important;
    padding-right: #{$size}#{$dim} !important;
  }
}
