.datepicker-modal {
    .datepicker-field {
        position: relative;
        color: $placeholder-color;

        .calendar-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 20px;
                width: 20px;
            }
        }

        input {
            color: $placeholder-color;
            padding: 0 10px 0 10px;
        }

        &.selected {
            input {
                border-color: $secondary-color;
            }

            svg {
                color: $secondary-color;
            }
        }
    }
}
