.get-directions-modal {
    .modal-content {
        border-radius: $tertiary-border-radius !important;
    }

    .get-directions-modal-head {
        .info {
            border-radius: $tertiary-border-radius $tertiary-border-radius 0 0;
        }

        .close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .map {
            height: 360px;
        }
    }
}