.modal-full-screen {
    min-width: 100%;
    margin: 0;
    padding: 0!important;

    .modal-header {
        background: $header-background;
        color: $color-white;

        &.modal-header__arrow {
            padding: 0 50px 0 0;
        }
    }

    .close-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        flex-shrink: 0;
    }

    .modal-dialog {
        max-width: 100% !important;
        margin: 0;

        .modal-content {
            min-height: 100vh;
            border: none;
            border-radius: 0;
        }
    }
}

.modal {
    .modal-header {
        text-align: center;
        padding: 0 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 0;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        & + .modal-body {
            padding-top: 5px;
        }
    }

    .close-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        flex-shrink: 0;
    }

    .close {
        opacity: 1;

        &:focus {
            outline: none;
        }
    }
}
