#language-search-modal {
    font-family: ProximaNova, Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    font-size: 18px !important;
    line-height: inherit !important;

    #language-search-input, .close {
        font-family: ProximaNova, Arial, Helvetica, sans-serif !important;
    }

    #language-search-input {
        background: none !important;
        box-shadow: none;
    }

    .language-search-autocomplete {
        background-color: white !important;
        padding: 0 !important;
        left: 0 !important;
        width: 100% !important;
        list-style-type: none !important;
        border: none !important;
        border-top: 1px solid $secondary-color !important;
        min-height: 200px !important;

        .ui-menu-item {
            background-color: $color-white !important;

            .ui-menu-item-wrapper {
                display: block;
                padding: 8px 10px;
                color: $tertiary-text-color !important;

                &.ui-state-active {
                    margin: 0;
                    padding: 8px 10px;
                    background: $light-gray-color;
                }
            }
        }
    }
}

.language-search-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $color-white;
    padding: 0 1rem;
    border-bottom: 1px solid #3577e5 !important;
}

.language-search-container {
    margin-top: 35px;
}

.ui-helper-hidden-accessible {
    display: none;
}


.language-search-results {
    border: none;
    background-color: $color-white;
    min-height: 200px;
    top: 50px;
    margin: 0;
    padding: 10px 0 0;

    li {
        list-style: none;

        &:nth-child(2) {
            border-bottom: 1px solid #B4B4B4;
        }
    }

    &.results {
        li {
            border-bottom: none !important;
        }
    }

    .language-search-result {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        color: $tertiary-color;

        .icon_check_round {
            margin-left: auto;
        }

        &:active,
        &:focus {
            outline: none;
            background-color: rgba(216, 216, 216, 0.2);
        }
    }
}
