#location-search-modal {
    font-family: ProximaNova, Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    font-size: 18px !important;
    line-height: inherit !important;

    #location-search-input, .close {
        font-family: ProximaNova, Arial, Helvetica, sans-serif !important;
    }

    #location-search-input {
        background: none !important;
        box-shadow: none;
    }

    .location-search-autocomplete {
        background-color: white !important;
        padding: 0 !important;
        left: 0 !important;
        width: 100% !important;
        list-style-type: none !important;
        border: none !important;
        border-top: 1px solid $secondary-color !important;
        min-height: 200px !important;

        .ui-menu-item {
            background-color: $color-white !important;

            .ui-menu-item-wrapper {
                display: block;
                padding: 8px 10px;
                color: $tertiary-text-color !important;

                &.ui-state-active {
                    margin: 0;
                    padding: 8px 10px;
                    background: $light-gray-color;
                }
            }
        }
    }
}

.location-search-head {
    border-bottom: 1px solid #3577e5 !important;
}

.location-search-container {
/*    &.no-results {
        height: calc(100vh - 130px);
        display: flex;
        align-items: center;
    }*/
}

.ui-helper-hidden-accessible {
    display: none;
}


.location-search-results {
    border: none;
    background-color: $color-white;
    min-height: 200px;
    top: 50px;
    margin: 0;
    padding: 10px 0 0;

    li {
        list-style: none;
    }

    .location-search-result {
        display: block;
        padding: 8px 10px;
        color: $tertiary-color;

        &:active,
        &:focus {
            outline: none;
            background-color: rgba(216, 216, 216, 0.2);
        }
    }
}
