.primary-modal-head {
    .checkboxes {
        .wrapper-checkbox {
            border: 0.2px solid rgba(91, 91, 91, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.159309);
            border-radius: $secondary-border-radius;

            .primary-checkbox{

                label {
                    font-weight: 700;
                    font-size: $font-size-20;
                }
            }

            .price {
                border-radius: 20px;
                background-color: $success-background-color;
            }
        }
    }
}