.with-close-modal {
  overflow: hidden;

  .with-close-modal-head {
    position: relative;

    .container {
      padding-right: 44px;
    }

    .with-close-icon-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-flex;
      align-items: center;
      padding: 14px;
      border: none;
      background-color: transparent;
      color: $secondary-color;
    }
  }
}