.drop-actions {
  position: relative;

  .btn-menu:focus {
    background-color: transparent;
  }
}

.drop-actions__list {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1;
}

.drop-actions__list_visible {
  display: block;
}
