.image-wrapper {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.no-before {
    &:before {
      display: none;
    }
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/no-photo-small.svg') no-repeat 50%/contain #ececec;
    object-fit: cover;
    word-break: break-all;
    overflow: hidden;
    color: transparent;
  }
}

.image-wrapper_big-photo {
  background-image: url('/images/no-photo-big.svg')
}

.image-wrapper_user {
  background-image: url('/images/icons/User_1.jpg')
}
