.add-file-photo {
    position: relative;
    display: block;
    height: 110px;

    .primary-file-add {
        display: block;
    }

    .loader {
        display: none;

        &.show {
            display: flex;
        }
    }

    .add-file-photo-preview {
        display: none;
        height: 100%;
        overflow: hidden;
        border-radius: 2px;
        background-color: $color-white;
    }

    .add-file-photo-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .add-file-photo-delete {
        position: absolute;
        top: -16px;
        right: -15px;
        display: none;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $secondary-color;
        border: 4px solid $color-white;
        color: $color-white;

        svg {
            width: 13px;
            height: 13px;
        }
    }

    &.loading {
        .primary-file-add {
            display: none;
        }

        .loader {
            display: flex;
        }

        .add-file-photo-preview {
            display: block;
        }
    }

    &.done {
        .primary-file-add {
            display: none;
        }

        .add-file-photo-preview {
            display: block;
        }

        .add-file-photo-delete {
            display: flex;
        }
    }
}
