.add-file-video {
    display: block;

    .add-file-video-thumb {
        position: relative;
        height: 175px;
        overflow: hidden;
        border-radius: 2px;
        background-color: $color-white;
    }

    .primary-file-add {
        display: block;
        height: 100%;

        label {
            height: 100%;
        }
    }

    .loader {
        display: none;

        &.show {
            display: flex;
        }
    }

    .add-file-video-preview {
        display: none;
        height: 100%;
    }

    .add-file-video-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .add-file-video-desc {
        color: #3B5999;
        display: none;
    }

    .add-file-video-remove {
        display: none;
    }

    &.loading {
        .primary-file-add {
            display: none;
        }

        .loader {
            display: flex;
        }

        .add-file-video-preview {
            display: block;
        }

        .add-file-video-desc {
            display: block;
        }
    }

    &.done {
        .primary-file-add {
            display: none;
        }

        .add-file-video-preview {
            display: block;
        }

        .add-file-video-remove {
            display: flex;
        }

        .add-file-video-thumb {
            min-height: 175px;
            height: inherit;
        }
    }
}

