.file-video-input {
    label {
        display: inline-flex;
        align-items: center;
        font-size: $font-size-16;
        color: $primary-text-color;
        margin: 0;
        padding: 10px;

        svg {
            margin-right: 10px;
        }

        &:focus, &:active {
            background-color: $primary-light-blue;
            outline: none;
        }
    }
}