.file-photo-input {
    label {
        color: $primary-text-color;
        font-size: $font-size-16;
        display: inline-flex;
        align-items: center;
        margin: 0;
        padding: 10px;

        svg {
            stroke: $primary-text-color;
            margin-right: 10px;
        }

        &:focus, &:active {
            background-color: $primary-light-blue;
            outline: none;
        }
    }
}