.primary-checkbox {
  /* Customize the label (the container) */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  padding-left: 40px;

  label {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    cursor: pointer;
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  span {
    position: absolute;
    left: 0;
    top: calc(50% - 11px);
    height: 19px;
    width: 19px;
    border: 1px solid $tertiary-color;
    background-color: $primary-background-color;
    border-radius: $primary-border-radius;
    transition: 0.35s;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ span {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  span:after {
    content: url($primary-checkbox);
    position: absolute;
    left: 1px;
    top: -3px;
    opacity: 0;
    transition: 0.35s;
    height: 90%;
    width: 80%;
    /*transform: scale(1);*/
  }

  /* Style the checkmark/indicator */
  input:checked ~ span:after {
    opacity: 1;
    /*animation: 0.45s bounce-icon-checkbox;*/
  }

  /*  input:active ~ span:after {
      transform: scale(0.8)
    }

    @keyframes bounce-icon-checkbox {
      from { transform: scale(1) }
      50% { transform: scale(0.8) }
      to { transform: scale(1) }
    }*/
}
