.react-tel-input {
  input {
    line-height: $font-size-base;
    letter-spacing: 0.2px;
    margin: 0;
    height: 50px;
    outline: none;
    width: 100% !important;
    background-color: $extra-light-blue;
    color: $tertiary-text-color;
    border: 0.5px solid $light-stroke-form-field-color !important;
    border-radius: $primary-border-radius;
    transition: 0.2s;
    box-shadow: $form-fields-box-shadow;

    &::placeholder {
      color: $placeholder-color;
    }

    &:focus {
      border-color: $stroke-form-field-color;
    }

    &:disabled {
      background-color: $input-disabled-bg;
    }
  }

  .country-list {
    width: calc(100vw - 30px) !important;

    .search-box {
      max-width: 95%;
    }
  }
}
