.primary-file-add {
  display: inline-flex;
  position: relative;

  &.upload-file-with-preview {
    display: flex;

    canvas {
      width: 100% !important;
      height: 110px !important;
      object-fit: cover;
    }

    .js-delete-photo {
      display: inline-flex;
      position: absolute;
      top: -16px;
      right: -15px;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $secondary-color;
      color: $color-white;
      cursor: pointer;

      svg {
        width: 13px;
        height: 13px;
      }
    }
  }

  label {
    cursor: pointer;
    min-height: 110px;
    background-color: $extra-light-blue-spacer;
    background-image: url($primary-file-add-stroke);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: $secondary-color;
    border-radius: 2px;
  }
}
