.primary-text-input {
    padding-bottom: 25px;

    &.text-center {
        input {
            text-align: center;
        }
    }

    .top-form-fields {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        line-height: $primary-line-height;
        color: $placeholder-color;

        .max-characters-number {
            margin-left: 20px;
        }
    }

    label {
        margin-bottom: 2px;
        color: $placeholder-color;
    }

    input.error {
        border: 1px solid $error-red !important;
    }

    input.success {
        border: 1px solid $success-color !important;
        color: $success-color !important;
    }

    input.copy-success {
        color: $success-color !important;
        border-color: $success-color !important;
    }
    input.copy-error {
        color: $error-red !important;
        border-color: $error-red !important;
    }

    &.error {
        padding-bottom: 0;

        .input-container {
            display: block;

            &::after {
                content: url($primary-input-error);
                display: block;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }

            input {
                border-color: $error-red !important;
                padding-right: 35px;
            }
        }

        .input-container_icon-card {
            &::after {
                right: 15px;
            }
        }

        @media (min-width: 375px) {
            .input-container_button {
                &::after {
                    right: calc(30% + 20px);
                }
            }
        }

        @media (max-width: 320px) {
            .input-container_button {
                &::after {
                    top: 25px;
                }
            }
        }

        .error-message {
            display: block;
        }
    }

    &.success {
        .success-message {
            display: block;
        }
    }

    &.gray-input-bg {
        input {
            background-color: $dirty-gray-color !important;
        }
    }

    &.transparent-input-bg {
        input {
            background-color: transparent !important;
        }
    }

    &.border-none {
        input {
            border: none!important;
        }
    }

    &.b-r-2 {
        input {
            border-radius: 2px!important;
        }
    }

    .input-container {
        input {
            line-height: $font-size-base;
            letter-spacing: 0.2px;
            padding: 0 10px;
            margin: 0;
            height: 50px;
            outline: none;
            width: 100%;
            background-color: $extra-light-blue;
            color: $tertiary-text-color;
            border: 0.5px solid $light-stroke-form-field-color;
            border-radius: $primary-border-radius;
            transition: 0.2s;
            box-shadow: $form-fields-box-shadow;

            &::placeholder {
                color: $placeholder-color;
            }

            &:focus {
                //border-radius: $secondary-border-radius;
                border-color: $stroke-form-field-color;
            }

            &:disabled {
                background-color: $input-disabled-bg;
            }

            &:read-only {
                background-color: $input-readonly-bg;
            }
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .input-container_button {
        display: flex !important;

        .btn {
            flex-shrink: 0;
            width: 30%;
            margin-left: 10px;
        }
    }

    @media (max-width: 320px) {
        .input-container_button {
            flex-flow: column;

            .btn {
                width: 100%;
                margin: 10px 0 0;
            }
        }
    }

    .field-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 100%;
    }

    .field-icon_not-interactive {
        pointer-events: none;
    }

    .field-icon_align-right {
        right: 0;
        left: auto;
    }

    .field-icon_password-hide {
        font-size: 10px;
        color: $secondary-color;
        text-transform: uppercase;
    }

    .field-icon_clear {
        right: 47px;
        appearance: none;
        border: none;
        background: none;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    .field-icon_search {
        appearance: none;
        border: none;
        background: none;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    .credit_card {
        right: 10px;
        left: auto;
        top: 7px;
        width: 56px;
        height: 35px;
    }

    .input-container_icon-left {
        input {
            padding-left: 40px;
        }
    }

    .input-container_icon-right {
        input {
            padding-right: 40px;
        }
    }

    .input-container_icon-card {
        input {
            padding-right: 90px;
            font-weight: 600;
            letter-spacing: 1px;

            &::-webkit-input-placeholder {
                font-weight: normal;
                letter-spacing: normal;
            }
            &::-moz-placeholder {
                font-weight: normal;
                letter-spacing: normal;
            }
            &:-ms-input-placeholder {
                font-weight: normal;
                letter-spacing: normal;
            }
            &:-moz-placeholder {
                font-weight: normal;
                letter-spacing: normal;
            }
        }
    }

    .input-container_icon-clear {
        input {
            padding-right: 100px;
        }
    }

    .error-message {
        display: none;
        margin-top: 4px;
        color: $error-red;
        padding-left: 10px;
    }

    .success-message {
        display: none;
        margin-top: 4px;
        color: $success-color;
        padding-left: 10px;
    }
}
