.wrapper-primary-radio-btn {
    display: flex;
    flex-direction: column;

    .primary-radio-btn {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &.active {
            border: 1.2px solid $secondary-color !important;
        }

        text-align: left;
        padding: 15px 10px;
        border-radius: $primary-border-radius !important;
        font-size: $font-size-base;
        font-weight: 400;
        background-color: $primary-background-color;
        border: 0.2px solid rgba(91, 91, 91, 0.2) !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.159309);
        color: currentColor;
    }
}
