.primary-credit-card-input {
    .card-images {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        align-items: center;

        img:not(:last-child) {
            margin-right: 10px;
        }
    }

    .input-container input {
        padding-right: 120px;

        &::placeholder {
            font-size: 14px !important;
        }
    }
}