.secondary-checkbox-container {
    display: block;
    height: 24px;
    width: 40px;
    label {
        width: 40px;
        height: 24px;
        margin-bottom: 0;
    }
    input[type="checkbox"].secondary-checkbox {
        position: absolute;
        margin: 8px 0 0 16px;
    }
    input[type="checkbox"].secondary-checkbox + label {
        position: relative;
    }
    input[type="checkbox"].secondary-checkbox + label:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 40px;
        height: 24px;
        border-radius: 16px;
        background: #fff;
        border: 1px solid $secondary-color;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    input[type="checkbox"].secondary-checkbox + label:after {
        content: "";
        position: absolute;
        display: block;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        border-radius: 16px;
        background: #fff;
        border: 1px solid $secondary-color;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    input[type="checkbox"].secondary-checkbox + label:hover:after {
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    input[type="checkbox"].secondary-checkbox:checked + label:after {
        border-color: #ffffff;
        margin-left: 16px;
    }
    input[type="checkbox"].secondary-checkbox:checked + label:before {
        background: $secondary-color;
    }
}


