.secondary-radio {
    /* Customize the label (the container) */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 35px;

    label {
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    span {
        position: absolute;
        left: 0;
        height: 22px;
        width: 22px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        background-color: $primary-background-color;
        transition: .25s;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ span {
        background-color: $color-white;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    span:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        transition: 0.35s;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $primary-color;
        transform: translate(-50%, -50%);
    }

    /* Style the checkmark/indicator */
    input:checked ~ span:after {
        opacity: 1;
    }
}