.wrapper-secondary-checkbox-radio-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.159309);

    .primary-checkbox-radio-btn {
        margin: 0 !important;
        transition: 0.2s;
        padding: 15px 5px;
        border-radius: $primary-border-radius;
        font-size: $font-size-base;
        font-weight: 400;
        flex: 1 1 100%;
        line-height: normal;
        background-color: $primary-background-color;
        border-top: none;
        border-bottom: none;
        color: currentColor;

        &.active {
            background-color: $sixth-background-color;
            color: $white-text-color;
            box-shadow: none;
        }

        &.focus {
            box-shadow: none !important;
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(91, 91, 91, 0.2) !important;
        }

        &:not(:last-child).active {
            border-right: 1px solid $color-white !important;
        }
    }
}