.secondary-submit-btn {
  background-color: $secondary-color;
  outline: none;
  border: none;
  border-radius: $primary-border-radius;
  width: 100%;
  height: 46px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: $font-size-base;
  color: $color-white;
}