.success-filled-btn {
    background-color: $success-background-color;
    outline: none;
    border: 1px solid $darker-success-color;
    border-radius: $primary-border-radius;
    width: 100%;
    height: 50px;
    transition: 0.2s;
    font-weight: 600;
    font-size: $font-size-base;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: $primary-text-shadow;
    @include primary-btn-box-shadow($light-success-color);

    &:hover,
    &:active,
    &:focus {
        outline: none;
        border-color: $darker-success-color;
        background-color: $darker-success-background-color;
        color: $color-white;
        text-shadow: none;
        box-shadow: none;
    }
    &:hover {
        color: $color-white;
    }
}
