.first-text {
  font-family: ProximaNova, "Helvetica Neue", OpenSans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.second-text {
  font-family: ProximaNova, "Helvetica Neue", OpenSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #828282;
}