{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('bannedCards_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">
                    {% include 'crm/partials/filter-form.html.twig' with {
                        'filters':[
                            {
                                'name': 'cc_id',
                                'placeholder': 'CreditCard ID',
                            }
                        ],
                        'reset_url': path('bannedCards_list'),
                    } %}
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Banned Credit Cards</div>
                <div class="card-body">

                    {% if cards|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>CC Number</th>
                                <th>Exp</th>
                                <th>Cardholder name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Ban reason</th>
                                <th>Ban date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for card in cards %}
                                <tr>
                                    <td class="td-id">{{ card.id }}</td>
                                    <td>{{ card.cardNumber }}</td>
                                    <td>{{ card.expiryMonth }}/{{ card.expiryYear }}</td>
                                    <td>{{ card.cardholderName }}</td>
                                    <td>{{ card.address }}</td>
                                    <td>{{ card.city }}</td>
                                    <td>{{ card.state }}</td>
                                    <td>{{ card.zipcode }}</td>
                                    <td>{{ card.banReason }}</td>
                                    <td>{{ card.bannedTime|date('d-m-Y h:m:s') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'bannedCards_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
