{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div id="exampleAccordion" data-children=".item">
                        <div class="item">
                            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="false" aria-controls="exampleAccordion1">Search by criteria</a>
                            <div class="collapse show" id="exampleAccordion1" role="tabpanel">
                                <div class="card-body">
                                    <form action="" method="get">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Account ID</span></div>
                                                <input class="form-control" id="accountId" type="text" name="accountId" autocomplete="accountId">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Credit Card ID</span></div>
                                                <input class="form-control" id="creditCardId" name="creditCardId" autocomplete="creditCardId">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Created At</span></div>
                                                <input class="form-control" id="createdAt" name="createdAt" autocomplete="createdAt">
                                            </div>
                                        </div>
                                        <div class="form-group form-actions">
                                            <button class="btn btn-md btn-primary" type="submit">Search</button>
                                            <button class="btn btn-md btn-secondary" type="text" onclick="window.location.href='{{ path('payment_list') }}'; return false;">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% include 'crm/partials/filter-form.html.twig' with {
                        'filters': [{
                                'name': 'result',
                                'placeholder': 'Status',
                                'type': 'select',
                                'options': status_options,
                            },
                            {
                                'name': 'type',
                                'placeholder': 'Is Subscription',
                                'type': 'select',
                                'options': type_options,
                            }],
                        'reset_url': path('payment_list'),
                    } %}
                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Payments</div>
                <div class="card-body">

                    {% if payments|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th class="sorting td-id" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                                <th>Status</th>
                                <th class="sorting" id="t.accountId" onclick="ordering('t.accountId', 'desc');">Account ID</th>
                                <th class="sorting" id="t.cardId" onclick="ordering('t.cardId', 'desc');">Credit Card ID</th>
                                <th class="sorting" id="t.sentAt" onclick="ordering('t.sentAt', 'desc');">Created At</th>
                                <th class="sorting" id="t.amount" onclick="ordering('t.amount', 'desc');">Total</th>
                                <th class="sorting" id="t.transId" onclick="ordering('t.transId', 'desc');">Transaction ID</th>
                                <th>Subscription</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td class="td-id">{{ payment.id }}</td>
                                    {% include 'crm/payments/status.html.twig' with {
                                        'status': payment.result,
                                        'statusInString': payment.resultInString
                                    } %}
                                    <td>
                                        <a title="Watch account info" onclick="getAccountInfo({{ payment.accountId }}); return false;" href="#">{{ payment.accountId }}</a>
                                    </td>
                                    <td>{{ payment.cardId }}</td>
                                    <td>{{ payment.sentAt|date("d-m-Y H:i:s") }}</td>
                                    <td>{{ payment.amount / 100 }} $</td>
                                    <td>{{ payment.transId }}</td>
                                    <td>{% if payment.isSubscription %}Yes{% endif %}</td>
                                    <td>
                                        {% if payment.result is same as ('A') %}
                                            <a href="#" class="btn btn-warning">Refund</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'payment_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            fuzzyFilter('accountId');
            fuzzyFilter('creditCardId');
            fuzzyFilter('createdAt');
        });
    </script>
{% endblock %}
