{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                'reset_url': path('promocode_list'),
            } %}
            <a class="btn btn-success" href="{{ path('promocode_add') }}">Add</a>
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Promocodes</div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                        <thead>
                        <tr>
                            <th class="sorting" id="t.id" onclick="ordering('t.id', 'desc');">ID</th>
                            <th>Code</th>
                            <th>Section</th>
                            <th>Left</th>
                            <th>Type</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Management</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for code in promocodes %}
                                <tr>
                                    <td>{{ code.id }}</td>
                                    <td>{{ code.code }}</td>
                                    <td>{{ code.section }}</td>
                                    <td>{{ code.codeCount }}</td>
                                    <td>{{ code.type }}</td>
                                    <td>{{ code.createdAt|date('Y-m-d H:m:s') }}</td>
                                    <td>
                                        {% if code.deletedAt is not null %}
                                            Deleted
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="">Edit</a>
                                        <a href="{{ path('promocode_delete', {id: code.id}) }}">Delete</a>
                                        <a href="">Clone</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'crm/partials/pagination.html.twig' with {
                        'total': total,
                        'limit': limit,
                        'url': 'promocode_list',
                        'query': false,
                    } %}
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
