{% if status == 'D' %}
    <td><span class="badge badge-pill badge-danger">{{ statusInString }}</span></td>
{% elseif status == 'C' %}
    <td><span class="badge badge-pill badge-warning">{{ statusInString }}</span></td>
{% elseif status == 'I' or status == 'S' %}
    <td><span class="badge badge-pill badge-info">{{ statusInString }}</span></td>
{% elseif status == 'U' %}
    <td><span class="badge badge-pill badge-secondary">{{ statusInString }}</span></td>
{% elseif status == 'A' %}
    <td><span class="badge badge-pill badge-success">{{ statusInString }}</span></td>
{% endif %}
