{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="exampleAccordion" data-children=".item">
                        <div class="item"><a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="false" aria-controls="exampleAccordion1">Search by criteria</a>
                            <div class="collapse show" id="exampleAccordion1" role="tabpanel">
                                <div class="card-body">
                                    <form action="" method="get">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                                                <input class="form-control" id="from" type="text" name="from" autocomplete="from">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">To</span></div>
                                                <input class="form-control" id="to" name="to" autocomplete="to">
                                            </div>
                                        </div>
                                        <div class="form-group form-actions">
                                            <button class="btn btn-sm btn-primary" type="submit">Search</button>
                                            <button class="btn btn-sm btn-secondary" type="submit" onclick="return location.href = '{{ path('payment_list') }}'">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Statistics</div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>New count</th>
                            <th>New amount</th>
                            <th>Renew count</th>
                            <th>Renew amount</th>
                            <th>Upgrade count</th>
                            <th>Upgrade amount</th>
                            <th>Total count</th>
                            <th>Total amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for city, statistic in statistics %}
                            <tr>
                                <td>{{ city }}</td>
                                <td>{{ statistic.countOfNewEscorts }}</td>
                                <td>{{ statistic.amountOfNewEscorts }} $</td>
                                <td>{{ statistic.renewCount }}</td>
                                <td>{{ statistic.renewAmount }} $</td>
                                <td>{{ statistic.upgradeCount }}</td>
                                <td>{{ statistic.upgradeAmount }} $</td>
                                <td>{{ statistic.totalCount }}</td>
                                <td>{{ statistic.totalAmount }} $</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
