{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Transactions</div>
                <div class="card-body">

                    {% if transactions|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Payment ID</th>
                                <th>Created At</th>
                                <th>Type</th>
                                <th>Transaction ID</th>
                                <th>AMOUNT</th>
                                <th>Management</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                {%
                                    set amount = transaction.amount / 100
                                %}
                                <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ transaction.paymentId }}</td>
                                    <td>{{ transaction.createdAt|date('Y-m-d H:m:s') }}</td>
                                    <td>{{ transaction.type }}</td>
                                    <td>{{ transaction.transId }}</td>
                                    <td>{{ amount }}</td>
                                    <td>
                                        <a href="{{ path('refund', {
                                            'paymentId': transaction.paymentId,
                                            'transactionId': transaction.id,
                                            'amount': transaction.amount
                                        }) }}">Refund</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'transaction_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
{% endblock %}
