.hamburger {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  font-size: 16px;
}

.hamburger__node {
  position: relative;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0 15px;
}

.hamburger__node--active {
  color: #ab2121;
  cursor: default;
}

.hamburger__label {
  display: flex;
  color: #3b5999;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.hamburger__node--depth-0 {

  /* OPEN */
  &.hamburger__node--expanded {
    background: #eaeff5;

    .hamburger__node {
      background: #eaeff5;
    }

    .hamburger__label {
      color: #121719;
      border-bottom: 1px solid #fff;
    }

    .hamburger__label--depth-0 {
      &::after {
        content: url($stroke);
        top: 8px;
      }
    }
  }

  /* CLOSED */
  .hamburger__label--depth-0 {
    border-bottom: 1px solid #eaeff5;

    &::after {
      position: absolute;
      content: url($plus);
      right: 2px;
      top: 14px;
    }
  }
}

.hamburger__node--depth-1 {
  padding: 0;

  /* OPEN */
  &.hamburger__node--expanded {
    .hamburger__label {
      &::after {
        position: absolute;
        content: url($chevron-right);
        right: 2px;
        top: 14px;
        transform: rotate(-90deg);
        transition: .4s all;
      }
    }
  }

  /* CLOSED */
  .hamburger__label {
    font-weight: 400;

    &::after {
      position: absolute;
      content: url($chevron-right);
      right: 7px;
      top: 14px;
      transform: rotate(90deg);
      transition: .4s all;
    }
  }
}

.hamburger__node--depth-2 {
  padding: 0;

  .hamburger__label {
    padding: 0 0 0 30px;

    a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 15px 0;
      color: #121719;
    }

    &::before {
      position: absolute;
      content: url($location-marker);
      left: 0;
      top: 18px;
    }

    &:after {
      display: none;
    }
  }
}

.hamburger__label--deselect {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  user-select: none;
}
