.our-banners {
  textarea {
    height: 440px;
  }
}

.banner-img-element {
  .ul-banner-links {
    .banner-li {
      & > * {
        color: #000000;
      }

      &:not(:last-child):after {
        content: '|';
        padding: 0 3px;
        font-size: $font-size-12;
      }

      .banner-link {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}