.thumbnail-select {
    .thumb_image {
        width: 100px;
    }

    .thumb_image_select {
        display: flex;
        flex-wrap: wrap;

        .file_uploader__button {
            text-align: center;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            width: 100px;
            height: 100px;
            border-radius: 0;
        }

        .thumb {
            display: inline-block;
            float: left;
            cursor: pointer;
            padding: 3px;
            border: 2px solid #fff;
            width: 110px;
            height: 110px;
            margin: 0 0 10px;

            & + .thumb {
                margin-left: 7px;
            }

            &.selected {
                border-color: #007bff;
            }
        }
    }
}

.thumbnail-current {
    .thumbnail-current-image {
        width: 125px;
    }
}

.thumbnail-crop-preview {
    width: 125px;
    height: 125px;
    overflow: hidden;
}
