.place {
    .nav-tabs {
        overflow-x: auto;
    }

    .data-list-item {
        .left {
            flex-shrink: 0;
            margin-right: 10px;
        }

        .right {
            text-align: right;
        }
    }
}
