.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: $loading-background-color;
    color: $primary-color;
    z-index: 1000;
    height: 100vh;

    &.with-payment {
        background-color: $loading-background-color-pay;
    }
}

.loader-progress {
    font-size: 12px;
}

.loader-payment {
    text-align: center;
    top: 30%;
    position: absolute;
    font-weight: 600;
}

.loader-icon {
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    width: 56px;
    height: 56px;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
