#mobile_headerpromo, #mobile_footerpromo {
    display: flex!important;
    justify-content: center!important;
    padding: 10px 0!important;
    margin: 0!important;
    height: auto!important;
    width: auto!important;
    background-color: transparent!important;
}