.city-accordion-card-body {
    .city-accordion-card-header {
        &.collapsed {
            .name {
                &::after {
                    right: 4px !important;
                }
            }
        }

        .name {
            &::after {
                right: 1px !important;
            }
        }
    }
}