#xe_currency_convert {
    position: fixed !important;
    height: 100% !important;
    max-height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    overflow-y: scroll !important;
    padding: 15px !important;
    border: none !important;
    z-index: 1042 !important;

    br {
        display: none !important;
    }

    table {
        width: 100% !important;
        margin-top: 15px !important;
    }

    td {
        display: block !important;
        width: 100% !important;
        padding: 0 !important;
    }

    ul {
        padding: 0 !important;
        margin: 0 !important;

        li {
            position: relative !important;
            margin: 0 !important;
            color: $tertiary-color !important;
            padding: 10px 0 !important;
            border-bottom: 1px solid $extra-light-blue-spacer !important;

            &.highlight {
                font-weight: 400 !important;
            }

            &:hover, &.currency_preset {
                font-weight: 400 !important;
                color: $secondary-color !important;
            }

            &::after {
                content: url($chevron-right) !important;
                display: block !important;
                position: absolute !important;
                right: 0 !important;
                top: 13px !important;
            }
        }
    }

    .closer {
        text-transform: capitalize !important;
        color: $secondary-color !important;


        &:nth-of-type(1) {
            position: absolute !important;
            right: 15px !important;
            top: 21px !important;
            border: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }

        &:nth-of-type(2) {
            text-align: center !important;
            margin: 50px 0 0 !important;
            float: none !important;
            border-color: $secondary-color !important;
            border-radius: 2px !important;
            padding: 8px 0 !important;

            &::before {
                content: 'Currency Converter ' !important;
                display: block !important;
                position: absolute !important;
                top: 14px !important;
                left: 15px !important;
                color: $tertiary-color !important;
                font-weight: 600 !important;
                font-size: 24px !important;
            }
        }
    }
}