.globalClass_ET {
    & > jdiv:first-child {
        & > jdiv {
            bottom: 65px;
            right: -10px;
            transform: scale(0.75)!important;
            margin-bottom: -10px!important;
            margin-right: 2px!important;
        }
    }
}