.our-banners-container {
    #city.pseudo-elements-hidden {
        &::after, &::before {
            content: '';
        }
    }

    #state {
        &::before {
            content: 'Choose State';
            position: absolute;
            top: -34px;
            color: $placeholder-color;
        }
    }

    #city {
        &::before {
            content: 'Choose City';
            position: absolute;
            top: -34px;
            color: #717171;
        }
    }

    .state-select-container {
        padding-top: 30px;
    }

    textarea, img {
        width: 100%;
    }

    img {
        margin-bottom: 20px;
    }


    hr {
        display: none;
    }

    .ob {
        font-size: 12px;
        &:last-child {
            display: none;
        }

        & > a:nth-of-type(1), & > a:nth-of-type(2), & > a:nth-of-type(3), & > a:nth-of-type(4) {
            font-weight: 600;
            font-size: 12px;
            text-decoration: underline;
            color: black;
            display: inline-block;
        }
    }
}