.payment-container-inner {
    .table-item {
        position: relative;
        a {
            &::after {
                content: '' !important;
            }

            &.cancel-subscription {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}