
$alert-error-color: $error-red;
$alert-error-bg-color: #FFE6E6;

$alert-success-color: $success-color;
$alert-success-bg-color: #d4edda;

$alert-warning-color: #856404;
$alert-warning-bg-color: #fff3cd;

.alert-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.alert {
  padding: 12px 45px 12px 15px;
  font-weight: 600;
  margin: 0;
  border-radius: 6px;

  &.not-closable {
    padding: 10px;
    font-weight: normal;
  }

  .alert_close {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none !important;

    .icon_alert_close {
      width: 16px;
      height: 16px;
    }
  }

  &.alert-error {
    color: $alert-error-color;
    border-color: $alert-error-color;
    background-color: $alert-error-bg-color;

    .icon_alert_close {
      color: $alert-error-color;
    }
  }

  &.alert-success {
    color: $alert-success-color;
    border-color: $alert-success-color;
    background-color: $alert-success-bg-color;

    .icon_alert_close {
      color: $alert-success-color;
    }
  }

  &.alert-warning {
    color: $alert-warning-color;
    border-color: $alert-warning-color;
    background-color: $alert-warning-bg-color;

    .icon_alert_close {
      color: $alert-warning-color;
    }
  }
}
