{% extends 'crm/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        {% include 'crm/partials/fuzzy-search-form.html.twig' with {
                            'reset_url': path('country_list'),
                        } %}
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>

            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i>Countries</div>
                <div class="card-body">

                    {% if locations|length %}
                        <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable">
                            <thead>
                            <tr>
                                <td class="td-id">ID</td>
                                <td>Name</td>
                                <td>Code</td>
                                <td>Management</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                                <tr>
                                    <td class="td-id">{{ location.id }}</td>
                                    <td>{{ location.name }}</td>
                                    <td>{{ location.code }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="#">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="#">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% include 'crm/partials/pagination.html.twig' with {
                            'total': total,
                            'limit': limit,
                            'url': 'country_list',
                            'query': false,
                        } %}
                    {% else %}
                        {% include 'crm/partials/no-results.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
