.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.steps:before {
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    border-top: 4px solid #C2D1DD;
}

.steps_4:before {
    left: calc(100% / 4 / 2);
    right: calc(100% / 4 / 2);
}

.steps__item {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 4px;
    text-align: center;
}

.steps__index {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #C2D1DD;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.steps__index_current {
    background-color: #3B5999;
}

.steps__index_last {
    background-color: #0EA400;
}

.steps__title {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #3B3B3B;
}
