.icon_adult-cinema {
    background-image: url('/images/categories/adult-cinema.svg');
}

.icon_adult-theatre {
    background-image: url('/images/categories/adult-theatre.svg');
}

.icon_bar-of-prostitution {
    background-image: url('/images/categories/bar-of-prostitution.svg');
}

.icon_bdsm {
    background-image: url('/images/categories/bdsm.svg');
}

.icon_beer-bar {
    background-image: url('/images/categories/beer-bar.svg');
}

.icon_blow-job-bar  {
    background-image: url('/images/categories/blow-job-bar.svg');
}

.icon_body-rubs {
    background-image: url('/images/categories/body-rubs.svg');
}

.icon_bordello {
    background-image: url('/images/categories/bordello.svg');
}

.icon_brothel {
    background-image: url('/images/categories/brothel.svg');
}

.icon_brothel-bar {
    background-image: url('/images/categories/brothel-bar.svg');
}

.icon_cabaret {
    background-image: url('/images/categories/cabaret.svg');
}

.icon_cabaret-show {
    background-image: url('/images/categories/cabaret-show.svg');
}

.icon_casino {
    background-image: url('/images/categories/casino.svg');
}

.icon_club {
    background-image: url('/images/categories/club.svg');
}

.icon_coffee-shop-blowjob {
    background-image: url('/images/categories/coffee-shop-blowjob.svg');
}

.icon_disco {
    background-image: url('/images/categories/disco.svg');
}

.icon_eros-center {
    background-image: url('/images/categories/eros-center.svg');
}

.icon_erotic-massage-parlor {
    background-image: url('/images/categories/erotic-massage-parlor.svg');
}

.icon_tstv-shemale-escorts {
    background-image: url('/images/categories/tstv-shemale-escorts.svg');
}

.icon_fetish-club {
    background-image: url('/images/categories/fetish-club.svg');
}

.icon_female-escorts {
    background-image: url('/images/categories/female-escorts.svg');
}

.icon_fkk-club {
    background-image: url('/images/categories/fkk-club.svg');
}

.icon_freelance-bar {
    background-image: url('/images/categories/freelance-bar.svg');
}

.icon_gay {
    background-image: url('/images/categories/gay.svg');
}

.icon_gay-bar {
    background-image: url('/images/categories/gay-bar.svg');
}

.icon_gay-bar-of-prostitution {
    background-image: url('/images/categories/gay-bar-of-prostitution.svg');
}

.icon_gay-bath-house {
    background-image: url('/images/categories/gay-bath-house.svg');
}

.icon_gay-erotic-massage-parlor {
    background-image: url('/images/categories/gay-erotic-massage-parlor.svg');
}

.icon_gay-fetish {
    background-image: url('/images/categories/gay-fetish.svg');
}

.icon_gay-go-go-bar {
    background-image: url('/images/categories/gay-go-go-bar.svg');
}

.icon_gay-ktv-bar {
    background-image: url('/images/categories/gay-ktv-bar.svg');
}

.icon_gay-lesbian-bar {
    background-image: url('/images/categories/gay-lesbian-bar.svg');
}

.icon_gay-night-club {
    background-image: url('/images/categories/gay-night-club.svg');
}

.icon_gay-sauna {
    background-image: url('/images/categories/gay-sauna.svg');
}

.icon_girlie-bar {
    background-image: url('/images/categories/girlie-bar.svg');
}

.icon_go-go-bar {
    background-image: url('/images/categories/go-go-bar.svg');
}

.icon_hostess-bar {
    background-image: url('/images/categories/hostess-bar.svg');
}

.icon_hotel {
    background-image: url('/images/categories/hotel.svg');
}

.icon_hotels-freelance-escorts {
    background-image: url('/images/categories/hotels-freelance-escorts.svg');
}

.icon_hotel-massage {
    background-image: url('/images/categories/hotel-massage.svg');
}

.icon_ktv-bar {
    background-image: url('/images/categories/ktv-bar.svg');
}

.icon_lady-boy-massage-parlor {
    background-image: url('/images/categories/lady-boy-massage-parlor.svg');
}

.icon_lady-boy-bar {
    background-image: url('/images/categories/lady-boy-bar.svg');
}

.icon_lady-boy-cabaret-show {
    background-image: url('/images/categories/lady-boy-cabaret-show.svg');
}

.icon_lady-boy-go-go-bar {
    background-image: url('/images/categories/lady-boy-go-go-bar.svg');
}

.icon_laufhaus {
    background-image: url('/images/categories/laufhaus.svg');
}

.icon_lingerie-modeling-1on1 {
    background-image: url('/images/categories/lingerie-modeling-1on1.svg');
}

.icon_live-sex-show {
    background-image: url('/images/categories/live-sex-show.svg');
}

.icon_male-revue {
    background-image: url('/images/categories/male-revue.svg');
}

.icon_male-strip-club {
    background-image: url('/images/categories/male-strip-club.svg');
}

.icon_male4male {
    background-image: url('/images/categories/male4male.svg');
}

.icon_malls-whore-bars {
    background-image: url('/images/categories/malls-whore-bars.svg');
}

.icon_night-club-freelance-escorts {
    background-image: url('/images/categories/night-club-freelance-escorts.svg');
}

.icon_nudist-colony {
    background-image: url('/images/categories/nudist-colony.svg');
}

.icon_peep-show {
    background-image: url('/images/categories/peep-show.svg');
}

.icon_personne {
    background-image: url('/images/categories/personne.svg');
}

.icon_privat {
    background-image: url('/images/categories/privat.svg');
}

.icon_prives-brothels {
    background-image: url('/images/categories/prives-brothels.svg');
}

.icon_pub-and-restaurant {
    background-image: url('/images/categories/pub-and-restaurant.svg');
}

.icon_red-light-district {
    background-image: url('/images/categories/red-light-district.svg');
}

.icon_restaurant-boom-boom {
    background-image: url('/images/categories/restaurant-boom-boom.svg');
}

.icon_salon-boom-boom {
    background-image: url('/images/categories/salon-boom-boom.svg');
}

.icon_sauna {
    background-image: url('/images/categories/sauna.svg');
}

.icon_sex-club {
    background-image: url('/images/categories/sex-club.svg');
}

.icon_sex-forum {
    background-image: url('/images/categories/sex-forum.svg');
}

.icon_sex-kino {
    background-image: url('/images/categories/sex-kino.svg');
}

.icon_sex-resort {
    background-image: url('/images/categories/sex-resort.svg');
}

.icon_sex-shop {
    background-image: url('/images/categories/sex-shop.svg');
}

.icon_tstv-shemale-escorts {
    background-image: url('/images/categories/tstv-shemale-escorts.svg');
}

.icon_short-time {
    background-image: url('/images/categories/short-time.svg');
}

.icon_short-time-hotel {
    background-image: url('/images/categories/short-time-hotel.svg');
}

.icon_soapy-massage-parlor {
    background-image: url('/images/categories/soapy-massage-parlor.svg');
}

.icon_spa {
    background-image: url('/images/categories/spa.svg');
}

.icon_strip-club {
    background-image: url('/images/categories/strip-club.svg');
}

.icon_strip-club-brothel {
    background-image: url('/images/categories/strip-club-brothel.svg');
}

.icon_studio {
    background-image: url('/images/categories/studio.svg');
}

.icon_swingers-club {
    background-image: url('/images/categories/swingers-club.svg');
}

.icon_topless-pool {
    background-image: url('/images/categories/topless-pool.svg');
}

.icon_tranny-show {
    background-image: url('/images/categories/tranny-show.svg');
}

.icon_whore-house {
    background-image: url('/images/categories/whore-house.svg');
}

.icon_m4m {
    background-image: url('/images/categories/m4m.svg');
}
