.primary-breadcrumbs {
  .breadcrumb {
    padding: 5px 0;
    margin: 0;

    .breadcrumb-item {
      .link {
        color: $tertiary-text-color;
      }

      &::before {
        padding-right: 5px;
      }
    }
  }
}
