/* images upload */
.file_uploader {
  .file_uploader__container {
    background: transparent;
    box-shadow: none;
    padding: 0;
  }

  .file_uploader__button {
    cursor: pointer;
    height: 90px;
    width: 100%;
    background-color: $extra-light-blue-spacer;
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-grow: 1;*/
    flex-shrink: 0;
    color: $secondary-color;
    border-radius: 6px;
    border-width: 2px;
    border-style: dashed;

    input[type="file"],
    &.hidden {
      display: none;
    }
  }

  .file_uploader__delete {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $secondary-color;
    border: 4px solid $color-white;
    color: $color-white;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2L2 11L11 2Z' fill='%2320222F'/%3E%3Cpath d='M11 2L2 11' stroke='white' stroke-width='4' stroke-linecap='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 2L11 11L2 2Z' fill='%2320222F'/%3E%3Cpath d='M2 2L11 11' stroke='white' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    position: absolute;
    right: -10px;
    top: -10px;
  }

  .file_uploader__preview {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .file_uploader__picture {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 6px;

    &.processing {
      background-image: url('/images/processing.png');
      background-size: contain;
    }

    .file_uploader__img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 6px;
    }
  }

  @media (max-width: 375px) {
    .file_uploader__picture {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 320px) {
    .file_uploader__picture {
      width: 85px;
      height: 85px;
    }
  }

  .file_uploader__error {
    font-weight: 600;
    color: $error-red;
  }

  .loader {
    position: relative;
    background: transparent;
    overflow: visible;
  }
}
